.megamenu {
   .link-list-wrapper {
    a.disabled {
      span {
        color: #63707e!important; 
      }
    }
   }
 }

.it-card-footer {
  .dropdown .dropdown-menu {
    min-width: 260px;
  }
}

.dropdown-item {
  white-space: normal;
}