.megamenu {
   .link-list-wrapper {
    a.disabled {
      span {
        color: #63707e!important; 
      }
    }
   }
 }

.di-card-footer-content {
  .dropdown .dropdown-menu {
    min-width: 240px;
  }
}

.dropdown-item {
  white-space: normal;
}