a.tag {
	background-color: var(--tag-bg-color);
	padding: var(--tag-y-padding) var(--tag-x-padding);
	border-radius: var(--tag-radius);
	color: var(--tag-color);
	font-size: var(--tag-font-size);
	font-weight: var(--tag-font-weight);
	display: inline-flex;
	text-decoration: none;
}