@import "../../scss/bootstrap-breakpoints";
.section-media {
  padding-top: var(--section-editorial-y-padding);
  padding-bottom: var(--section-editorial-y-padding);
  &.bg-primary-light {
    background-color: var(--color-primary-light);
  }

}
//Mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(sm) {

}
//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {

}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {

}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {
  .section-media {
    padding-top: var(--section-editorial-y-padding-desk);
    padding-bottom: var(--section-editorial-y-padding-desk);
  }
  .design-system .section-media {
    h2, .text-container p {
      width: 75%;
    }
    .content h2 {
      width: inherit;
    }
  }
}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {
}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {
}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}
