@import "../../scss/bootstrap-breakpoints";

.nav-sidebar {
  .nav-sidebar-header {
    h2 {
      line-height: 1.6;
    }
    .header-image {
      width: calc(var(--spacer) * 16);
      height: auto;
    }
  }

  .navbar.it-navscroll-wrapper {
    .link-list-wrapper {
      ul {
        &.link-list {
          button {
            display: block;
            padding: 0 24px;
            color: var(--color-primary) !important;
            width: 100%;
            border-right: 4px solid transparent !important;

            &.contains-active {
              border-color: var(--color-primary) !important;
            }

            span span {
              text-align: left;
            }

            .icon {
              transition: transform .3s;
            }

            &[aria-expanded="true"] {
              .icon {
                transform: scaleY(-1);
              }
            }
          }

          a,
          button {
            background: transparent;
            border: none;

            &.active {
              border-left-color: transparent !important;
            }

            &.text-uppercase {
              font-weight: 700;
              padding-top: calc(var(--spacer) * 2);
              padding-bottom: calc(var(--spacer) * 2);

              &.active {
                span {
                  color: var(--color-primary-active) !important;
                }

                .icon {
                  fill: var(--color-primary-active) !important;
                }
              }
            }
          }
        }

        li {
          font-size: 1rem !important;
        }
      }
    }

    .linklist-secondary {
      a {
        font-weight: 400;

        &.active {
          span {
            color: var(--color-primary-active) !important;
            text-decoration: underline;
          }
        }
      }
      &::before {
        background: #c5c7c9;
        content: "";
        display: block;
        height: 1px;
        margin-left: 24px;
        margin-top: 48px;
        width: 65px;
    }
    }
  }

  // Fix bug introuced by Bootstrap Italia v2.15.0
  // Remove when fixed in Bootstrap Italia
  @include media-breakpoint-up(lg) {
    .navbar .navbar-collapsable {
      width: 100%;
    }
  }
}

//Mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(sm) {}

//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {}

//Mobile & Tablet portrait only -------------------------------------------------------------------------
@include media-breakpoint-down(lg) {
  .menu-column {
    z-index: $zindex-modal !important;

    .navbar {
      border-top: var(--hero-kangaroo-zone-border-top);
    }
  }
}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {

  .menu-column {
    height: calc(100vh);
    overflow-y: auto;
  }

  .nav-sidebar {
    .it-navscroll-wrapper {
      background-color: transparent !important;

      .menu-wrapper {
        background-color: transparent !important;
      }
    }

    .list-item {
      border-right: 2px solid transparent !important;

      &.contains-active {
        border-right-color: var(--color-primary) !important;
      }
    }
  }
}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {}
