.dropdown-item.btn.btn-primary {
  background-color: var(--bs-primary) !important;
  color: #fff !important;
  text-align: center;
  justify-content: center;

  &:hover {
    background-color: var(--bs-btn-hover-bg) !important;
  }
}
