@import "../../scss/bootstrap-breakpoints";

.image-icons {
  .icons{
    width: 83.3333%;
    .icon,
    img {
      width: 13vw;
      max-width: 170px;
      max-height: 170px;
    }
    .icon {
      height: 13vw;
    }
  }
}

//Mobile and tablet only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(lg) {
  .image-icons {
    .container-xxl {
      padding: 0;
      .row {
        margin: 0;
      }
      .col {
        padding: 0;
      }
    }
  }
}
//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {

}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {

}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {

}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {
}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {
}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}
