@import "../../scss/bootstrap-breakpoints";

.kangaroo {
	.title-wrapper {
    h2 {
      font-size: var(--kangaroo-title-font-size);
      font-weight: 600;
      margin-bottom: 0;
    }
	}
	.dropdwon-zone{
		.btn {
			font-size: var(--kangaroo-title-font-size);
			text-transform: uppercase;
		}
	}
  .nav-position {
    .container-xxl {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .chip.chip-lg {
    min-width: 66px;
  }
}

.bg-primary {
	.kangaroo {
		.chip.chip-primary {
			border-color: var(--kangaroo-negative-element-color);
			&:active {
				border-color: var(--kangaroo-negative-element-color);
			}
			.chip-label {
				color: var(--kangaroo-negative-element-color)
			}
		}
		.btn-dropdown {
			color: var(--kangaroo-negative-element-color)
		}
	}
}





//mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(sm) {

}
//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {

}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {
  .kangaroo {
    .title-wrapper {
      margin-top: calc(var(--spacer) * 1.5);
    }
  }
}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {

  .hero {
    &.column-hero {
      .kangaroo-wrapper {
        padding-top: 0 !important;
      }
    }
  }

}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {

}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {

}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}
