.kangaroo {
	.title-wrapper {
    h2 {
      font-size: var(--kangaroo-title-font-size);
      font-weight: 600;
      margin-bottom: 0;
    }
	}
	.dropdwon-zone{
		.btn {
			font-size: var(--kangaroo-title-font-size);
			text-transform: uppercase;
		}
	}
  .nav-position {
    .container-xxl {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.bg-primary {
	.kangaroo {
		.chip.chip-primary {
			border-color: var(--kangaroo-negative-element-color);
			&:active {
				border-color: var(--kangaroo-negative-element-color);
			}
			.chip-label {
				color: var(--kangaroo-negative-element-color)
			}
		}
		.btn-dropdown {
			color: var(--kangaroo-negative-element-color)
		}
	}
}
