.simple-cta {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--simple-cta-color);
	font-size: var(--simple-cta-size);
	text-transform: uppercase;
	font-weight: 700;
  line-height: 1.2;
	span.text {
		display: block;
	}
	.icon {
		fill: var(--simple-cta-color)
	}
	span:last-of-type + .icon {
		margin-left: calc(var(--spacer));
	}
  &:hover {
    .icon {
      fill: var( --color-hover);
    }
  }
}

a:hover {
  .simple-cta {
    color: var( --color-hover);
    .icon {
      fill: var( --color-hover);
    }
  }
}
