
@import "../../scss/bootstrap-breakpoints";

//mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(sm) {

}
//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {

}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {

}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {


}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {
  .last-update {
    padding-top: calc(var(--spacer) * 24) !important;
    padding-bottom: calc(var(--spacer) * 24) !important;
  }
}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {
}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}
