@import "../../scss/bootstrap-breakpoints";

.search-main {
  input:read-only {
    cursor: not-allowed;
  }
  .icon-search {
    fill: #D9DADB;;
  }
  .border-search {
    border-bottom: 1px solid #D9DADB;
  }
  // p {
  //   // font-size: 1.3333333333333333rem;
  // }
  .search-form {
    background: #FFF;
    border: var(--search-main-border);
    border-radius: var(--search-main-radius);
    padding-top: var(--search-main-padding-top);
  }
  .form-group label {
    text-transform: uppercase;
  }
}

//Mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(sm) {

}
//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {

}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {

}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {
  .search-main {
    h3 {
      white-space: nowrap;
    }
  }
}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {
}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {
}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}
