
@import "../../scss/bootstrap-breakpoints";

.hero {
  position: relative;
  .container-xxl {
    position: relative;
  }
  .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: var(--hero-bg-primary-color);
      opacity: 0.9;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .hero-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pre-text {
    display: flex;
    align-items: center;
    color: var(--hero-pretext-color);
    font-weight: 600;
    .icon {
      fill: var(--hero-pretext-color)
    }
  }
  &.bg-primary {
    color: var(--hero-bg-primary-color);
    .pre-text {
      color: var(--hero-bg-primary-color);
      .icon {
        fill: var(--hero-bg-primary-color)
      }
    }
    .bg-image {
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: var(--color-primary);
        opacity: 0.9;
      }
    }
    .kangaroo-zone{
      border-top: 1px solid var(--hero-bg-primary-color);
      border-bottom: 1px solid var(--hero-bg-primary-color);
    }
  }
  .subtitle {
    font-size: var(  --hero-subtitle-size);
  }
  .bottom-text {
    margin-top: var( --hero-bottom-text-mt);
  }
  .dropdown {
		.dropdown-menu {
			padding: 1rem 0;
		}
		.link-list-wrapper ul li a {
			display: flex;
			justify-content: space-between;
		}
		.link-list-wrapper ul li:not(:last-child) {
			margin-bottom: calc(var(--spacer) * 4);
		}
	}
  .kangaroo-zone{
    border-top: var(--hero-kangaroo-zone-border-top);
    border-bottom: var(--hero-kangaroo-zone-border-top);
    position: relative;
  }
  &.column-hero {
    .kangaroo-zone{
      border-top: none;
    }
  }
}
//mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(sm) {

}
//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {

}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {
  .hero {

  }
}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {

}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {
}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {
}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}
