<div class="{% if include.noHeight != true %}u-nbfc{% endif %} u-color-grey-30 u-xs-padding-all-none
  {% if include.flat != true %}u-borderShadow-m u-xs-borderShadow-none u-borderRadius-m{% endif %}
  {{ include.classes | default: 'u-background-white' }} u-sizeFill">
  {%- if include.hasImage != false and include.image -%}
    {%- if include.rowImage -%}
    <div class="Grid" style="{% if include.noHeight != true %}height:100%{% endif %}">
      <div class="notizie-inline-image Grid-cell u-md-size1of2 u-lg-size1of2" style="background-image: url({{ include.image | default: //placehold.it/400x220 }});">&nbsp;</div>  <!-- notizie-inline-image-contain -->
      <div class="Grid-cell u-md-size1of2 u-lg-size1of2">
    {%- else -%}
    <div class="u-sizeFull">
      <a {% if include.target == '_blank' %}target="_blank"{% endif %} href="{{ include.link }}">
        <img src="{{ include.image | default: //placehold.it/400x220 }}" class="u-sizeFull" alt="{{ include.alt }}" style="border-bottom: 0.3em solid #06c" />
      </a>
    </div>
    {%- endif -%}
  {%- endif -%}
  <div class="u-flexWrap u-flex u-flexAlignSelfStretch u-sizeFill {% if include.flat != true %}u-padding-r-all{% endif %} {% if include.textCenter == true %}u-textCenter{% endif %}">
    {%- if include.date -%}
    {%- if include.date_prepend -%} <b class="u-textUppercase{% if include.flatTitle != true %} u-padding-r-all{% endif %}{% if include.flatTitle == true %} u-padding-r-top u-padding-r-right{% endif %} u-padding-r-bottom u-text-r-xxs u-color-grey-light-ui-kit">{{include.date_prepend}}</b>{%- endif -%}
    <time datetime="{{ include.date | date_to_xmlschema }}" class="{% if include.flat != true %}u-padding-r-all{% endif %} u-padding-r-bottom u-text-r-xxs u-color-grey-ui-kit">
      {% include date_format.html date=include.date %}
    </time>
    {%- endif -%}
    <div class="u-sizeFull {% if include.flat != true and include.flatTitle != true %}u-padding-r-all{% endif %}">
      <h3 class="u-padding-bottom-xs">
        {%- if include.hasMore != false -%}
          {% assign link_href = include.link %}
          {%- if include.cta1 != nil -%}
          {% assign link_href = include.cta1 %}
          {%- endif -%}
          <a class="u-textClean u-textWeight-600 u-text-r-l u-color-50 u-text-h4" {% if include.target == '_blank' %}target="_blank"{% endif %} href="{{ link_href }}">
          {{ include.title | replace: "<br />", " " }}
          {%- if include.comingsoon -%}
          <span class="u-inlineBlock u-padding-left-xs">
            <span class="u-inlineBlock u-textWeight-600 u-alignMiddle u-padding-top-xxs u-padding-bottom-xxs u-padding-r-right u-padding-r-left
              u-borderRadius-xl u-background-grey-20 u-color-50 u-text-xxs">
            {{ t.coming_soon }}</span>
          </span>
          {%- endif -%}
        {%- else -%}
          <span class="u-textWeight-600 u-text-r-l u-color-50">{{ include.title }}</span>
        {%- endif -%}
        </a>
      </h3>
      {%- if include.author -%}
        <div class="u-padding-r-bottom">
          <span itemprop="name" class="u-text-r-xs u-textSecondary">{{ t.by }} {{ include.author }}</span>
        </div>
      {%- endif -%}
      {%- if include.subtitle -%}
      <h4 class="u-textWeight-400 u-lineHeight-l u-text-r-xs u-color-grey-60 u-padding-bottom-xs">
          {{ include.subtitle }}
      </h4>
      {%- endif -%}
      {%- if include.text != '' -%}
        <p class="Content u-text-p u-text-r-xxs u-textSecondary u-padding-r-bottom">
          {{ include.text  | strip_html }}
        </p>
      {%- endif -%}
    </div>
    {% if include.cta1 != nil %}
    <div class="u-sizeFull u-padding-r-all u-xs-padding-all-none">
      {%- if include.cta1 != nil %}
      <div>
        <a href="{{include.cta1}}" class="u-background-50 u-color-white u-padding-top-s u-padding-bottom-s u-text-r-xxs u-textClean u-textUppercase u-textWeight-700 u-inlineBlock u-padding-left-xxl u-padding-right-xxl u-borderRadius-s u-borderShadow-m u-margin-0auto u-margin-bottom-m">
          {{ include.cta1Text }}
        </a>
        {%- if include.cta2 != nil %}
        <a href="{{include.cta2}}" class="u-color-50 u-padding-top-s u-padding-bottom-s u-text-r-xxs u-textClean u-inlineBlock u-padding-left-xxl u-padding-right-xxl u-margin-0auto u-margin-bottom-m">
          {{ include.cta2Text }}
        </a>
        {%-endif -%}
      </div>
      {%-endif -%}
    </div>
    {% else %}
    <div class="Grid u-sizeFull u-flexAlignSelfEnd {% if include.flat != true and include.flatTitle != true %}u-margin-r-left u-margin-r-right u-xs-margin-all-none{% endif %}">
        {%- if include.hasMore != false and include.homeBottomLink != false -%}
        <p class="Grid-cell {% if include.hasSocial != false %}u-layout-centerLeft {% endif %} u-flexAlignItemsCenter u-padding-r-bottom">
          <a href="{{ include.link }}" {% if include.target == '_blank' %}target="_blank"{% endif %} class="u-color-50 u-text-r-xxs u-textWeight-600 u-textClean">
          {{ include.link_text | default: t.home_projects_expand }} <span class="Icon {% if include.target == '_blank' %}Icon-external-link{%else%}Icon-chevron-right{% endif %} u-margin-left-xxs u-text-xxs"></span>
          </a>
        </p>
        {%- endif -%}
        {%- if include.hasSocial != false -%}
        <p class="Grid-cell u-layout-centerRight u-padding-r-bottom">
          {%- for social in include.socials -%}
          <a href="{{ social.link }}" class="u-linkClean">
            <span class="Icon Icon-{{ social.icon }} u-inlineBlock u-text-r-xs u-padding-all-xxs u-borderRadius-circle u-background-50 u-color-white u-margin-right-xs"></span><span class="u-hiddenVisually">{{ social.name }}</span></a>
          {%- endfor -%}
        </p>
        {%- endif -%}
    </div>
    {%- endif -%}
    {%- if include.categories -%}
    <div class="u-flex u-flexAlignItemsCenter u-flexAlignContentCenter">
      {% include pills.html items = include.categories small = true %}
    </div>
    {%- endif -%}
  </div>
  {%- if include.hasImage != false and include.image and include.rowImage -%}</div></div>{%- endif -%}
</div>
