<footer class="Footer">

  <div class="Grid Grid--withGutter u-padding-top-m u-padding-bottom-m">
    {% comment %} Logo AGID {% endcomment %}
    <div class="Grid-cell u-sm-size6of12 u-md-size3of12 u-lg-size3of12 u-padding-r-bottom">
      <div>
        <a href="{{ site.owner_link }}" target="_blank" rel="noopener" class="u-linkClean">
          <img class="u-inline logo" src="{{ site.owner_logo | relative_url }}" alt="Logo {{ site.owner_full }}">
        </a>
      </div>
    </div>
    {% comment %} Logo MID {% endcomment %}
    <div class="Grid-cell u-sm-size6of12 u-md-size3of12 u-lg-size3of12 u-padding-r-bottom">
      <div class="Aligner-item">
        <a href="{{ site.partner_link }}" target="_blank" rel="noopener" class="u-linkClean">
          <img class="u-inline logo" src="{{ site.partner_logo | relative_url }}" alt="Logo {{ site.partner_full }}">
        </a>
      </div>
    </div>
    <div class="Grid-cell u-md-size6of12 u-lg-size6of12 u-padding-r-bottom u-text-sm-center u-text-md-right u-text-lg-right">
      <span class="u-hidden u-sm-inline u-md-inline u-lg-inline">Community:</span>
      <ul class="social-icons u-flexInline u-padding-bottom-xs">
        <li><a class="u-color-teal-30 u-textClean u-padding-right-xs" target="_blank" rel="noopener" href="https://forum.italia.it/c/design">Forum</a></li>
        <li><a class="u-color-teal-30 u-textClean u-padding-left-xs u-padding-right-xs" target="_blank" rel="noopener" href="https://slack.developers.italia.it/">Slack</a></li>
        <li><a class="u-color-teal-30 u-textClean u-padding-left-xs u-padding-right-xs" target="_blank" rel="noopener" href="https://github.com/italia/" >GitHub</a></li>
        <li><a class="u-color-teal-30 u-textClean u-padding-left-xs" target="_blank" rel="noopener" href="https://docs.italia.it/">Docs</a></li>
      </ul>
      <a class="u-color-teal-30 u-textClean u-margin-left-xl" href="/contatti">Contatti</a>
    </div>
  </div>
  <div class="Grid u-background-white">
    {%- for pon_logo in site.pon_logos -%}
    <div class="Grid-cell u-sm-size1of2 u-md-size1of4 u-lg-size1of4 u-padding-r-top u-padding-r-bottom u-textCenter">
      <img class="logo-pon u-padding-top-xxs u-padding-right-xxs" src="{{ pon_logo.logo | relative_url }}" alt="{{ pon_logo.alt }}">
    </div>
    {%- endfor -%}
  </div>
  <div>
    <ul class="Footer-links u-cf u-color-80">
      {%- for link in site.data.footer_links -%}
        {%- assign link_name = link[1].title -%}
        <li><a class="u-color-teal-30" href="{{ site.baseurl }}{{ link[1].url }}">{{ t[link_name] | default: link_name | capitalize }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</footer>

{% include scripts.html %}
