<footer class="Footer">

  <div class="Grid Grid--withGutter u-padding-top-m u-padding-bottom-m">
    {% comment %} Logo AGID {% endcomment %}
    <div class="Grid-cell u-sm-size6of12 u-md-size3of12 u-lg-size3of12 u-padding-r-bottom">
      <div>
        <a href="{{ site.owner_link }}" target="_blank" rel="noopener" class="u-linkClean">
          <img class="u-inline logo-agid" src="{{ site.owner_logo | relative_url }}" alt="Logo {{ site.owner_full }}">
        </a>
      </div>
    </div>
    {% comment %} Logo MID {% endcomment %}
    <div class="Grid-cell u-sm-size6of12 u-md-size3of12 u-lg-size3of12 u-padding-r-bottom">
      <div class="Aligner-item">
        <a href="{{ site.partner_link }}" target="_blank" rel="noopener" class="u-linkClean">
          <img class="u-inline logo-mid" src="{{ site.partner_logo | relative_url }}" alt="Logo {{ site.partner_full }}">
        </a>
      </div>
    </div>
    {% comment %} Social {% endcomment %}
    <div class="Grid-cell u-md-size6of12 u-lg-size6of12 u-padding-r-bottom u-padding-top-xs u-text-sm-center u-text-md-right u-text-lg-right">
      <ul class="Footer-socialIcons">
        {% for social in site.data.social %}
          {% if social[1].link %}
            <li><a href="{{ social[1].link }}" title="{{ social[1].name }}"><span class="Icon-{{ social[0] }}"></span>
              <span class="u-hiddenVisually">{{ social[1].name | capitalize }}</span></a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% comment %} PON {% endcomment %}
  <div class="Grid u-background-white">
    <div class="Grid-cell u-lg-size1of4 u-padding-r-top u-padding-r-bottom u-textCenter">
      <img class="u-padding-top-xxs u-padding-right-xxs" src="{{ site.eu_logo | relative_url | d('//placehold.it/75x80?text=placeholder') }}" alt="Logo dell'Unione Europea"
        style="height: 4em; max-width: 100%">
    </div>
    <div class="Grid-cell u-lg-size1of4 u-padding-r-top u-padding-r-bottom u-textCenter">
      <img class="u-padding-top-xxs u-padding-right-xxs" src="{{ site.act_logo | relative_url | d('//placehold.it/75x80?text=placeholder') }}" alt="Logo dell'agenzia coesione territoriale"
        style="height: 4em; max-width: 100%">
    </div>
    <div class="Grid-cell u-lg-size1of4 u-padding-r-top u-padding-r-bottom u-textCenter">
      <img class="u-padding-top-xxs u-padding-right-xxs" src="{{ site.funzione_pubblica_logo | relative_url | d('//placehold.it/75x80?text=placeholder') }}" alt="Logo del dipartimento della funzione pubblica"
        style="height: 4em; max-width: 100%">
    </div>
    <div class="Grid-cell u-lg-size1of4 u-padding-r-top u-padding-r-bottom u-textCenter">
      <img class="u-padding-top-xxs u-padding-right-xxs" src="{{ site.pon_logo | relative_url | d('//placehold.it/75x80?text=placeholder') }}" alt="Logo del PON"
        style="height: 4em; max-width: 100%">
    </div>
  </div>
  {% comment %} Links {% endcomment %}
  <div>
    <ul class="Footer-links u-cf u-color-80">
      {% for link in site.data.footer_links %}
        {% assign link_name = link[1].title %}
        <li><a href="{{ site.baseurl }}{{ link[1].url }}">{{ t[link_name] | default: link_name | capitalize }}</a></li>
      {% endfor %}
    </ul>
    </div>

</footer>

{% include scripts.html %}
