{% assign guides = site.data.guidelines %}
{% assign family = guides | where_exp:"item","item.parent == nil" %}
{% assign numfamily = family.size %}
{% assign layoutClass=include.layoutClass | default:'u-layout-r-withGutter u-margin-left-xxl u-margin-right-xxl u-margin-top-xxl' %}
{% assign headingClass=include.headingClass | default:'u-block u-text-h3' %}

<div class="{{layoutClass}}">
<div class="Grid Grid--withGutter u-padding-all-l guides-grid">
{%- for main in family -%}
	<div class="Grid-cell u-md-size1of{{numfamily}} u-lg-size1of{{numfamily}}">
	  <img src="{{main.img | relative_url}}" class="guides-grid__img" alt="icona linee guida">
    <h3 class="{{headingClass}}">
      <a class="u-color-grey-ui-kit u-textClean" href="{{main.url}}">
        {{main.desc}}
      </a>
    </h3>
		<div class="u-sizeFull u-margin-top-xl">
      {% assign items = guides | where_exp:"item","item.parent == main.desc" %}
      <ul>
      {%- for item in items -%}
        <li class="u-margin-top-l u-margin-bottom-l u-text-r-xs u-posRelative">
          <a href="{{item.url}}" class="u-color-50 u-textWeight-600 u-textClean" target="_blank">
          {{item.desc}}
          </a>
        </li>
      {%- endfor -%}
      </ul>
		</div>
	</div>
{%- endfor -%}
</div>
</div>
