<div class="Grid Grid--withGutter Grid--alignCenter u-padding-all-l guides-grid">
	<div class="Grid-cell u-border-left-l u-md-size2of4 u-lg-size2of4 u-xl-size2of4 u-borderRadius-m u-textLeft u-borderShadow-l u-padding-all-xxl u-margin-top-xxl u-margin-bottom-l" style="border-color:#06c!important">
    <h3 class="u-block u-text-h3">Partecipa anche tu</h3>
		<div class="u-sizeFull u-margin-bottom-m">
      <p class="Prose u-text-r-s u-textWeight-400">Da lunedì 10 maggio è ufficialmente aperta la fase di consultazione delle <a class="u-text-r-s u-color-40 u-textWeight-600" href="https://docs.italia.it/italia/design/lg-design-servizi-web" target="_blank" onclick="captureOutboundLink('Consultazione LG CAD'); return false;">nuove Linee guida di design per i servizi web della Pubblica Amministrazione</a>. Condividi i tuoi suggerimenti, per partecipare c’è tempo fino al 9 giugno.</p>
		</div>
		<div class="u-sizeFull u-padding-bottom-m u-padding-top-l">
	    <a href="https://docs.italia.it/italia/design/lg-design-servizi-web" target="_blank" class="u-textClean u-borderRadius-s u-background-teal-60 u-color-grey-ui-kit u-padding-r-all" style="min-width: 16em">
	        <span class="u-text-r-xs u-textUppercase u-textWeight-700 u-padding-right-xxl u-padding-left-xxl">SCOPRI</span>
	      </a>
	  </div>
	</div>
</div>
