<div class="Grid Grid--withGutter Grid--alignCenter u-padding-all-l guides-grid">
	<div class="Grid-cell u-md-size3of4 u-lg-size2of4 u-xl-size2of4 u-borderRadius-m u-background-40 u-textCenter u-borderShadow-xxs u-xs-borderShadow-none">
    <h3 class="u-block u-margin-top-xl u-color-white u-text-h3">Partecipa anche tu</h3>
		<div class="u-sizeFull u-margin-bottom-xl u-color-white">
      <p class="u-text-r-s u-textWeight-400 u-padding-r u-textCenter">Da lunedì 10 maggio è ufficialmente aperta la fase di consultazione delle <a class="u-text-r-s u-color-white u-textWeight-600" href="https://docs.italia.it/italia/design/lg-design-servizi-web" target="_blank" onclick="captureOutboundLink('Consultazione LG CAD'); return false;">nuove Linee guida di design per i servizi web della Pubblica Amministrazione</a>. Condividi i tuoi suggerimenti, per partecipare c’è tempo fino al 9 giugno.</p>
    </div>
	</div>
</div>
