<div class="u-padding-all-m u-color-white u-background-teal-60 u-text-r-xxs u-textWeight-300 u-textCenter">
"Tailor-made services for citizens, a designer community is born"
<span class="u-padding-right-m u-padding-left-m"><a class="u-textWeight-600 u-color-white" href="https://medium.com/team-per-la-trasformazione-digitale/designers-italia-community-italian-digital-government-services-public-administration-design-thinking-c1a1de23c465" title="read on medium">read on medium</a></span>
<span class="u-padding-right-m "><a class="u-color-white" href="https://medium.com/team-per-la-trasformazione-digitale/designers-italia-comunita-servizi-pubblici-digitali-pubblica-amministrazione-design-thinking-a04cc7ecc3da" title="leggi in italiano">leggi in italiano</a></span>
</div>