{% assign posts = site.ipress_feed | where: "ipress_lang", page.lang %}

<blockquote class="Prose-blockquote u-background-grey-10">
  <h3>{{ include.header }}</h3>

  <div id="ipress" style="min-height:100px;">
    {% for news in (posts) limit:3 %}
      <div class="row">
        <div class="col-md-4">
          <p class="team-item-title">
            <a href="{{ news.ipress_link }}" target="_blank" style="text-decoration: none;">
              {{ news.ipress_publishDate | date: "%d/%m/%Y" }}
              {{ news.ipress_title }}
            </a>
          </p>
          {% if news.ipress_summary %}
          <p class="u-text-r-xxs">{% if news.ipress_imagecoll.small %}
            <img src="{{news.ipress_imagecoll.small}}" class="u-floatLeft u-margin-r-right">
            {% endif %}
            {{ news.ipress_summary}}</p>
          <i class="u-text-r-xxs">{{news.ipress_publishedBy}}</i>
          {% endif %}
        </div>
      </div>
    {% endfor %}


  </div>
</blockquote>