{% assign buttonEnabled = false %}

{% for download in download_file %}
  {% if download.file != nil %}
    {% assign buttonEnabled = true %}
  {% endif %}
{% endfor %}

<div class="Download u-padding-bottom-xxl">
  <div class="Download-wrapper">
    <div class="Download-inner">
    {%- if buttonEnabled -%}
      <a class="download-button--float Button Button--shadow u-text-r-xs u-background-teal-60 u-color-grey-ui-kit" id="kitdownloadbutton" href="#" title="scarica il kit">
        scarica il kit<span class="u-text-r-xxs Icon Icon-expand u-floatRight"></span>
      </a>
      <ul class="Download-list u-border-all-xs u-color-teal-60 u-padding-all-none u-hidden" id="kitdownloadlist">
        {%- for item in download_file -%}
          {% assign downloadUrl = item.file | relative_url %}
          {%- unless downloadUrl=='internal' -%}
            {% assign downloadUrl = item.file %}
          {%- endunless -%}
          <li class="u-padding-bottom-m u-padding-top-m u-padding-left-xs u-padding-right-xs u-textLeft u-color-teal-60 {% unless forloop.last %}u-border-bottom-xs{% endunless%}">
            {%- if downloadUrl -%}
            <a href="{{downloadUrl}}" id="{{item.caption| slugify}}" class="ga-kit-download u-color-grey-ui-kit u-textClean" target="_blank" rel="noopener" onclick="captureOutboundLink('{{downloadUrl}}'); return false;">{{item.caption}}
              <span class="u-text-r-xs Icon Icon-arrow-right u-floatRight"></span>
            </a>
            {%- else -%}
              <span class="u-color-grey-40 ">{{item.caption}}</span>
              <span class="u-color-grey-40 u-textPreformatted u-text-r-xxs">in lavorazione</span>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- else -%}
      <a class="download-button--float Button Button--shadow u-text-r-xs u-background-grey-30 u-color-grey-ui-kit" href="#kitsdownload" title="kit in lavorazione">
        kit in lavorazione
      </a>
    {%- endif -%}
    </div>
  </div>
</div>
