<hr class="u-border-left-none u-border-right-none u-border-bottom-xxs u-border-top-none u-color-grey-30 u-margin-r-bottom u-margin-top-xxl" />
<div class="u-margin-bottom-xxl u-margin-top-xxl u-padding-bottom-xxl u-padding-top-xxl">
	<a name="kitsdownload"></a>
	<div class="u-padding-all-xl">
    <h1 class="u-text-h2 u-color-50">
      <img src="/assets/images/icons/kits-download-icon.png" alt="" role="presentation" height="54"> Materiali all'interno del kit
    </h1>
    {%- for download in download_file -%}
    <div class="u-text-r-m u-margin-top-xl u-textWeight-600">
      {%- if download.file -%}
      <span class="u-text-r-m Icon Icon-arrow-right u-color-teal-60"></span>&nbsp;
      <a href="{{download.file}}" class="u-color-50" target="_blank" rel="noopener">{{download.caption}}</a>
      {%- else -%}
      <span class="u-text-r-m Icon Icon-arrow-right u-color-grey-40"></span>&nbsp;
      <span class="u-color-grey-40">{{download.caption}}</span> <span class="u-color-grey-40 u-textPreformatted u-text-r-xxs">in lavorazione</span>
      {%- endif -%}
    </div>
    {%- endfor -%}
  </div>
</div> 
