{% assign guides = site.data.guidelines %}
{% assign family = guides | where_exp:"item","item.parent == nil" %}
{% assign numfamily = family.size %}
{% assign layoutClass=include.layoutClass | default:'u-layout-wide u-layoutCenter u-padding-all-l u-padding-top-xxl' %}
{% assign headingClass=include.headingClass | default:'u-block u-padding-bottom-m' %}

<div class="u-layout-wide u-layoutCenter u-padding-all-l u-padding-top-xs">
<div class="Grid Grid--withGutterL guides-grid">
{%- for main in family -%}
	<div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-sm-size1of2 u-padding-top-xxl">
		{% if main.img %}
		<img src="{{main.img | relative_url}}" class="guides-grid__img" alt="icona linee guida">
		{% endif %}
    <h3 class="u-block u-text-r-l u-layout-prose u-color-grey-ui-kit u-lineHeight-m ">
      <a class="u-color-grey-ui-kit" href="{{main.url}}">
        {{main.desc}}
      </a>
    </h3>
		<!--<p>
			{{main.body}}
		</p>-->
		<div class="u-sizeFull u-margin-top-xl">
      {% assign items = guides | where_exp:"item","item.parent == main.desc" %}
      <ul>
      {%- for item in items -%}
        <li class="u-margin-top-l u-margin-bottom-l u-text-r-xs u-posRelative">
          <a href="{{item.url}}" class="u-color-50 u-textWeight-600 u-textClean" target="_blank">
          {{item.desc}}
          </a>
        </li>
      {%- endfor -%}
      </ul>
		</div>
	</div>
{%- endfor -%}
</div>
</div>
