{% include setlang.html %}
<form class="Form" id="newsletter-form" style="max-width: 25em">
  <div class="Form-field Form-field--withPlaceholder Grid u-background-white u-color-grey-30 u-borderRadius-s u-borderShadow-xl">
    <span class="u-padding-all-s Icon Icon-mail"></span>
    <input type="email" class="Form-input Form-input--ultraLean Grid-cell u-sizeFill u-text-r-s u-color-black u-text-r-xs u-borderHideFocus" required id="email" placeholder="{{t.home_newsletter_placeholder }}" name="email" aria-label="Indirizzo email" />
    <input type="hidden" name="tag_id" value="7">
    <input type="hidden" name="workspace_id" value="1">
    <button type="submit" class="Button Button--default">
       {{ t.home_newsletter_button }}
      </button>
  </div>
</form>

<div class="Prose Alert Alert--success Alert--withIcon u-layout-prose" style="display: none" aria-hidden="true" role="alert" id="newsletter-alert">
  <p class="u-text-p">
  </p>
</div>
