{% assign pagetags = include.pagetags %}
{% assign selecteds = "|" | split: '|' %}

{% for tag in pagetags %}
	{% assign posts = site.medium_feed |  where_exp:"item", "item.medium_tags contains tag" | sort: "medium_firstpublished_at" | reverse %}
	{% if posts.size > 0 %}
		{% for post in posts %}
			{% assign selecteds = selecteds | push: post %}
		{% endfor %}
	{% endif %}

{% endfor %}

{% if selecteds.size > 0 %}
	<section class="u-background-teal-30 u-layout-r-withGutter u-padding-top-xxl u-padding-bottom-xxl">
		  <h4 class="u-text-h4 u-textCenter u-color-white">STORIE</h4>
		  <h1 class="u-text-h3 u-textCenter u-color-white u-padding-bottom-xxl">scopri come può essere applicato questo kit</h4>
		  <div class="Grid Grid--withGutter Grid--equalHeight Grid--fill ">
		     {% for post in selecteds | limit: 3 %}
		      <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
		      	<article class="Grid  Grid--fill u-background-white u-md-flexDirectionCol u-lg-flexDirectionCol">
		      		<figure class="Grid-cell u-size1of3 u-md-sizeFull u-lg-sizeFull u-padding-all-xs ">
    					<img class="u-sizeFull" 
    					src="https://cdn-images-1.medium.com/fit/t/400/400/{{ post.medium_preview_image_id }}" alt="">
  					</figure>
		      		<header class="Grid-cell u-size2of3 u-md-sizeFull u-lg-sizeFull u-padding-all-l">
		      		<h1 class="u-text-h4">
				          <a href="{{post.medium_url}}" class="u-color-50 u-linkClean" target="_blank">
				            {{post.medium_title}}
				          </a>
				    </h1>
				    <p class="u-text-r-xs u-color-grey-40">
				    	{{post.medium_subtitle}}
				    </p>
				    </header>
		        </article>
		      </div>
		      {% endfor %}
		    
		  </div>	
	</section>
{% endif %}