{% assign backgroundColor = include.backgroundColor | default:'u-background-50' %}
{% assign textColor = include.textColor | default:'' %}
{% assign layout = include.layout | default:'u-textCenter u-layoutCenter' %}
<p class="u-margin-bottom-xs u-textWeight-300 {{textColor}}">{{ t.share_msg }} {{ t.on_ }}</p>
<ul class="Social u-padding-top-s">
  {% for social in site.data.social %}
    {% if social[1].sharelink %}
      {% assign shareurl = page.url | absolute_url | escape %}
      <li class="u-inlineBlock u-padding-right-xs u-padding-left-xs">
        <a href="{{ social[1].sharelink | replace: '<url>', shareurl }}" title="{{ social[1].name }}"
          class="u-padding-all-s {{backgroundColor}} u-color-white u-inlineBlock u-linkClean u-borderRadius-circle u-alignMiddle"
          ><span class="Icon Icon-{{ social[0] }}"></span>
          <span class="u-hiddenVisually">{{ social[1].name | capitalize }}</span>
        </a>
      </li>
      {% endif %}
  {% endfor %}
</ul>
