{% assign showAll = include.showAll %}
{% assign kitCategory = include.kitCategory %}

<div class="super-breadcrumb">
  <div class="u-layout-wide u-layoutCenter u-color-white">
    <nav>
      <ul>
        {% if showAll %}
        <li class="all">
          <a href="/kit">
            Tutti
          </a>
        </li>
        {% endif %}
        <li class="{% if kitCategory == 'organizzare' %} active {% endif %}">
          <a href="/kit/#organizzare">
            <img class="u-margin-right-m" src="/assets/icons/super_breadcrumb/organizzare.svg" />
            Organizzare
          </a>
        </li>
        <li class="{% if kitCategory == 'comprendere' %} active {% endif %}">
          <a href="/kit/#comprendere">
            <img class="u-margin-right-m" src="/assets/icons/super_breadcrumb/comprendere.svg" />
            Comprendere
          </a>
        </li>
        <li class="{% if kitCategory == 'progettare' %} active {% endif %}">
          <a href="/kit/#progettare">
            <img class="u-margin-right-m" src="/assets/icons/super_breadcrumb/progettare.svg" />
            Progettare
          </a>
        </li>
        <li class="{% if kitCategory == 'realizzare' %} active {% endif %}">
          <a href="/kit/#realizzare">
            <img class="u-margin-right-m" src="/assets/icons/super_breadcrumb/realizzare.svg" />
            Realizzare
          </a>
        </li>
        <li class="{% if kitCategory == 'validare' %} active {% endif %}">
          <a href="/kit/#validare">
            <img class="u-margin-right-m" src="/assets/icons/super_breadcrumb/validare.svg" />
            Validare
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
