{% assign showAll = include.showAll %}
{% assign kitCategory = include.kitCategory %}
{% assign quickOpen = include.quickOpen %}

<div id="superBreadcrumb" class="super-breadcrumb u-background-white {% if showAll==false %} superSticky {% endif %}">
  <div class="superContent">
    <div class="  u-layout-wide u-layoutCenter u-color-50 {% if showAll==false %} u-padding-bottom-xxs u-padding-top-xxs {% endif %}">
      <nav>
        <ul>
          {% if showAll %}
          <li class="all">
            <a href="/modelli">
              Tutti
            </a>
          </li>
          {% endif %}
          <li class="{% if kitCategory == 'comuni' %} active {% endif %} {% if showAll==false %} u-padding-top-xxs u-padding-bottom-xxs {% else %} u-padding-top-xs u-padding-bottom-xs {% endif %}">
            <a href="{% if quickOpen %} /modello/comuni/ {% else %} #comuni {% endif %}">
              <img alt="" width="64" class="u-margin-right-m" src="/assets/icons/super_breadcrumb/organizzare.svg" />
              Comuni
            </a>
          </li>
          <li class="{% if kitCategory == 'scuole' %} active {% endif %} {% if showAll==false %} u-padding-top-xxs u-padding-bottom-xxs {% else %} u-padding-top-xs u-padding-bottom-xs {% endif %}">
            <a href="{% if quickOpen %} /modello/scuole/ {% else %} #scuole {% endif %}">
              <img alt="" width="64" class="u-margin-right-m" src="/assets/icons/super_breadcrumb/comprendere.svg" />
              Scuole
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
