@import "../../scss/bootstrap-breakpoints";

.text-image-cta {
  .img-main {
    max-width: 132px;
  }
  p,ol,ul {
    font-family: var(--font-serif);
  }
  .content {
    p:last-of-type {
      margin-bottom: 0;
      img {
        margin-bottom: 0;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: calc(var(--spacer) * 8) auto;
      border-radius: 4px;
    }
  }
  .simple-cta {
    text-transform: none;
    .text {
      font-size: 0.8888888888888888rem;
    }
    &:not(:last-of-type) {
      margin-right: 54px;
    }
  }
  h4, h5 {
    font-weight: 700;
  }
  .justify-content-end {
    .gatsby-image-wrapper {
      display: inline-flex !important;
      justify-content: end;
      img {
        left: auto !important;
      }
    }
  }

}


//Mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(sm) {
  .text-image-cta {
    .simple-cta {
      &:not(:last-of-type) {
        margin-bottom: 16px;
      }
    }
  }
}

//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {

}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {

}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {

}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {
  .text-image-cta {
    .content {
      img {
        margin: calc(var(--spacer) * 12) auto;
      }
    }
  }
}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {
}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}
