/** PinWheel
    ===================== */

.Header-PinWheel {
  -webkit-animation:spin 6s ease-in-out infinite;
  -moz-animation:spin 6s ease-in-out infinite;
  animation:spin 6s ease-in-out infinite;
}

@-moz-keyframes spin { 20%, 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 20%, 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 20%, 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/** Header slim
   ================ */

.Header-banner {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

@media screen and (min-width: 992px) {
  .Header-logo img {
    height: 9rem;
    width: 9rem;
  }
}

.Header-socialIcons [class*=" Icon-"],
.Header-socialIcons [class^=Icon-] {
    padding: 0.4em !important;
}

.Header-owner > div > a,
.Header-slim a {
  text-decoration: none;
  padding-right: 1.3rem !important;
  padding-left: 1.3rem !important;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  display: inline-block !important;
  vertical-align: middle !important;
}

.Header-slim a:hover {
  text-decoration: none !important;
}

.Header-slim li {
  display: inline-block !important;
  vertical-align: middle !important;
}

.Header-slim li.current {
  border-bottom: 0.2rem solid white;
  font-weight: 600;
}

.Header-slim li.delimiter a {
  border-right: .1rem solid #127ae2;
}

.Header-slim-toggle a {
  text-decoration: none !important;
}

/** Header tweaks
    ===================== */

.Hamburger-toggle,
.Hamburger-toggle:before,
.Hamburger-toggle:after {
  background: #06c !important;
}

.Hamburger-toggle.is-active {
  background: transparent !important;
}

.Hamburger-toggle.is-active:before,
.Hamburger-toggle.is-active:after {
  background: white !important;
}

.Header-owner {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

/** Megamenu tweaks
    ===================== */

.Megamenu--default .Megamenu-item > a {
  color: #06c !important;
}

/** Utilities
  ================ */

.u-color-teal-60 {
  color: #00C5CA
}

.u-borderShadow-xl {
  box-shadow: 1px 1px 60px 1px rgba(0, 0, 0, .20) !important
}
