$ui-kit-grey: #26394D;
$ui-kit-grey-light: #344C60;
$ui-kit-teal: #0BD9D3;
$light-grey: #e6e9f0;

@-moz-keyframes spin {
  100%,
  20% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100%,
  20% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100%,
  20% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

/** Utilities
  ================ */
.u-letterSpace-l {
  letter-spacing: 0.03em !important;
}

.u-color-teal-60 {
  color: $ui-kit-teal !important;
}

.u-background-teal-60 {
  background-color: $ui-kit-teal !important;
}

.u-color-grey-light-ui-kit {
  color: $ui-kit-grey-light !important;
}

.u-color-grey-ui-kit {
  color: $ui-kit-grey !important;
}

.u-backgroundBlendModeMultiply {
  background-blend-mode: multiply;
}

.u-backgroundBlendModeLuminosity {
  background-blend-mode: luminosity;
}

.u-backgroundSizeCover {
  background-size: cover;
}

.u-borderShadow-xl {
  box-shadow: 1px 1px 60px 1px rgba(0, 0, 0, .20) !important;
}

.u-textShadow-xxs {
  text-shadow: 0 0 1px #06C;
}

.u-text-p {
  a, a:visited {
    color: #06c;
    text-decoration: none;
  }
}

.u-boxShadow-none {
  box-shadow: none !important;
}

.u-margin-0auto {
  margin: 0 auto;
}

.u-height-300 {
  height: 300px;
}

.u-height-400 {
  height: 400px;
}

/** Imported from developer.scss
    ===================== */
.Project {
  h2 {
    margin-top: 1em !important;
    font-weight: 600 !important;
    font-size: 1.5em !important;
  }

  h3 {
    margin-top: 1em !important;
    font-weight: 400 !important;
    font-size: 1.5em !important;
  }

  ul {
    margin-bottom: 2em !important;
  }

  a {
    color: #06c !important;
    text-decoration: none !important;

    &[href^="//"]:not([href*="italia.it"]):after,
    &[href^="http://"]:not([href*="italia.it"]):after,
    &[href^="https://"]:not([href*="italia.it"]):after {
      content: ' \2192';
    }
  }
}

.section-nav li {
  a {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #06c;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    font-size: 18px !important;
  }
  &:last-child a {
    border-bottom: none;
  }
}

#main {
  overflow: hidden;

  .project-title-wrapper {
    position: relative;
    z-index: 0;

    .project-shadow1 {
      color: #f9f9f4;
      font-size: 112px;
      line-height: 160px;
      font-weight: bold;
      position: absolute;
      text-align: center;
      text-overflow: clip;
      top: 0;
      left: 0;
      white-space: nowrap;
      z-index: -1;
      user-select: none;
    }

    .project-shadow2 {
      color: #eee;
      font-size: 120px;
      font-weight: bold;
      line-height: 183px;
      position: absolute;
      top: -0.4em;
      z-index: -2;
      user-select: none;
      white-space: nowrap;
    }
  }
}

/** Header
   ================ */
.Header {
  &-navbar {
    padding-bottom: 0 !important;
  }
  &-PinWheel {
    margin-left: -16px;
    animation: spin 6s ease-in-out infinite;
    &-Stick {
      border-right: 1px solid #06c;
      position: relative;

      &::before {
        content: "";
        height: 1em;
        width: 100%;
        position: absolute;
        bottom: 2.5rem;
        border-right: 1px solid #06c;
        box-sizing: content-box;
      }
    }
  }
  &-banner {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  &-Main-Logo {
    img {
      max-width: 24rem;
      @media screen and (min-width: 992px) {
          max-width: 36rem;
      }
    }
  }
  &-titleLink {
    a {
      line-height: .9 !important;
      @media screen and (max-width: 991px) {
        font-size: 2rem !important;
      }
    }
    small {
      display: inline-block !important;
      @media screen and (max-width: 991px) {
        font-size: 1.2rem !important;
      }
      &:hover {
        text-decoration: none !important;
      }
    }
  }
  &-owner {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    & > div > a {
      text-decoration: none;
      padding: 1.6rem 1.4rem !important;
      display: inline-block !important;
      vertical-align: middle !important;
    }
  }
  &-slim {
    a {
      text-decoration: none;
      padding: 1.6rem 1.4rem !important;
      display: inline-block !important;
      vertical-align: middle !important;
      &:hover {
        text-decoration: none !important;
      }
    }
    li {
      display: inline-block !important;
      vertical-align: middle !important;
      margin-bottom: 0.2rem;
      &:hover {
        border-bottom: 0.2rem solid white;
        margin-bottom: 0;
      }
      &.current {
        border-bottom: 0.2rem solid white;
        font-weight: 600;
        margin-bottom: 0;
      }
      &.delimiter a {
        border-right: 0.1rem solid #127ae2;
      }
    }
    &-toggle a {
      text-decoration: none !important;
    }
  }
}

.Network .current a {
  font-size: 1.5em;
  border-left: 1rem solid #0066cc !important;
}

/** Header tweaks
    ===================== */
.Hamburger-toggle,
.Hamburger-toggle:after,
.Hamburger-toggle:before {
  background: #06c !important;
}

.Hamburger-toggle.is-active {
  background: transparent !important;
}

.Hamburger-toggle.is-active:after,
.Hamburger-toggle.is-active:before {
  background: white !important;
}
.plane {
  @media screen and (min-width: 992px) {
    margin-top: 0 !important;
  }
}
.notizie-inline {
  @media screen and (min-width: 1440px) {
    .u-nbfc {min-height: 320px;}
  }
  .notizie-inline-image {
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 1440px) {
      min-height: 240px;
    }
  }
  .notizie-inline-image-contain {
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
.pinnedBookmark {
  width: 30px;
  position: absolute;
  top: 0;
  right: 25px;
}
.notizie-post {
  @media screen and (min-width: 768px) {
    .u-nbfc {min-height: 320px;}
  }

}
.Hero-Title {
  &-inner {
    @media screen and (min-width: 992px) {
      margin-left: 9rem;
    }
    h1 {
      font-size: 4rem;
      line-height: 48px;
      @media screen and (min-width: 1440px) {
        font-size: 4.8rem;
        line-height: 60px;
      }
      font-weight: 700;
      letter-spacing: -1.3px;
      text-align: left;
      span {
        font-size: 2.4rem;
        line-height: 28px;
        @media screen and (min-width: 1440px) {
          font-size: 3.2rem;
          line-height: 40px;
        }
        letter-spacing: -0.3px;
        text-align: left;
      }
    }
    p {
      font-weight: 300;
      font-size: 18px;
      line-height: 28px;
    }
  }
}

.Megamenu--default {
  margin-left: -3.2rem !important;
  margin-right: -3.2rem !important;

  .Megamenu-list {
    @media screen and (max-width: 1150px) {
      margin-right: 1.2rem !important;
      margin-left: 1.2rem !important;
    }
  }

  .Megamenu-item {
    > a {
      color: #06c !important;
      padding-right: 3.2rem !important;
      padding-left: 3.2rem !important;
      @media screen and (max-width: 1150px) {
        padding-right: 1.2rem !important;
        padding-left: 1.2rem !important;
      }

      &.is-current {
        border-bottom: 2px solid #06c !important;
      }
    }
  }
}


.block-design-kit {
  background-color: #fafafa;
  background-image: url(/assets/images/blk8/hp-kits-bkg.svg);
  background-repeat: no-repeat;
  background-position-y: -330px;
  background-position-x: center;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background-image: url(/assets/images/blk8/user-centered-2x.png), url(/assets/images/blk8/hp-kits-bkg.svg);
    background-repeat: no-repeat, no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: 200px 200px, cover;
  }
  @media screen and (min-width: 992px) {
    background-size: 300px 300px, cover;
  }
}

.kits-grid {
  &__img {
    display: block;
    margin-bottom: 0.5em;
  }
}

.Badges {
  margin: 0;
  list-style: none;

  li {
    display: inline-block;
    position: relative;
    padding: 0.3em 1.5em 0.3em 1em;

    &:after {
      content: '\02022';
      font-family: 'Arial', 'Verdana', Sans serif;
      font-size: 2em;
      line-height: 0;
      position: absolute;
      right: 0.1em;
      top: 50%;
    }
  }
}

.Category {
  margin: 0;
  list-style: none;

  li {
    display: inline-block;
    margin-right: 1rem;
  }
}

.page-hero {
  height: 320px;
}

.Social li a {
  box-shadow: 0 0 0.5rem #ddd;
  line-height: 0;
  font-size: 2.4rem;
  @media screen and (min-width: 992px) {
    font-size: 2rem;
  }
}

.Roadmap {
  margin-top: 1rem;
  margin-bottom: 4rem;
  margin-left: 4rem;
  position: relative;

  &:after {
    content: '';
    border-left: 1px solid #ddd;
    height: 100%;
    z-index: 100;
    top: 1rem;
    left: -2rem;
    position: absolute;
  }

  dt {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    position: relative;

    &:after {
      content: '';
      background-color: #5a6772;
      height: 2rem;
      width: 2rem;
      z-index: 101;
      top: 0.5rem;
      left: -3rem;
      position: absolute;
      border-radius: 2rem;
    }
  }

  dd {
    margin-top: 1rem;
    margin-bottom: 2rem;
    position: relative;
    font-weight: 300;

    &:after {
      content: '';
      background-color: #ddd;
      height: 1.2rem;
      width: 1.2rem;
      z-index: 101;
      top: 1rem;
      left: -2.5rem;
      position: absolute;
      border-radius: 2rem;
    }
  }
}

.RoadmapList {
  position: relative;

  dt {
    padding-top: 3rem;
    font-size: 2.5rem;
    font-weight: 600;
    position: relative;
    @media screen and (min-width: 768px) {
      font-size: 4rem;
    }

    &:not(:first-of-type) {
      border-top: 1px solid $light-grey;
    }
  }

  dd {
    position: relative;
    font-weight: 300;

    ul li.activity-list {
      margin: 1.6rem 0;

      &:not(:first-of-type) {
        padding-top: 1.6rem;
      }

      ul li span {
        padding: 0 1rem .2rem !important;
        line-height: 2.4rem;
        font-size: 1.2rem;
      }

      .activity-done::before {
        font-family: ita, fantasy !important;
        line-height: 1.4;
        content: "\2713";
        color: #00C5CA;
        position: absolute;
        margin-left: -2.4rem;
        @media screen and (min-width: 992px) {
          margin-left: -3.2rem;
        }
      }
    }
  }

  .Accordion {
    .Accordion-header {
      color: #06C;

      .Accordion-link {
        &:before {
          content: 'dettagli';
          font-size: 1.4rem;
          font-weight: 600;
        }

        &:after {
          content: '';
          display: inline-block;
          margin-left: 1rem;
          width: 1rem;
          height: 1rem;
          background: transparent url(../assets/icons/arrow-right.svg) right center no-repeat;
          background-size: 1rem 1rem;
          transition: .15s ease-in-out;
        }
      }

      &[aria-expanded=true] {
        .Accordion-link {
          &:before {
            content: 'chiudi';
          }

          &:after {
            transform: rotate(-90deg)
          }
        }
      }
    }

    .Accordion-panel {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        height: calc(100% - 10px);
        margin: 5px 0;
        width: 2px;
        background-color: $light-grey;
      }

      color: #586e80;
    }
  }
}

/* CHECKLISTS
============== */
*[data-checklist] {
  color: #00C5CA;
  position: relative;

  &:before {
    content: attr(data-checklist) ". ";
    @media screen and (min-width: 992px) {
      position: absolute;
      font-size: 10rem;
      width: 14rem;
      left: -15rem;
      text-align: right;
      bottom: 3.2rem;
    }
  }
}

/* RELATEDKITS
=============== */
.RelatedKits {
  &-cell {
    &.hidden {
      display: none !important;
    }

    & > article {
      background-size: auto;
      background-position-y: 25%;
      min-height: 10em;

      &:hover {
        background-color: #00c5ca !important;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 1em;
      }

    }
  }

  &--indexpage {
    .RelatedKits-cell > article {
      margin-bottom: 0.5em;
      @media screen and (max-width: 768px) {
        margin-bottom: 0.5em;
        width: 100%;
      }
    }
  }

  .categorykits-selector {
    margin: 0 auto;

    li {
      a {
        margin: 0 auto;

        &.active {
          border-bottom: 2px solid currentColor;
        }

        &:hover {
          color: #00c5ca !important
        }
      }
    }
  }

  .categorykits-desc {
    &.hidden {
      display: none !important;
    }
  }

}

/* RELATEDS
=============== */
.Relateds {
  .Badges {
    display: inline-block !important;
    position: relative;
    bottom: 0.3rem;
  }

  .relateds-last-string {
    position: relative;

    &:after {
      content: '';
      border-bottom: 1px solid #ddd;
      width: 50%;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: 100;
    }
  }
}

.Download {
  background-color: #fff;

  .Download-wrapper {
    position: relative;
    text-align: center;

    .Download-inner {
      width: 18em;
      position: relative;
      margin: 0 auto;
    }

    .Download-list {
      background: #fff;
      top: 1.2rem;
      position: absolute;
      z-index: 1000;
      padding: 10px;
      width: 18em;
      box-shadow: 0 2px 4px 0 #bdbdbd
    }

    .download-button {

      &--float {
        display: block;
        width: 100%;
        position: absolute;
        top: -3rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        border: none;
        white-space: normal;

        .Icon {
          margin-top: 4px;
        }
      }
    }
  }

  .Download-caption {
    text-transform: initial;
  }
}

/*  MEGABLOCK
======================*/
.Megablockgrid {
  &-text {
    a {
      color: #06C;
      text-decoration: none;
    }

    @media screen and (max-width: 991px) {
      margin: 0 !important;
    }
  }

  .triangle {
    position: absolute;
    z-index: 1;
    width: 200px;
    left: -120px;
    top: 0;
    bottom: 0;
    background-color: #fff;
    transform: skew(-15deg, 0deg);
    -webkit-transform: skew(-15deg, 0deg);

    &--reverse {
      left: auto;
      right: -120px;
    }

    @media screen and (max-width: 991px) {
      bottom: auto;
      top: -30px;
      height: 80px;
      width: 100%;
      left: 0;
      right: 0;
      transform: skew(0deg, 4deg);
    }
  }
}

/* USEFUL CLASSES
=================== */

@media screen and (min-width: 991px) {
  .u-md-flexDirectionCol {
    flex-direction: column;
  }
}

/* OVERRIDES ============ */
.Person-content.u-background-white {
  width: 100%;

  h4 {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.layout-download {
  .Breadcrumb {
    display: inline-block;

    .Breadcrumb-item {
      color: #fff;
      &:after {
        content: ' / ';
      }
    }

    .Breadcrumb-item--deactivated {
      font-size: 1.8rem !important;
      color: rgba(255, 255, 255, 0.5) !important;
    }

    a {
      color: #fff !important;
      font-weight: 300 !important;
    }

    & > li:nth-child(1),
    & > li:nth-last-child(1) {
      display: none !important;
    }
  }
}

.Prose {
  a {
    color: #0066CC;
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  & > ol > li,
  & > p,
  & > ul > li {
    color: #5a6772;
  }

  & > ul {
    list-style-type: disc;
    color: #5a6772;

    li > a {
      color: #0066CC;
      font-size: 2rem;
      font-weight: 400;
    }
  }

  & > h2 {
    font-size: 5.5rem !important;
    line-height: 6rem !important;
    @media screen and (max-width: 991px) {
      font-size: 4.5rem !important;
      line-height: 5rem !important;
    }
  }

  & > h3 {
    font-size: 4rem !important;
    line-height: 4.5rem !important;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    @media screen and (max-width: 991px) {
      font-size: 3rem !important;
      line-height: 3.5rem !important;
    }

    &:after {
      content: '';
      display: block;
      width: 12%;
      border-top: 1px solid #ddd;
      margin-top: 1rem;
    }

    img {
      max-height: 3.5rem;
      width: auto;
      margin-right: 0.5rem;
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
  }
}

.Grid--gallery {
  margin: 5rem -15rem;
  position: relative;
  @media screen and (max-width: 991px) {
    margin-right: 0;
    margin-left: 0;
  }

  .Grid-cell:nth-child(3n) {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100% !important;
  }

  figure {
    position: relative;

    figcaption {
      position: absolute;
      z-index: 100;
      bottom: 2rem;
      left: 2rem;
      right: 2rem;
      font-size: 1.25rem;
      line-height: 1.75rem;
      color: #ccc;

      span {
        background-color: #fff;
        display: inline;
        box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.guides-grid {

  &__img {
    display: block;
    margin-bottom: 0.5em;
    height: 75px;
  }
}

.lg-showcase {
  & img {
    max-width: 100%;
    width: 25rem;
    margin: 0 1rem 2.5rem;
    padding: 1rem;
    vertical-align: top;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.15);
  }
}

/* Footer */
.Footer {
  .logo {
    height: 5rem;
    max-width: 100%;
  }

  .social-icons {
    li {
      margin: 0;

      &:not(:last-child):after {
        content: "/";
      }
    }
  }

  .logo-pon {
    height: 4em;
    max-width: 100%
  }
}

/* People cards */
.people-card {
  width: calc(100% - 40px);
  margin: 10px auto;
  position: relative;
  min-height: 240px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
  @media (min-width: 480px) {
    min-height: 280px;
    width: calc(50% - 20px);
    margin: 10px 10px;
  }
  @media (min-width: 768px) {
    width: calc(25% - 10px);
    margin: 10px 5px;
  }

  .people-card--image {
    position: absolute;
    width: 25%;
    height: 100%;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      filter: grayscale(100%) brightness(80%) sepia(75%) hue-rotate(120deg) saturate(180%);
    }

    @media (min-width: 480px) {
      position: relative;
      width: 100%;
      height: auto;
      img {
        border-bottom-left-radius: 0;
        border-top-right-radius: 8px;
      }
    }
  }

  .people-card--details {
    position: absolute;
    right: 0;
    width: 75%;
    height: 100%;

    .content {
      padding: 32px 24px;

      h2 {
        font-size: 18px;
        line-height: 26px;
        padding-bottom: 12px;
      }

      span {
        font-size: 16px;
        color: #455B71;
        font-family: serif;
        line-height: 24px;
      }
    }

    .social {
      position: absolute;
      padding: 32px 24px;
      bottom: 0;
      left: 0;

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;

          a {
            color: #06C;
            padding-right: 8px;
            text-decoration: none;
            display: inline-block;
            width: 32px;
            text-align: center;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }

    @media (min-width: 480px) {
      position: relative;
      width: 100%;
      height: 200px;
    }
  }
}

.a-text-semi-bold a {
  font-weight: 600;
}

.accordion-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 88px;
  overflow: hidden;
}

.accordion-expand-button-close {
  width: 88px;
  height: 100%;
  position: absolute;
  background: #F0F6FC;
  color: white;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (max-width:991px) {
  .accordion-expand-button-close {
    height: 60%;
  }
}

.accordion-expand-button-open {
  width: 88px;
  height: 200px;
  position: absolute;
  background: #0066CC;
  color: white;
  text-align: center;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.accordion-expand-button-open:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 32px solid white;
  border-left: 45px solid transparent;
  border-right: 41px solid transparent;
}

@media screen and (min-width:1366px) {
  .u-lg-margin-top-none {
    margin-top: 0!important;
  }
  .u-lg-padding-all-l {
    padding: 2.4rem!important;
  }
}

@media screen and (min-width:1366px) {
  .u-lg-margin-top-none {
    margin-top: 0!important;
  }
  .u-lg-padding-all-l {
    padding: 2.4rem!important;
  }
  .u-lg-padding-all-none {
    padding: 0!important;
  }
  .u-lg-textRight {
    text-align: right;
  }
}

@media screen and (min-width:992px) and (max-width:1365px) {
  .u-md-padding-all-m {
    padding: 2rem!important;
  }
  .u-md-padding-all-none {
    padding: 0!important;
  }
  .u-md-textRight {
    text-align: right;
  }
  .u-md-margin-top-none {
    margin-top: 0!important;
  }
}

@media screen and (min-width:768px) and (max-width:991px) {
  .u-sm-textRight {
    text-align: right;
  }
}
