/** Home
    ==== */

.Home-hero {
  position: relative;
  background: white;
  left: 4em;
  margin-top: 4em;
}

.Home-hero h2 {
  text-align: right;
  min-width: 16em;
}

.Home-hero strong {
  font-weight: 700;
}

/** Header slim
   ================ */

.Header-banner {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.Header-slim a {
  text-decoration: none;
  padding-right: 1.3rem !important;
  padding-left: 1.3rem !important;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  display: inline-block !important;
  vertical-align: middle !important;
}

.Header-slim a:hover {
  text-decoration: none !important;
}

.Header-slim li {
  display: inline-block !important;
  vertical-align: middle !important;
}

.Header-slim li.current {
  border-bottom: 0.2rem solid white;
  font-weight: 600;
}

.Header-slim li.delimiter a {
  border-right: .1rem solid #127ae2;
}

.Header-slim-toggle a {
  text-decoration: none !important;
}

/** Header tweaks
    ===================== */

.Hamburger-toggle,
.Hamburger-toggle:before,
.Hamburger-toggle:after {
  background: #06c !important;
}

.Header-owner {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

@media screen and (min-width: 992px) {
  .Header-logo img {
    height: 9rem;
    width: 9rem;
  }
}

/** Megamenu tweaks
    ===================== */

.Megamenu--default .Megamenu-item > a {
  color: #06c !important;
}
