.HomeBlk1-heroTitle {
  text-align: right;

  @media screen and (min-width: 992px) {
    min-width: 16em;
  }
  @media screen and (max-width: 991px) {
    text-align: left;
    padding-left: 1em;
  }
}

.HomeBlk1-heroTitle strong {
  font-weight: 700;
}

.HomeBlk1-desc {
  @media screen and (max-width: 991px) {
    padding: 1em;
  }

  @media screen and (min-width: 992px) {
    margin-top: -15em;
    border-right: 1em solid #06c;
    padding-bottom: 2em !important;
    border-bottom: 1em solid #06c;
    width: 115%;
    padding-left: 9%;
    margin-left: -5%;
  }
}

.HomeBlk1-hero {
  @media screen and (min-width: 992px) {
    position: relative;
    margin-top: -11em;
  }
}
