.section__designkit {
    header {
        color: #5A6772;
        padding: 20px 0;
        h1 {
            font-size: 56px;
            font-weight: 700;
            line-height: 85px;
            text-align: center;
        }
        h2 {
            font-size: 40px;
            font-weight: 300;
            line-height: 52px;
            text-align: center;
            @media screen and (max-width: 991px) {
                font-size: 32px;
                line-height: 40px;
            }
        }
        h3 {
            font-size: 18px;	
            line-height: 27px;
            font-weight: 300;
            text-align: center;
        }
    }
}

.section__designkit__grid {
    @media screen and (max-width: 991px) {
            margin-left: 10px;
            margin-right: 10px;
    }
    
    .Grid {
        position: relative;
    }
    .Grid > .Grid-cell:nth-child(5n) {
        &:after {
            content: '';
            width: 100%;
            height: 1px;
            border-bottom: .1rem solid #ddd;
            position: absolute;
            left: 0;
            right: 0;
            @media screen and (max-width: 991px) {
                display: none !important;
            }
        }
    }
    .Grid > .Grid-cell:nth-child(5) {
        &:after {
            display: none;
        }
    }
    /* ORDINAMENTO */
    .Grid-cell {
        @media screen and (max-width: 991px) {
            display: none;
            margin-left: 10px;
            margin-right: 10px;
        }
    } 
    div[class*='order-1'] {
        @media screen and (max-width: 991px) {
            order: 1;
        }
    }
    div[class*='order-2'] {
        @media screen and (max-width: 991px) {
            order: 2;
        }
    }
    div[class*='order-3'] {
        @media screen and (max-width: 991px) {
            order: 3;
        }
    }
    div[class*='order-4'] {
        @media screen and (max-width: 991px) {
            order: 4;
        }
    }
    div[class*='order-5'] {
        @media screen and (max-width: 991px) {
            order: 5;
            
        }
    }
    div[class*='order-6'] {
        @media screen and (max-width: 991px) {
            order: 6;
            
        }
    }
    div[class*='order-7'] {
        @media screen and (max-width: 991px) {
            order: 7;
            
        }
    }
    div[class*='order-8'] {
        @media screen and (max-width: 991px) {
            order: 8;
            
        }
    }
    div[class*='order-9'] {
        @media screen and (max-width: 991px) {
            order: 9;
            
        }
    }
    div[class*='order-10'] {
        @media screen and (max-width: 991px) {
            order: 10;
            
        }
    }
    &.show-group-1 div[class*='group-1'] {
            display: flex !important;
    }
    &.show-group-2 div[class*='group-2'] {
            display: flex !important;
    }
    &.show-group-3 div[class*='group-3'] {
            display: flex !important;
    }
    &.show-group-4 div[class*='group-4'] {
            display: flex !important;
    }
    &.show-group-5 div[class*='group-5'] {
            display: flex !important;
    }

    .sdkit__mainhead {
        position: relative;
        padding: 20px 10px;
        img {
            display: block;
            margin: 0 auto;
            @media screen and (max-width: 991px) {
                display: inline-block;
                margin-right: 10px;
            }
        }
        .mainhead-ico-small {
            width: 48px;
            margin-right: 10px;
        }
        & > div {
            align-items: flex-end !important;
            margin-top: 20px;
            margin-bottom: 20px;
            @media screen and (max-width: 991px) {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            & > div {
                @media screen and (max-width: 991px) {
                    display: flex;
                    align-items: center;
                }
            }
        }
        &:before {
            content:"\23f5";
            font-family: ita!important;
            display: none;
            @media screen and (max-width: 991px) {
                display: inline;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        @media screen and (max-width: 991px) {
            cursor: pointer;
            color: #00C5CA !important;
            padding-top: 10px;
            padding-bottom: 10px;
            border-top: 1px solid #ddd;
        }
        &.g1 {
            border-top: none;
        }
    }
    &.show-group-1 {
        @media screen and (max-width: 991px) {
        .sdkit__mainhead {
            
            &.g1 {
                order: 1;
                &:before {
                    content: "\23f6";
                    }
            }
            &.g2, &.g3, &.g4 {
                order: 10;
            }
        }
        }
    }
    &.show-group-2 {
        @media screen and (max-width: 991px) {
        .sdkit__mainhead {

            &.g2 {
                &:before {
                    content: "\23f6";
                    }
            }
            
            &.g1, &.g2 {
                order: 1;
            }
            &.g3, &.g4 {
                order: 10;
            }
        } }
    }
    &.show-group-3 {
        @media screen and (max-width: 991px) {
        .sdkit__mainhead {
            &.g3 {
                &:before {
                    content: "\23f6";
                    }
            }
            &.g2, &.g1, &.g3 {
                order: 1;
            }
             &.g4 {
                order: 10;
            }
        } }
    }
    &.show-group-4 {
        @media screen and (max-width: 991px) {
        .sdkit__mainhead {
            &.g4 {
                &:before {
                    content: "\23f6";
                    }
            }
            &.g2, &.g1, &.g3,&.g4 {
                order: 1;
            }
        } }
    }

    /* -- ! ORDINAMENTO --*/
    a {
        color: #06c;
        text-decoration: none;
        font-weight: 600;
    }
    .sdkit__list {
        list-style-type : square;
        margin: 26px 30px;
        color: #06c;
        li {
            margin-bottom: 14px;
        }
    }
    .sdkit__head {
        font-size: 24px;
        font-weight: normal;
        line-height: 36px;
        color: #5A6772;
        text-align: center;

        & > div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 991px) {
                justify-content: inherit;        
            }
        }
        @media screen and (max-width: 991px) {
            text-align: left;
            text-transform: capitalize;            
        }
    }
    .sdkit__label {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 20px;
        img {
            display: block;
            width: 48px;
            margin: 0 auto;
            @media screen and (max-width: 991px) {
                display: none;
            }
        }
        @media screen and (max-width: 991px) {
            font-size: 20px;
            line-height: 26px;
            margin: 0;
        }
    }
    .sdkit__line {
        border: 1px solid #1C2024;
        opacity: 0.1;
        @media screen and (max-width: 991px) {
            display: none !important;
        }
    }
    .hide-in-small {
        @media screen and (max-width: 991px) {
            display: none !important;
        }
    }
    .show-in-small {
        display: none !important;
        @media screen and (max-width: 991px) {
            display: block !important;
        }
    }
}