.HomeBlk4 {
  background-position: 0 0;
  background-image: url(../assets/images/blk4/background.svg);
  background-repeat: no-repeat;
  background-size: cover;

  img {
    height: 400px;
    width: 400px;
    @media screen and (max-width: 991px) {
      margin-bottom: -4em;
      height: 300px;
    }
  }
}
