.owl-dots {
  text-align: center;
  &.disabled {
    display: none;
  }
}

.owl-dot {
  cursor: pointer;
  background-color: #777;
  border-radius: 100%;
  height: 0.8em;
  width: 0.8em;
  display: inline-block;
  margin-left: 0.25em;
  margin-right: 0.25em;

  &.active {
    background: #06A3A8;
  }

}
