.Balloon-1 {
  width: 2%;
  top: 50%;
  left: 37%;
  transform: scaleX(-1);
}

.Balloon-2 {
  width: 2%;
  top: 48%;
  left: 8%;
  transform: scaleX(-1);
}

.Balloon-3 {
  width: 2%;
  top: 50%;
  left: 87%;
  transform: scaleX(-1);
}

.Balloon-4 {
  width: 2%;
  top: 61%;
  left: 66%;
  transform: scaleX(-1);
}

.Balloon-5 {
  width: 4%;
  top: 24%;
  left: 12%;
  transform: scaleX(-1);
}

.Balloon-6 {
  width: 4%;
  top: 40%;
  left: 75%;
  transform: scaleX(-1);
}

.Balloon-7 {
  width: 4%;
  top: 25%;
  left: 90%;
}

.Balloon-8 {
  width: 4%;
  top: 67%;
  left: 29%;
}

.Balloon-9 {
  width: 4%;
  top: 30%;
  left: 40%;
}

.Balloon-10 {
  width: 2%;
  top: 20%;
  left: 63%;
}

.Balloon-11 {
  width: 2%;
  top: 34%;
  left: 25%;
}
