
@import "../../scss/bootstrap-breakpoints";



//mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(sm) {
  .overflow-x-list {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {
  .overflow-x-list {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {
  .overflow-x-list {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {
  .overflow-x-list {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {
}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {
}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}
