.subscribe {
	form {
		display: flex;
		align-items: center;
	}
	.form-group {
		flex-grow: 1;
		input {
			background-color: transparent;
		}
		label {
			text-transform: uppercase;
			font-weight: 600;
		}
	}
	.btn {
		text-transform: uppercase;
	}
}