
@import "../../scss/bootstrap-breakpoints";

.highlight-cards {
  .intro {
    p {
      font-size: 1.3333333333333333rem;
      line-height: 1.2;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .highlight-cards {
    .buttons {
      .btn {
        margin-right: calc(var(--spacer) * 4);
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

//mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(sm) {
  .highlight-cards {
    .buttons {
      .btn {
        width: 100%;
        display: block;
        margin-bottom: calc(var(--spacer) * 4);
        margin-right: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {

}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {
  .highlight-cards{
    .di-card {
      height: 100%;
    }
  }
}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {

}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {
}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {
}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}
