.topics {
  .icon-wrapper {
    .icon {
      width: 80px;
      height: 80px;
    }
  }
}

.highlight-cards {
  .topics {
    padding-top: 0 !important;
    .container-xxl {
      padding-inline: 0 !important;
    }
  }
}
