@import "../../scss/bootstrap-breakpoints";

pre {
    max-height:70vh;
    padding-top: 3rem !important;
}
.accordion.accordion-left-icon .accordion-header .accordion-button::before {
    width:1rem;
}

.iframe-example {
    transition-property: height, max-width, width;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    &.min-default-height {
        min-height: 350px;
    }
}

.form-check {
    label {
        color: white;
        font-size: 1rem !important;
        &::after {
            border-color: white !important;
        }
    }
}

.viewer-mobile {
    max-width: 360px;
}
.viewer-tablet {
    max-width: 768px;
}
.viewer-full {
    max-width: 1280px;
}

.responsive-buttons {
    .btn-group > .btn-group:not(:first-child), .btn-group > .btn:not(:first-child) {
        margin-left: -2px!important;
    }
}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {
    .no-left-margin {
      margin-left: -1.5rem;
    }
  }
  
  //Laptop ------------------------------------------------------------------------------------------------
  @include media-breakpoint-up(xl) {
    .no-left-margin {
      margin-left: -3rem;
    }
  }
