pre {
    max-height:70vh;
}
.accordion.accordion-left-icon .accordion-header .accordion-button::before {
    width:1rem;
}

.iframe-example {
    min-height: 350px;
}

.viewer-sm {
    max-width: 360px;
}
.viewer-md {
    max-width: 768px;
}

