pre {
    max-height:70vh;
}
.accordion.accordion-left-icon .accordion-header .accordion-button::before {
    width:1rem;
}

.iframe-example {
    transition-property: height, max-width, width;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.viewer-mobile {
    max-width: 360px;
}
.viewer-tablet {
    max-width: 768px;
}
.viewer-desktop {
    max-width: 1280px;
}

