pre {
    max-height:70vh;
}
.accordion.accordion-left-icon .accordion-header .accordion-button::before {
    width:1rem;
}

.iframe-example {
    min-height: 350px;
    transition-property: height, max-width, width;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.viewer-sm {
    max-width: 360px;
}
.viewer-md {
    max-width: 768px;
}
.viewer-full {
    max-width: 1280px;
}

