.it-card .dropdown {
	.dropdown-menu {
		padding: 1rem 0;
	}

	.link-list-wrapper ul li a {
		display: flex;
		justify-content: space-between;
	}

	.link-list-wrapper ul li:not(:last-child) {
		margin-bottom: calc(var(--spacer) * 4);
	}
}