@import "../../scss/bootstrap-breakpoints";

.di-card {
	box-shadow: var(--card-box-shadow);
	.img-wrapper {
		position: relative;
    background-color: var(--card-image-bg);
    &.negative-margin {
      margin-left: calc(var(--card-image-negative-margin) * -1);
      margin-right: calc(var(--card-image-negative-margin) * -1);
      width: calc(100% + calc(var(--card-image-negative-margin)*2));
    }
		img {
			object-fit: cover;
		}
		&.img-placeholder {
			background-color: rgb(var(--bs-medium-rgb));
		}
		&.icon-img {
			border-bottom: var(--card-icon-img-border-bottom);
			img {
				object-fit: none;
				position: inherit;
				top: auto;
				left: auto;
				width: var(--card-icon-img-size);
				height: var(--card-icon-img-size);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%)
			}
		}
	}
	h2,
	h3,
	h4,
	h5 {
		font-size: var(--card-title-size);
		margin-bottom: var(--card-text-mb);
		font-weight: var(--card-title-fw);
    line-height: var(--card-title-lh);
		a {
			text-decoration: none;
      display: block;
		}
	}
	.text-zone {
		p{
			font-size: var(--card-p-size);
		}
	}
	.di-card-body {
		height: 100%;
    position: relative;
	}
	.simple-cta{
    margin-top: var(--card-text-mb);
		& + * {
			margin-top: var(--card-text-mb);
		}
	}
	.more-info,
  .date-info {
		display: block;
		font-size: var(--card-more-info-size);
	}
	.di-card-footer {
		margin-top: var(--card-footer-mt);
	}
	.date-overlay {
		height: var(--card-date-overlay-height);
		width: var(--card-date-overlay-width);
		background-color: var(--card-date-overlay-bg);
		border-radius: var(--card-date-overlay-border-radius);
		text-align: center;
		box-shadow: var(--card-date-overlay-border-shadow);
		position: absolute;
		left: auto;
		top: var(--card-date-overlay-distance);
		right: var(--card-date-overlay-distance);
		span {
			display: block;
		}
		.day {
			font-size: var(--card-date-overlay-day-font-size);
			font-weight: 700;
		}
		.month {
			font-size: var(--card-date-overlay-month-font-size);
			font-weight: 600;
		}
	}
	.icon-overlay {
		height: var(--card-icon-overlay-height);
		width: var(--card-icon-overlay-width);
		background-color: var(--card-icon-overlay-bg);
		border-radius: var(--card-icon-overlay-border-radius);
		box-shadow: var(--card-icon-overlay-border-shadow);
		position: absolute;
		left: auto;
		top: var(--card-date-overlay-distance);
		right: var(--card-date-overlay-distance);
	}
	.dropdown {
		.dropdown-menu {
			padding: 1rem 0;
		}
		.link-list-wrapper ul li a {
			display: flex;
			justify-content: space-between;
		}
		.link-list-wrapper ul li:not(:last-child) {
			margin-bottom: calc(var(--spacer) * 4);
		}
	}
  &.title-small {
    h2,
    h3,
    h4,
    h5 {
      font-size: var(--card-title-size-small);
      line-height: var(--card-title-lh-small);
    }
  }
}
//mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(sm) {

}
//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {

}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {
  .di-card {
    &.fullheight {
      height: 100%;
    }
  }
}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {

}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {
}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {
}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}
