.it-card {
  .dropdown {
	  .dropdown-menu {
      padding: 1rem 0;
    }

    .link-list-wrapper ul li a {
      display: flex;
      justify-content: space-between;
    }
    .link-list-wrapper ul li:not(:last-child) {
      margin-bottom: calc(var(--spacer) * 4);
    }
  }

  // Override default justify to end
  .it-card-footer.it-card-related {
    justify-content: start;
  }

  .it-card-meta {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}