@import "../../scss/bootstrap-breakpoints";

.it-header-center-wrapper .it-header-center-content-wrapper .it-brand-wrapper a .icon {
  max-width:72px;
  max-height: 72px;
}

//mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(sm) {
  .it-header-center-wrapper .it-header-center-content-wrapper .it-brand-wrapper a .icon {
    margin-right:12px;
    margin-left:8px;
  }
  .it-header-center-wrapper .it-header-center-content-wrapper {
    // justify-content:center;
  }
}

//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {
  .it-header-center-wrapper .it-header-center-content-wrapper .it-brand-wrapper a .icon {
    margin-left:8px;
    margin-right:16px;
  }
}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {

}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {
  .it-header-center-wrapper {
    height:104px
  }
  .it-header-center-wrapper .it-header-center-content-wrapper .it-brand-wrapper a .icon {
    margin-right:24px;
    margin-left:0;
  }
}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {
}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {
}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}
