.feedback {
  h2 {
    // font-size: 1.3333333333333333rem;
  }
  .card {
    &:after {
      content: none;
    }
  }

  legend {
    color: var(--bs-body-color);
    font-weight: bold;
    font-size: 1.3333333333333333rem;
    white-space: normal;
    line-height: 1.2;
  }

  label {
    font-weight: 400;
    color: var(--bs-body-color);
  }

  .custom-label {
    text-transform: uppercase;
    font-size: 0.7777777777777778rem;
    font-weight: bold;
  }

}

//fix BI
.modal-backdrop {
  z-index: 10100;
}
.modal {
  z-index: 10200;
}

//modal custom styles (move to future modal component?)
.modal-header {
  .btn-close {
    background: none;
    opacity: 1;
    &:hover {
      .icon {
        fill: var(--color-hover)
      }
    }
  }
}

.modal-body {
  color: var(--bs-body-color);
  // h2 {
  //   // line-height: 1.2;
  //   // font-weight: 600;
  //   // font-size: 1.5555555555555556rem
  // }
  p {
    font-size: 1rem !important;
    margin-bottom: 48px !important;
    line-height: 1.5 !important;
  }
  p.lead {
    font-size: 1.2rem !important;
    margin-bottom: 24px !important;
    line-height: 1.35 !important;
  }
}

.modal-lg {
  // max-width: 580px;
}

.slidedown {
  overflow: hidden;
  transition: height 0.5s;

  &.slidedown-animend {
    overflow: visible;
  }
}
