.feedback {
  h2 {
    font-size: 1.75rem;
  }
  .card {
    &:after {
      content: none;
    }
  }

  legend {
    font-weight: bold;
    font-size: 1.3333333333333333rem;
  }

  label {
    font-weight: 400;
  }

  .custom-label {
    text-transform: uppercase;
    font-size: 0.7777777777777778rem;
    font-weight: bold;
  }

}
