@import "../../scss/bootstrap-breakpoints";

.section-intro {
  padding-top: calc(var(--spacer) * 24) !important;

  p, ul, ol {
    font-family: "Lora",Georgia,serif;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: calc(var(--spacer) * 8) auto;
    border-radius: 4px;
  }
  .di-card .text-zone p {
    font-family: var(--bs-body-font-family);
  }
  .di-card img {
    border-radius: 0;
  }
}


//Mobile and tablet only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(lg) {

}
//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {

}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {

}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {

}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {
  .section-intro {
    img {
      margin: calc(var(--spacer) * 12) auto;
    }
    .negative-x {
      margin-left: -10%;
      margin-right: -10%;
    }
  }

}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {
}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}
