.tab {
  font-size:1rem;
  .nav-link {
    -moz-transition: none;
    -o-transition:none;
    -webkit-transition: none;
    transition:none;
    padding: 16px 24px;
    color: #0066cc;
    &:not(.active) {
      // border-bottom: 1px solid #dfe4f2!important;
    }
    &:is(.active) {
      border-bottom:none!important;
      color:#003366;
      padding: 16px 23px 18px 23px;
    }
  }
  .nav-item {
    padding-bottom: 0.5px;
  }
  .nav-item-filler {
    &.flex-grow-0 {
      width: 24px;
    }
  }
}
