@import "../../scss/bootstrap-breakpoints";

.tab {
  font-size:1rem;
  .nav-tabs.nav-tabs-cards .nav-link{
     border-bottom-width: 1px;
  }
  .nav-link {
    -moz-transition: none;
    -o-transition:none;
    -webkit-transition: none;
    transition:none;
    padding: 16px 24px;
    color: #0066cc;
    &:not(.active) {
      border-color: #C5C7C9!important;
    }
    &:is(.active) {
      border-color: #C5C7C9!important;
      border-bottom:none!important;
      color:#003366;
      padding: 16px 23px 18px 23px;
    }
  }
  .nav-item {
    padding-bottom: 0.5px;
  }
  .nav-item-filler {
    border-color: #C5C7C9!important;
    &.flex-grow-0 {
      width: 16px;
    }
  }
  // .nav-tabs-hidescroll {
  //   height:4rem;
  // }
}


// Tablet landscape
@include media-breakpoint-up(lg) {
  .tab {
    .nav-item-filler {
      &.flex-grow-0 {
        width: 3rem;
      }
    }
  }
}