.it-footer {
  .it-brand-wrapper {
    img {
      width: 48px;
      margin-right: 8px;
      flex-shrink: 0;
    }
  }
  .link-list-wrapper ul li a span,
  .link-list-wrapper ul li a:hover span {
    color: #FFF;
  }
}