@import "../../scss/bootstrap-breakpoints";
.testimonials {
  .icon-wrapper {
    width: calc(var(--testimonials-icon-size) / 1.5);
    height: calc(var(--testimonials-icon-size) / 1.5);
    border-radius: 50%;
    background-color: var(--color-accent);
  }
  .icon {
    flex-shrink: 0;
    width: calc(var(--testimonials-icon-inside-size) / 1.5);
    height: calc(var(--testimonials-icon-inside-size) / 1.5);
    fill: #FFF;
  }
  .fw-medium {
    font-weight: 600;
  }
}
//mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(sm) {

}
//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {

}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {

}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {
  .testimonials {
    .col-12:last-child{
      .testimonial-wrapper {
        margin-top: -50px;
      }
    }
  }
}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {
  .testimonials {
    .icon-wrapper {
      width: var( --testimonials-icon-size);
      height: var( --testimonials-icon-size);
    }
    .icon {
      width: var(--testimonials-icon-inside-size);
      height: var(--testimonials-icon-inside-size);
    }
  }
}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {
}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}
