
@import "../../scss/bootstrap-breakpoints";

.chip {
	text-decoration: none;
	padding-left: var(--chip-x-padding);
	padding-right: var(--chip-x-padding);
	&.chip-simple {
		padding-right: var(--chip-x-padding);
	}
	.chip-label {
		font-size: var(--chip-font-size);
	}
	&.chip-disabled {
		pointer-events: none;
	}
	&.chip-secondary {
		border-color: var(--chip-secondary-border-color);
	}
}

//mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(sm) {
  .chip  {
    .chip-label {
      height: 14px;
    }
  }
}
