
@import "../../scss/bootstrap-breakpoints";

.chip {
	text-decoration: none;
	margin: 4px 8px 8px 0px; // fix to move to BSI - TODO:investigate why margin-right not working
	padding-bottom: 0;

	&.chip-disabled {
		pointer-events: none;
	}
}