@import "../../scss/bootstrap-breakpoints";

.table {
  font-size: 1rem;
  > :not(:first-child) {
    border-bottom-color: #C5C7C9;
    border-top: none;
  }
  &.fixed {
      table-layout: fixed;
  }
  thead {
    border-style: none;
    th {
      border-bottom-width: 2px;
      border-bottom-color: #C5C7C9;
    }
  }
  th,
  td {
    padding-top: 16px;
    padding-bottom: 16px;
    min-width: 140px;
    &.border-bottom-2 {
      border-bottom-width: 2px;
    }
  }
  tr {
    th,
    td {
      p {
        font-size: 1rem;
      }
      &:first-child {
        padding-left: 0;
      }
    }
  }
}