.bg-primary {
  .breadcrumb-container {
    .breadcrumb {
      margin-bottom: 0;
      color: var(--breadcrumbs-bg-primary-color);
      .breadcrumb-item {
        a {
          color: var(--breadcrumbs-bg-primary-color);
        }
      }
    }
  }
}
