---
layout: default
lang: it
---

{% include setlang.html %}

{% assign maintainers = site.data.people.maintainers %}
{% assign contributors = site.data.people.contributors %}
{% assign supporters = site.data.people.supporters %}
<div class="u-xs-padding-top-none u-md-flex u-lg-flex u-flexJustifyCenter u-backgroundBlendModeMultiply u-backgroundSizeCover u-height-300" aria-hidden="true" style="{% include background-style.html %}">
  <div class="Grid Grid--alignCenter u-sizeFull u-flexAlignSelfCenter">
    <div class="Grid-cell u-sizeFull u-md-size7of12 u-lg-size7of12">
      <div class="u-textCenter u-padding-bottom-xl ">
        {% if page.categories %}
        <div class="u-layoutCenter u-textCenter u-margin-all-xl">
          <ul class="Category">
            {% for item in page.categories%}
            <li class="u-text-r-xxs u-color-white u-border-all-xxs  u-padding-all-xxs">{{item}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if page.nodate != true %}
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="u-text-r-xs u-color-white">{{ page.date | date: "%-d %b %Y" }}</time>
        {% endif %}
        <h1 itemprop="name headline" class="u-textCenter u-textWeight-700 u-text-r-xxl u-margin-bottom-s u-textWeight-300 u-color-white u-margin-top-s u-lineHeight-l">{{ page.title }}</h1>
        {% if page.subtitle %}
        <h2 class="u-layoutCenter u-textCenter u-color-white u-text-r-m u-textWeight-300 u-margin-bottom-s" style="max-width:24em">{{ page.subtitle }}</h2>
        {% endif %}
        </div>
    </div>
  </div>
</div>

<section class="u-layout-r-withGutter u-padding-r-top u-padding-r-bottom u-posRelative u-zindex-30">
  <div class="Prose u-layout-prose u-layoutCenter u-padding-top-xl">
    <div>{{page.content}}</div>
    <h3 class="u-cf u-sizeFull u-margin-top-xxl u-textWeight-300 u-text-r-m u-padding-top-xxl">{{ t.credits_maintainers }}</h3>
  </div>
  <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
    <div class="Grid Grid--withGutterL">
      {% for maintainer in maintainers %}
      <div class="people-card">
        <div class="people-card--image">
          <img src="{{ maintainer.pic| relative_url }}" alt="Foto di profilo di {{ maintainer.name }}">
        </div>
        <div class="people-card--details">
          <div class="content">
            <h2>{{ maintainer.name }}</h2>
            <span>{{maintainer.desc}}</span>
          </div>
          <div class="social">
            <ul>
              {% for social in maintainer.social %}
              <li>
                <a href="{{ social.link }}" title="icona {{ social.name }}">
                  <span class="Icon Icon-{{ social.name }}"></span>
                  <span class="u-hiddenVisually">{{ social.name }}</span>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="Prose u-layout-prose u-layoutCenter u-padding-top-xl">
    <h3 class="u-cf u-sizeFull u-margin-top-xxl u-textWeight-300 u-text-r-m u-padding-top-xxl">{{ t.credits_contributors }}</h3>
    <p style="color:#3F4447;">
      {{ contributors | array_to_sentence_string: "e" }}
    </p>
    <h3 class="u-cf u-sizeFull u-margin-top-xxl u-textWeight-300 u-text-r-m u-padding-top-xxl">{{ t.credits_supporters }}</h3>
    <p style="color:#3F4447;">
      {{ supporters | array_to_sentence_string: "e" }}
    </p>
  </div>
</section>
