---
layout: default
lang: it
---

{% include setlang.html %}

{% assign projects = site.projects | where: 'lang', active_lang | sort: 'order' | reverse %}
<div class="u-padding-top-xxl u-background-white"></div>
<div class="u-padding-top-xxl u-xs-padding-top-none u-md-flex u-lg-flex u-flexJustifyCenter" aria-hidden="true"
      style="background-color: {{ page.backgroundColor }}; background-image: url({{ page.backgroundImage | relative_url }});
        background-blend-mode: multiply; background-size: cover; background-position-y: {{page.backgroundPositionY}}; min-height: 400px;">

      <div class="Grid Grid--alignCenter u-sizeFull u-flexAlignSelfCenter">

        <div class="Grid-cell u-sizeFull u-md-size7of12 u-lg-size7of12">
           <div class="u-textCenter u-padding-bottom-xl ">
          {% if page.categories %}
              <div class="u-layoutCenter u-textCenter u-margin-all-xl">
                <ul class="Category" >
                {% for item in page.categories%}
                  <li class="u-text-r-xxs u-color-white u-border-all-xxs  u-padding-all-xxs">
                  {{item}}
                  </li>
                {% endfor %}
                </ul>
              </div>
            {% endif %}

            {% if page.nodate != true %}
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="u-text-r-xs u-color-white">
            {{ page.date | date: "%-d %b %Y" }}</time>
            {% endif %}

            <h1 itemprop="name headline" class="u-textCenter u-textWeight-700 u-text-r-xxl u-margin-bottom-s u-textWeight-300 u-color-white u-margin-top-s u-lineHeight-l">
              {{ page.title }}</h1>

            {% if page.subtitle %}
            <h2 class="u-layoutCenter u-textCenter u-color-white u-text-r-m u-textWeight-300 u-margin-bottom-s"
              style="max-width:24em">{{ page.subtitle }}</h2>
            {% endif %}

            <hr class="u-border-left-none u-border-right-none u-border-bottom-xxs u-border-top-none u-color-white u-margin-r-bottom"
              style="max-width: 15em" />

            {% if page.author %}
              <div itemprop="author" itemscope itemtype="http://schema.org/Person" class="u-layoutCenter u-textCenter">
                <span itemprop="name" class="u-text-r-xs u-color-white">{{ t.by }} {{ page.author }}</span>
              </div>
            {% endif %}

            {% if page.keywords %}
              <div itemprop="keywords" class="u-layoutCenter u-textCenter u-margin-all-xl">
                <ul class="Badges">
                {% for item in page.keywords%}
                  <li class="u-text-r-xxs u-background-white u-borderRadius-xl u-color-50 badge">
                  {{item}}
                  </li>
                {% endfor %}
                </ul>
              </div>
            {% endif %}

            <div class="u-layoutCenter u-textCenter u-color-white u-margin-bottom-xxl">
              {% include share.html %}
            </div>
        </div>

        </div><!-- /grid-cell-->
      </div>

  </div>


<section class="u-background-grey-15 u-layout-r-withGutter u-padding-r-top
  u-padding-r-bottom u-posRelative u-zindex-30">

  <div class="Prose u-layout-prose u-layoutCenter u-padding-top-xl">{{page.content}}</div>

  <!-- phi = k^i -->
  <div class="Grid Grid--withGutterL ">
    {% for person in site.data.people %}
    {% if person[1].status == 'maintainer' %}
    <div class="Person-container Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of3 u-lg-size1of3 u-textCenter u-margin-bottom-xl">
      <div class="Person u-round u-cf u-flex" style="background-image: url({{person[1].pic| relative_url }})">
        <div class="Person-content u-background-white u-flexAlignSelfEnd u-zindex-30 u-textCenter">
          <div style="position: absolute; width: 100%">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 10" style="transform: translate(0, -100%)">
            <path fill="#FFF" fill-rule="evenodd" d="M100 0c35.006 0 68.647 3.52 100 10H0C31.353 3.52 64.993 0 100 0z"/>
          </svg>
          </div>
          <div class="Grid u-flex u-flexWrap u-flexJustifyCenter">
            <h3 style="" class="Grid-cell u-sizeFull u-textCenter u-text-r-xs u-textWeight-600 u-margin-bottom-xxs">
              {{ person[1].name }}
            </h3>

            {% assign desc = person[1].desc %}
            {% if desc %}
            <h4 class="Grid-cell u-sizeFull u-textCenter u-margin-bottom-xxs
              u-text-r-xxs u-textWeight-400 u-color-grey-50 ">{{ desc }}</h4>
            {% endif %}

            {% for project in projects %}
            {% if project.maintainers contains person[0] %}
            <h4 class="Grid-cell u-sizeFull u-textCenter u-margin-bottom-xxs
              u-text-r-xxs u-textWeight-400 u-color-grey-50 ">
              <a class="u-color-50 u-textClean" href="{{ project.url | relative_url }}">{{ project.title }}</a></h4>
            {% endif %}
            {% endfor %}

            <div class="Grid-cell u-sizeFull u-flexAlignSelfEnd u-margin-bottom-xs u-margin-bottom-s u-margin-top-xxs">
              <ul class="u-textCenter u-layoutCenter">
                {% for contact in person[1].contacts %}
                <li class="u-inlineBlock u-padding-right-xxs u-padding-left-xxs">
                  <a href="{{ contact[1].link }}" title="" class="Person-social-link u-padding-all-xs u-background-50 u-color-white u-inlineBlock u-linkClean
                          u-borderRadius-circle u-alignMiddle"><span class="Icon Icon-{{ contact[0] }}"></span>
                        <span class="u-hiddenVisually">{{ contact[1].name }}</span>
                      </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% endfor %}
  </div>
  <!-- <phi = k^i>  -->

  <h2 class="u-cf u-sizeFull u-margin-top-xxl u-textCenter u-textWeight-300 u-text-r-m u-padding-bottom-xxl u-padding-top-xxl">
    {{ t.credits_contributors | capitalize }}</h2>

  <div class="Grid Grid--alignMiddle Grid--withGutter u-margin-r-top u-flexJustifyCenter">
    {% for person in site.data.people %}
    {% if person[1].status == 'contributor' %}
    <div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of3 u-lg-size1of4 u-textCenter u-margin-bottom-xl">
      <div class="Person u-borderRadius-m u-flex" style="background-image: url({{ person[1].pic }})">
        <div class="Person-content u-background-white u-flexAlignSelfEnd u-zindex-30 u-textCenter">
          <div class="Grid u-flex u-flexWrap u-flexJustifyCenter u-padding-r-top">
            <h3 style="" class="Grid-cell u-sizeFull u-textCenter u-text-r-xs u-textWeight-600 u-margin-bottom-xxs">
              {{ person[1].name }}
            </h3>

            {% assign desc = person[1].desc %}
            {% if desc %}
            <h4 class="Grid-cell u-sizeFull u-textCenter u-margin-bottom-xxs
              u-text-r-xxs u-textWeight-400 u-color-grey-50 ">{{ desc }}</h4>
            {% endif %}

            {% for project in projects %}
            {% if project.maintainers contains person[0] %}
            <h4 class="Grid-cell u-sizeFull u-textCenter u-margin-bottom-xxs
              u-text-r-xxs u-textWeight-400 u-color-grey-50 ">
              <a class="u-color-50 u-textClean" href="{{ project.url | relative_url }}">{{ project.title }}</a></h4>
            {% endif %}
            {% endfor %}

            <div class="Grid-cell u-sizeFull u-flexAlignSelfEnd u-margin-bottom-xs u-margin-bottom-s u-margin-top-xxs">
              <ul class="u-textCenter u-layoutCenter">
                {% for contact in person[1].contacts %}
                <li class="u-inlineBlock u-padding-right-xxs u-padding-left-xxs">
                  <a href="{{ contact[1].link }}" title="" class="Person-social-link u-padding-all-xs u-background-50 u-color-white u-inlineBlock u-linkClean
                          u-borderRadius-circle u-alignMiddle"><span class="Icon Icon-{{ contact[0] }}"></span>
                        <span class="u-hiddenVisually">{{ contact[1].name }}</span>
                      </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <!-- -<phi = k^i>  -->

</section>
