---
layout: default
---

{% include setlang.html %}
{% assign download_file = page.download_file %}

{% comment %}
  {% assign subnav = site.data[page.subnav] %}
  {% include linklist.html items=subnav dynamic=true %}
  {% if site.disqus.shortname %} {% include disqus_comments.html %} {% endif %}
  {% capture pills %}{% include pills.html items=page.categories  %}{% endcapture %}
  {% include sideblock.html title=t.home_projects_expand content=pills %}
{% endcomment %}

<article itemscope itemtype="http://schema.org/BlogPosting" class="u-background-white u-nbfc u-padding-top-xxl u-xs-padding-top-none">
  <div class="u-background-white u-xs-padding-top-none u-md-flex u-lg-flex u-flexJustifyCenter u-backgroundBlendModeMultiply u-backgroundSizeCover u-height-400" aria-hidden="true" style="{% include background-style.html %}">
    <div class="Grid Grid--alignCenter u-sizeFull u-flexAlignSelfCenter">
      <div class="Grid-cell u-sizeFull u-md-size7of12 u-lg-size7of12">
        <div class="u-textCenter u-padding-bottom-xl ">
          {% if page.categories %}
          <div class="u-layoutCenter u-textCenter u-margin-all-xl">
            <ul class="Category">
              {% for item in page.categories%}
              <li class="u-text-r-xxs u-color-white u-border-all-xxs  u-padding-all-xxs">{{item}}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% unless page.nodate %}
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="u-text-r-xs u-color-white">{{ page.date | date: "%-d %b %Y" }}</time>
          {% endunless %}
          <h1 itemprop="name headline" class="u-textCenter u-textWeight-700 u-text-r-xxl u-margin-bottom-s u-textWeight-300 u-color-white u-margin-top-s u-lineHeight-l">{{ page.title }}</h1>
          {% if page.description %}
          <h2 class="u-layoutCenter u-textCenter u-color-white u-text-r-m u-textWeight-300 u-margin-bottom-s" style="max-width:24em">{{ page.description }}</h2>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% include kit_downloadbutton.html %}

  <div class="u-background-white u-layout-r-withGutter u-padding-r-top u-padding-bottom-xxl u-posRelative u-zindex-30">
    <div class="Grid Grid--alignCenter">
      <div class="Grid-cell u-sizeFull u-md-size7of12 u-lg-size7of12">
        <div class="Prose u-layout-prose u-layoutCenter u-padding-top-xl u-padding-bottom-xl u-color-grey-50">
          {{ content }}
        </div>
        {% include kits.html %}
        {% if page.guidelines != nil %}
            {% include relatedsguideline.html pageguidelines = page.guidelines %}
        {% endif %}
        {% if page.documents != nil %}
          {% include relatedsdocuments.html pagedocuments = page.documents %}
        {% endif %}
      </div>
    </div>
  </div>

  {% if page.related_tags != nil %}
    {% include relateds.html %}
  {% endif %}

  {% if page.tags != nil %}
    {% include relatedspost.html pagetags=page.tags %}
    {% include relatedskit.html pagetags=page.tags %}
  {% endif %}

</article>
