---
layout: default
---

{% include setlang.html %}

<div class="super-breadcrumb u-background-white">
  <div class="u-layout-wide u-layoutCenter u-padding-r-top u-border-bottom-xxs u-padding-r-bottom">

    <!-- header -->
    <div class="Grid Grid--alignCenter u-padding-all-l  u-color-grey-ui-kit u-margin-top-xxl u-margin-bottom-xxl">
      <div class="Grid-cell u-lg-size5of12 u-md-size5of12">
        <h1 class="u-text-h1 ">{{page.header.title}}</h1>
        <div class="u-text-r-l ">
          {{page.header.description}}
        </div>
        <div class="u-margin-top-xxl u-margin-bottom-m">
        <ul>
          {% for link in page.header.links %}
            <li class="u-margin-bottom-xs u-textWeight-600 u-inlineBlock u-md-block u-lg-block u-text-r-xxs u-color-grey-ui-kit u-special-list-r u-padding-left-none u-padding-right-xl u-padding-right-xxl">
              {{link}}
            </li>
          {% endfor %}
        </ul>
        </div>
      </div>
      <!--img placeholder <div class="Grid-cell u-md-before1of12 u-lg-before1of12 u-md-size3of12 u-lg-size3of12 u-padding-top-s" style="max-width:360px">
        <img class="u-sizeFull " alt="Modelli." src="{{page.header.image}}" style="height:140px"/>
      </div>-->
    </div>

  </div>
</div>

<article id="manuale" class="">

  <div class="u-layout-wide u-layoutCenter u-padding-all-l u-padding-top-xxl">
    <!-- manuale header -->
    <div class="Grid Grid--withGutter Grid--alignCenter u-margin-top-l u-padding-top-xxl">
      <div class="faseHead Grid-cell u-lg-size9of12 u-md-size9of12 u-padding-bottom-l">
        <div class="Grid Grid--withGutterM">
          <div class="Grid-cell u-lg-size1of1 u-md-size1of1">
            <h2 class="u-text-r-xl u-textWeight-600 u-color-grey-ui-kit">{{page.manuale.title}}</h2>
          </div>
          <div class="Grid-cell u-lg-size2of3 u-md-size2of3">
            <div class="u-text-r-l  u-layout-prose u-color-grey-ui-kit u-lineHeight-m u-padding-top-s">
              {{page.manuale.subtitle}}
            </div>
          </div>
          <div class="Grid-cell u-lg-size2of3 u-md-size2of3">
            <div class="u-text-r-xs u-lineHeight-xl u-layout-prose u-color-grey-ui-kit u-padding-top-s">
              {{page.manuale.description}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {%- include manualetable.html headingClass='u-block u-text-h3 u-border-bottom-xxs u-padding-bottom-m' -%}

  <div class="u-layout-wide u-layoutCenter u-padding-all-l u-padding-top-xxl">
    <!-- manuale header -->
    <div class="Grid Grid--withGutter Grid--alignCenter u-margin-top-l u-padding-top-xxl">
      <div class="faseHead Grid-cell u-lg-size9of12 u-md-size9of12 u-padding-bottom-l">
        <div class="Grid Grid--withGutterM">
          <div class="Grid-cell u-lg-size1of1 u-md-size1of1">
            <h2 class="u-text-r-xl u-textWeight-600 u-color-grey-ui-kit">{{page.guide.title}}</h2>
          </div>
          <div class="Grid-cell u-lg-size2of3 u-md-size2of3">
            <div class="u-text-r-l  u-layout-prose u-color-grey-ui-kit u-lineHeight-m u-padding-top-s">
              {{page.guide.subtitle}}
            </div>
          </div>
          <div class="Grid-cell u-lg-size2of3 u-md-size2of3">
            <div class="u-text-r-xs u-lineHeight-xl u-layout-prose u-color-grey-ui-kit u-padding-top-s">
              {{page.guide.description}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>Work in progress...</div>

  </div>

</article>
<!-- work in progress -->
