---
layout: default
---

{% include setlang.html %}

<section class="u-background-white u-padding-top-xxl u-layout-r-withGutter">

  <!-- unnecessary decorative elements -->
  <div class="Grid u-layout-wide u-layoutCenter u-padding-top-l">
    <div class="Grid-cell u-sm-size8of12 u-md-size8of12 u-lg-size8of12 u-sm-before1of12 u-md-before1of12 u-lg-before1of12">

      <svg width="56px" height="34px" viewBox="0 0 56 34" style="margin-bottom: -5px; margin-left: 5px"
        version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="-home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                <g id="home---1280up" transform="translate(-217.000000, -416.000000)" stroke="#0063CB">
                    <g id="mechanic-mouse-group" transform="translate(218.000000, 417.000000)">
                        <path d="M2.84217094e-14,17 C2.84217094e-14,17 0,22.8783169 0,27 C0,31.1216831 1.83336043,32 6,32 L54,32 C54,32 49.2679418,26.7597227 43,22" id="pancia"></path>
                        <path d="M36,17 C31.850617,14.4608818 27.1153674,13 24,13 C14,13 6,22 6,32" id="schiena"></path>
                        <path d="M43,22 C43,19.2385763 40.7614237,17 38,17 C35.2385763,17 33,19.2385763 33,22 C33,24.7614237 35.2385763,27 38,27" id="orecchio"></path>
                        <rect id="carica" x="15" y="0" width="15" height="6.25" rx="3.125"></rect>
                        <path d="M22.5,6.5 L22.5,12.5415946" id="albero"></path>
                    </g>
                </g>
            </g>
      </svg>

      <div style="border-top: 1em solid #06c">
        <div style="border-left: 1em solid #06c; height: 12em; float: left"></div>
        <div style="border-right: 1em solid #06c; height: 3em; float: right"></div>
      </div>
    </div>
  </div>

  <div class="Grid u-layout-wide u-layoutCenter u-padding-top-xxl">
    <div class="Grid-cell u-sm-size10of12 u-md-size10of12 u-lg-size8of12 u-lg-before2of12"
      style="position: relative; margin-top: -11em">
      <h2 class="Home-hero u-text-r-xxl u-textWeight-300 u-color-teal-60 u-lineHeight-m">
        {{ t.home_hero }}
        <p class="u-color-50 u-text-r-xl u-padding-top-m">{{ t.home_hero_sub }}</p>
      </h2>
    </div>
  </div>

  <div class="Grid u-layout-wide u-layoutCenter">

    <div class="Grid-cell u-sm-size5of12 u-md-size5of12 u-lg-size5of12">
    <svg width="544px" height="438px" viewBox="0 0 544 438" version="1.1"
      style="margin-left: -6em"
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <filter x="-27.1%" y="-25.4%" width="154.4%" height="202.0%" filterUnits="objectBoundingBox" id="filter-1">
                <feOffset dx="0" dy="100" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                <feGaussianBlur stdDeviation="25" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
                <feMerge>
                    <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                    <feMergeNode in="SourceGraphic"></feMergeNode>
                </feMerge>
            </filter>
            <radialGradient cx="100.278715%" cy="-0.410684474%" fx="100.278715%" fy="-0.410684474%" r="141.792577%" gradientTransform="translate(1.002787,-0.004107),scale(0.877976,1.000000),translate(-1.002787,0.004107)" id="radialGradient-2">
                <stop stop-color="#E1E1E1" offset="0%"></stop>
                <stop stop-color="#EFEFEF" offset="100%"></stop>
            </radialGradient>
            <radialGradient cx="101.317393%" cy="1.21182144%" fx="101.317393%" fy="1.21182144%" r="135.781347%" gradientTransform="translate(1.013174,0.012118),scale(0.344902,1.000000),translate(-1.013174,-0.012118)" id="radialGradient-3">
                <stop stop-color="#F0F0F0" offset="0%"></stop>
                <stop stop-color="#F5F4F4" offset="79%"></stop>
                <stop stop-color="#FFFDFD" offset="100%"></stop>
            </radialGradient>
            <radialGradient cx="50.0016192%" cy="50%" fx="50.0016192%" fy="50%" r="49.253538%" gradientTransform="translate(0.500016,0.500000),scale(0.967213,1.000000),translate(-0.500016,-0.500000)" id="radialGradient-4">
                <stop stop-color="#C4C4C4" offset="0%"></stop>
                <stop stop-color="#C7C7C7" offset="44%"></stop>
                <stop stop-color="#D1D0D0" offset="79%"></stop>
                <stop stop-color="#DBDADA" offset="100%"></stop>
            </radialGradient>
            <radialGradient cx="2.8520793%" cy="71.9008548%" fx="2.8520793%" fy="71.9008548%" r="99.9793925%" gradientTransform="translate(0.028521,0.719009),scale(1.000000,0.832753),translate(-0.028521,-0.719009)" id="radialGradient-5">
                <stop stop-color="#F7F7F7" offset="0%"></stop>
                <stop stop-color="#F4F4F4" offset="48%"></stop>
                <stop stop-color="#E8E8E8" offset="100%"></stop>
            </radialGradient>
        </defs>
        <g id="-home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="home---1280up" transform="translate(-63.000000, -698.000000)" fill-rule="nonzero">
                <g id="plane-shaded" filter="url(#filter-1)" transform="translate(102.000000, 698.000000)">
                    <polygon id="Shape" fill="url(#radialGradient-2)" points="125 159.30985 156.603814 295 461 0 125 158.324875"></polygon>
                    <polygon id="Shape" fill="url(#radialGradient-3)" points="461 0 124.953784 159 0 134.295722"></polygon>
                    <polygon id="Shape" fill="url(#radialGradient-4)" points="221.347971 189.863773 156 295 461 0"></polygon>
                    <polygon id="Shape" fill="url(#radialGradient-5)" points="461 0 360.132012 287 222 189.92111"></polygon>
                    <polygon id="Shape" fill="#FFFFFF" points="155.911717 295 123.539883 160.532958 0 135.441068 0 135 124.65073 159.45479 156.108327 291.70669 221.137079 190.015927 221.815384 190.525606 359 286.6099 359 286.6099 221.707248 192.074247"></polygon>
                </g>
            </g>
        </g>
    </svg>
    </div>


    <div class="Grid-cell u-sm-size4of12 u-md-size4of12 u-lg-size4of12">
        <div class="u-padding-r-all">
          <h3 class="u-text-r-xxs u-textWeight-300 u-color-grey-50 u-margin-top-l u-lineHeight-l">
            {{ t.home_newsletter_title }}</h3>
          <form class="Form u-padding-r-top" action="https://a0x0b4.mailupclient.com/frontend/subscribe.aspx"
              method="get" target="_blank" style="max-width: 25em">
            <div class="Form-field Form-field--withPlaceholder Grid u-background-white u-color-grey-30 u-borderRadius-s u-borderShadow-xl">
              <button class="Grid-cell u-sizeFit Icon-mail u-color-grey-40 u-text-r-m u-padding-all-s u-textWeight-400">
              </button>
              <input class="Form-input Form-input--ultraLean Grid-cell u-sizeFill u-text-r-s u-color-black u-text-r-xs u-borderHideFocus "
                required id="newsletter" name="email" />
              <label class="Form-label u-color-grey-40 u-padding-left-xxl" for="newsletter"><span class="u-hidden u-md-inline u-lg-inline">
                  {{t.home_newsletter_placeholder }}</span></label>
              <input type="hidden" name="list" value="1">
              <button type="submit" class="Grid-cell u-sizeFit u-background-teal-30 u-color-white u-textWeight-600 u-padding-r-left u-padding-r-right u-textUppercase u-borderRadius-s">
               {{ t.home_newsletter_button }}
              </button>
            </div>
          </form>
        </div>
    </div>

    <div class="Grid-cell u-sm-size3of12 u-md-size3of12 u-lg-size3of12">
        <div class="u-padding-r-all u-margin-r-left">

          <h3 class="u-text-r-xxs u-textWeight-300 u-color-grey-50 u-margin-top-l u-lineHeight-l">
            {{ t.home_medium_text }}</h3>

          <div class="u-padding-r-top">
            <button class="u-background-teal-30 u-color-white u-textWeight-600 u-padding-right-l
              u-textUppercase u-borderRadius-s u-padding-r-top u-padding-r-bottom u-borderShadow-xl">
              <span class="Icon Icon-medium u-padding-r-right u-padding-r-left u-text-r-xs"></span>
             {{ t.home_medium_label }}
            </button>
          </div>

        </div>
    </div>

    <div class="Grid-cell u-sm-size6of12 u-md-size6of12 u-lg-size5of12 u-sm-before4of12 u-md-before4of12 u-lg-before5of12">
        <div class="u-padding-r-all" style="margin-top: -15em; border-right: 1em solid #06c; padding-bottom: 3em !important">
            <p class="Prose u-textSecondary u-text-r-xxs u-size10of12">{{ t.home_description }}</p>
        </div>
        <div style="border-bottom: 1em solid #06c; width: 115%; margin-left: -15%;"></div>
    </div>


  </div>

</section>


<section class="u-nbfc u-background-grey-15 u-layout-r-withGutter u-padding-r-top u-padding-r-bottom u-posRelative u-zindex-30">

  <div class="u-layout-wide u-layoutCenter">
    <h2 class="u-text-r-l u-textWeight-300 u-color-50 u-padding-r-bottom">{{ t.home_projects_title }}</h2>

      {% assign projects = site.projects | where: 'lang', active_lang | where: 'highlight', true | sort: 'order' %}

      <div class="Grid Grid--withGutter">

      {% for project in projects limit: 3 %}

        {% assign subtitle = project.subtitle | default: project.payoff %}

          <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight">
            {% include card.html
              title=project.title
              link=project.url
              comingsoon=project.comingsoon
              subtitle=subtitle
              text=project.description
              socials=project.socials
              image='//placehold.it/400x220'
              alt=''
              hasImage=false
              %}
          </div>
          {% endfor %}

          {% for project in projects limit: 2 offset:3 %}

            {% assign subtitle = project.subtitle | default: project.payoff %}

              <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight">
                {% include card.html
                  title=project.title
                  link=project.url
                  comingsoon=project.comingsoon
                  subtitle=subtitle
                  socials=project.socials
                  hasImage=false
                  hasSocial=false
                  %}
              </div>
              {% endfor %}

          <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight">
            <div class="u-nbfc u-color-white u-padding-r-all u-xs-padding-all-none u-sizeFill u-flex u-flexAlignItemsCenter
              u-borderShadow-m u-xs-borderShadow-none u-borderRadius-m u-background-50">

              <h4 class="u-padding-r-all u-text-r-xs u-textWeight-600">
                <a href="{{ page.top_projects_link | relative_url }}" class="u-color-white u-textClean">
                  <span class="u-text-r-l">{{ t.home_projects_others }}</span>
                <span class="u-cf u-inlineBlock u-padding-r-top u-text-r-xs
                u-textWeight-400">{{ site.projects | where: 'lang', active_lang | size }} {{ t.home_projects_count }}</span>
                </a>
              </h4>
              <span class="Icon Icon-chevron-right u-flexJustifyRight u-textWeight-400 u-text-r-m"></span>

            </div>
          </div>

      </div>

    </div>
</section>

<section class="u-nbfc u-background-white u-layout-r-withGutter u-padding-r-top u-padding-r-bottom u-posRelative u-zindex-30">

  <div class="u-layout-wide u-layoutCenter">
    <h2 class="u-text-r-l u-textWeight-300 u-color-50 u-padding-r-bottom">{{ t.home_news_title }}</h2>

      {% assign posts = site.posts | where: 'lang', active_lang %}

      <div class="Grid Grid--withGutterL">

      {% for post in posts limit: 3 %}

        {% assign excerpt = post.excerpt | remove: '<p>' | remove: '</p>' '%}

          <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-margin-r-bottom">
            {% include card.html
              date=post.date
              title=post.title
              link=post.url
              text=excerpt
              hasImage=false
              flat=true
              %}
          </div>
          {% endfor %}

      </div>

    </div>
</section>

<section class="u-background-50 u-layout-r-withGutter u-padding-r-top u-padding-bottom-xxl u-posRelative u-zindex-30">

  <div class="u-layout-wide u-layoutCenter u-textCenter u-padding-bottom-xxl">
    <h2 class="u-text-r-l u-textWeight-300 u-color-white u-padding-r-bottom">{{ t.home_tools_title }}</h2>
    <p class="u-text-r-xs u-color-5 u-layout-prose u-textCenter u-layoutCenter">{{ t.home_tools_subtitle }}</p>
    <div class="tools-wrapper">
      <div class="Grid tools-shadow">
        <div class="u-layoutLeft">&#10092;</div>
        <div class="u-layoutCenter"></div>
        <div class="u-layoutRight">/&#10093;</div>
      </div>

      <div class="Grid Grid--withGutter u-layout-prose u-layoutCenter u-padding-top-xl u-color-white">
        {% for tool in site.data.tools[active_lang] %}
          <div class="Grid-cell u-md-size3of12 u-lg-size3of12 u-margin-r-bottom u-margin-r-top">
            <span class="Icon Icon-{{ tool.icon | default: 'file' }} u-text-r-xl"></span>
          </div>
          <div class="Grid-cell u-md-size9of12 u-lg-size9of12 u-margin-r-bottom u-margin-r-top">
            <h3 class="u-text-r-m u-textWeight-600 u-textLeft u-padding-bottom-xs">
              <a href="{{ tool.url }}" class="u-color-white u-textClean">
                {{ tool.title | capitalize }}

                {% if tool.comingsoon %}
                <div class="u-inlineBlock u-padding-left-xs">
                  <span class="u-inlineBlock u-textWeight-600 u-alignMiddle u-padding-top-xxs u-padding-bottom-xxs u-padding-r-right u-padding-r-left
                    u-borderRadius-xl u-background-grey-20 u-color-50 u-text-xxs">
                  {{ t.coming_soon }}</span>
                </div>
                {% endif %}
              </a>
            </h3>
            <p class="u-textLeft u-lineHeight-l">{{ tool.subtitle }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
