---
layout: default
---

{% include setlang.html %}
{% assign title = page.title %}
{% assign subtitle = page.subtitle %}
{% assign textChunk1 = page.textChunk1 %}
{% assign rightColumnItems = page.rightColumnItems %}
{% assign guideLinesChunk = page.guideLinesChunk %}
{% assign relatedKits = page.relatedKits %}
{% assign superAccordion = page.superAccordion %}

<div class="super-breadcrumb">
  <div class="u-layout-wide u-layoutCenter u-color-white u-margin-bottom-l">
    <nav>
      <ul>
        <li class="all">
          <a>
            Tutti
          </a>
        <li>
          <a>
            <img class="u-margin-right-m" src="/assets/icons/super_breadcrumb/organizzare.svg" />
            Organizzare
          </a>
        </li>
        <li>
          <a>
            <img class="u-margin-right-m" src="/assets/icons/super_breadcrumb/comprendere.svg" />
            Comprendere
          </a>
        </li>
        <li class="active">
          <a>
            <img class="u-margin-right-m" src="/assets/icons/super_breadcrumb/progettare.svg" />
            Progettare
          </a>
        </li>
        <li>
          <a>
            <img class="u-margin-right-m" src="/assets/icons/super_breadcrumb/realizzare.svg" />
            Realizzare
          </a>
        </li>
        <li>
          <a>
            <img class="u-margin-right-m" src="/assets/icons/super_breadcrumb/validare.svg" />
            Validare
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>


<article class="Prose u-color-grey-60 a-text-semi-bold">
  <div class="u-layout-wide u-layoutCenter u-padding-r-top u-padding-r-bottom">
    <div class="Grid Grid--alignCenter u-padding-all-l u-margin-top-xxl">
      <div class="Grid-cell u-md-size6of12 u-lg-size6of12 u-color-50">
        <div class="u-text-r-xs u-margin-bottom-s u-text-h1">Kit</div>
        <h1 class="u-text-h2">{{title}}</h1>
        <div class="u-text-r-m">
          {{subtitle}}
        </div>
      </div>
    </div>
    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-lg-before3of12 u-lg-size6of12 u-md-before3of12 u-md-size6of12">
        <h2 class="u-text-h6">{{textChunk1.title}}</h2>
        <p class="Prose u-color-grey-60">
          {{textChunk1.text}}
        </p>
      </div>
      <div class="Grid-cell u-lg-before1of12 u-lg-size2of12 u-md-before1of12 u-md-size2of12 u-margin-top-l u-md-margin-top-none u-lg-margin-top-none">
          {% for rightColumnItem in rightColumnItems %}
            {% if forloop.index == 1 %}
              <div class="u-text-h6">{{rightColumnItem.title}}</div>
            {% else %}
              <div class="u-text-h6 u-margin-top-l">{{rightColumnItem.title}}</div>
            {% endif %}
            <ul>
              {% for item in rightColumnItem.items %}
                <li class="u-margin-bottom-xs u-textWeight-600 u-inlineBlock u-md-block u-lg-block u-margin-right-m Prose u-color-grey-60">{{item}}</li>
              {% endfor %}
            </ul>
          {% endfor %}
      </div>
    </div>

    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-md-size6of12 u-lg-size6of12">
        <h2 class="u-text-h6">{{guideLinesChunk.title}}</h2>
        <div class="Prose u-color-grey-60">
          {{guideLinesChunk.link}} <img class="u-margin-left-xs" src="/assets/icons/external-link.svg" />
        </div>
      </div>
    </div>

    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-md-size6of12 u-lg-size6of12">
        <div class="u-text-h6">{{superAccordion.title}}</div>
      </div>

      {% for accordion in superAccordion.accordions %}

      <div class="Grid-cell u-md-size10of12 u-lg-size10of12 u-borderShadow-l u-margin-top-l u-margin-bottom-l u-posRelative">
        <div class="accordion-expand-button-close" data-accordion-expanded="false">
          <img src="/assets/images/icons/arrow-down-big.svg">
        </div>
        <div class="Accordion fr-accordion js-fr-accordion" id="accordion-{{forloop.index}}">

          <div class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-{{forloop.index}}">

            <div class="Grid Grid--alignCenter Grid--withGutter u-padding-all-s u-md-padding-all-none u-lg-padding-all-none">
              <div class="Grid-cell u-md-size2of10 u-lg-size2of10 u-padding-left-l">
                <img src="{{accordion.img}}">
              </div>
              <div class="Grid-cell u-lg-size6of10 u-lg-after2of10 u-md-size6of10 u-md-after2of10 u-md-padding-bottom-m">
                <h3 class="u-text-h3 u-color-50 u-margin-top-m">{{accordion.title}}</h3>
                <div data-accordion-header-text class="accordion-line-clamp Prose u-color-grey-60">
                  {{accordion.text}}
                </div>
              </div>
            </div>

          </div>
          <div id="accordion-panel-{{forloop.index}}" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">

            <div class="Grid Grid--alignCenter Grid--withGutter u-margin-top-m u-margin-bottom-m">
              <div class="Grid-cell u-sm-padding-all-xl u-md-padding-all-xl u-lg-padding-all-xl" style="background-color: #F0F6FC">
                {% for resource in accordion.resources %}
                <div class="u-background-white u-margin-all-m
                            u-padding-top-m u-padding-bottom-m
                            u-padding-left-s u-padding-right-s
                            u-sm-padding-x-xxl u-md-padding-x-xxl u-lg-padding-x-xxl
                            u-borderShadow-l" style="border-left: 8px solid #0066CC">
                  <div class="Grid Grid--alignCenter u-flexAlignItemsCenter">
                    <div class="Grid-cell u-sm-size6of12 u-md-size6of12 u-lg-size6of12 u-padding-top-xxs u-padding-bottom-xxs">
                      <div class="u-textWeight-600">{{resource.title}}</div>
                      <div>{{resource.description}}</div>
                    </div>
                    <div class="Grid-cell u-sm-size6of12 u-md-size6of12 u-lg-size6of12 u-padding-top-xs u-padding-bottom-xs u-sm-textRight u-md-textRight u-lg-textRight">
                      {{resource.link}} <img class="u-margin-left-xs" src="{{resource.icon}}" />
                    </div>
                  </div>
                  {% for otherResource in resource.otherResources %}
                  <hr />
                  <div class="Grid Grid--alignCenter u-flexAlignItemsCenter">
                    <div class="Grid-cell u-sm-size6of12 u-md-size6of12 u-lg-size6of12 u-padding-top-xxs u-padding-bottom-xxs">
                      <div>{{otherResource.description}}</div>
                    </div>
                    <div class="Grid-cell u-sm-size6of12 u-md-size6of12 u-lg-size6of12 u-padding-top-xs u-padding-bottom-xs u-sm-textRight u-md-textRight u-lg-textRight">
                      {{otherResource.link}}
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="Grid Grid--alignCenter Grid--withGutter u-margin-top-m u-margin-bottom-m">
              <div class="Grid-cell u-md-before2of10 u-lg-before2of10 u-md-size7of10 u-lg-size7of10 u-md-after1of10 u-lg-after1of10 u-padding-all-s">
                <div class="Grid Grid--withGutter">
                  {% for item in accordion.footer %}
                    <div class="Grid-cell u-lg-size5of10 u-md-size5of10 u-margin-bottom-l u-flex u-flexAlignItemsStart">
                      <img src="{{item.icon}}" style="margin: 5px 10px" />
                      <div>{{item.text}}</div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

      {% endfor %}
    </div>

  </div>

  {% if page.tags != nil %}
    {% include relatedspost.html pagetags=page.tags %}
  {% endif %}

</article>
