---
layout: default
---

{% include setlang.html %}
{% assign title = page.title %}
{% assign subtitle = page.subtitle %}
{% assign image = page.image %}
{% assign textChunk1 = page.textChunk1 %}
{% assign rightColumnItems = page.rightColumnItems %}
{% assign footerItems = page.footerItems %}
{% assign guideLinesChunk = page.guideLinesChunk %}
{% assign relatedKits = page.relatedKits %}
{% assign superAccordion = page.superAccordion %}

{% include super_breadcrumb_modelli.html kitCategory=page.kitcategory showAll=true quickOpen=true %}

<article class="u-color-grey-ui-kit a-text-semi-bold">

  <div class="super-breadcrumb u-background-teal-50">
    <div class="u-layout-wide u-layoutCenter u-padding-r-top u-margin-bottom-xxl">

      {% if page.disabled == true %}

          <!-- header kit in lavorazione -->
          <div class="Grid Grid--alignCenter u-padding-all-l u-margin-top-xxl">
            <div class="Grid-cell u-lg-size6of12 u-md-size6of12">
              <div class="u-text-r-xs u-margin-bottom-s u-text-h1">Kit</div>
              <h1 class="u-text-h1">{{title}}</h1>
              <div class="u-text-r-l">
                {{subtitle}}
                <p class="u-padding-top-l" style="opacity:.6"><strong><em>Modello in lavorazione</em></strong></p>
              </div>
            </div>
            <div class="Grid-cell u-md-size3of12 u-lg-size3of12 u-md-before1of12 u-lg-before1of12">
              {% if page.iconImage %}
              <img class="u-sizeFull" alt="{{title}}" src="{{ page.iconImage }}"/>
              {% endif %}
            </div>
          </div>

      {% else %}

      <!-- header -->
        <div class="Grid Grid--alignCenter u-padding-all-l u-margin-top-xxl">
          <div class="Grid-cell u-lg-size5of12 u-md-size5of12">
            <div class="u-text-r-xs u-margin-bottom-s u-text-h1">Modello</div>
            <h1 class="u-text-h1">{{title}}</h1>
            <div class="u-text-r-l">
              {{subtitle}}
            </div>
          </div>
          <div class="Grid-cell u-md-size4of12 u-lg-size4of12 u-md-before1of12 u-lg-before1of12">
            {% if page.iconImage %}
            <img class="u-sizeFull" alt="{{title}}" src="{{ page.iconImage }}"/>
            {% endif %}
          </div>
        </div>

      {% endif %}

    </div>
  </div>

  <div class="u-layout-wide u-layoutCenter u-padding-r-top u-margin-bottom-xxl">

    {% if page.disabled != true %}

    <!-- content in lavorazione -->

    {% endif %}

  </div>


</article>
