---
layout: default
---

{% include setlang.html %}
{% assign modelli = site.modelli | where: 'lang', active_lang | sort: title %}
{% assign kit_categories = "|" | split: '|' %}

{%- for modello in modelli -%}
  {%- unless kit_categories contains modello.kitcategory -%}
      {%- assign kit_categories = kit_categories | push: modello.kitcategory -%}
  {%- endunless -%}
{%- endfor -%}

<article itemscope itemtype="http://schema.org/BlogPosting" class="u-background-white u-nbfc">
  <div class="page-hero u-xs-padding-top-none u-md-flex u-lg-flex u-flexJustifyCenter u-backgroundBlendModeMultiply u-backgroundSizeCover" aria-hidden="true" style="{%- include background-style.html -%}">
    <div class="Grid Grid--alignCenter u-sizeFull u-flexAlignSelfCenter">
      <div class="Grid-cell u-sizeFull u-md-size7of12 u-lg-size7of12">
        <div class="u-textCenter u-padding-bottom-xl ">
          {%- if page.categories -%}
          <div class="u-layoutCenter u-textCenter u-margin-all-xl">
            <ul class="Category">
              {%- for item in page.categories-%}
              <li class="u-text-r-xxs u-color-white u-border-all-xxs  u-padding-all-xxs">{{item}}</li>
              {%- endfor -%}
            </ul>
          </div>
          {%- endif -%}
          {%- if page.nodate != true -%}
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="u-text-r-xs u-color-white">{{ page.date | date: "%-d %b %Y" }}</time>
          {%- endif -%}
          <h1 itemprop="name headline" class="u-textCenter u-textWeight-700 u-textShadow-xxs u-text-r-xxl u-margin-bottom-s u-textWeight-300 u-color-white u-margin-top-s u-lineHeight-l">{{ page.title }}</h1>
          {%- if page.subtitle -%}
          <h2 class="u-layoutCenter u-textCenter u-textShadow-xxs u-color-white u-text-r-m u-textWeight-300 u-margin-bottom-s u-lineHeight-l" style="max-width:24em">{{ page.subtitle }}</h2>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>

  <div class="u-background-white u-layout-r-withGutter u-padding-r-top u-padding-bottom-xxl u-posRelative u-zindex-30">
    <section class="RelatedKits RelatedKits--indexpage u-padding-top-xxl u-padding-r-bottom ">
      <div class="u-background-white u-layout-r-withGutter ">
        <ul class="u-listNone Grid Grid--withGutter Grid--equalHeight Grid--alignCenter u-sizeFull categorykits-selector">
          <li class="Grid-cell Grid-cell u-sizeFull u-sm-size1of6 u-md-size1of6 u-lg-size1of6 u-margin-bottom-xs " >
            <a href="#" class="u-text-r-m u-textUppercase u-textWeight-700 u-linkClean u-color-50 active" data-selectorclass="all">Tutti</a>
          </li>
          {%- for category in kit_categories -%}
          <li class="Grid-cell u-sizeFull u-sm-size1of6 u-md-size1of6 u-lg-size1of6 u-textCenter u-margin-bottom-xs">
            <a href="#" class="u-text-r-m u-textUppercase u-textWeight-700 u-linkClean u-color-50" data-selectorclass="{{ category | slugify }}">{{ category }}</a>
          </li>
          {%- endfor -%}
        </ul>
        <h2 class="u-text-r-m u-textCenter u-textWeight-400 u-color-50 u-textWeight-600 u-margin-top-xl categorykits-desc all">&nbsp;</h2>
        <h2 class="u-text-r-m u-textCenter u-textWeight-400 u-color-50  u-textWeight-600 u-margin-top-xl categorykits-desc fare hidden">I kit utili per costruire la nuova esperienza d’uso del servizio digitale e lavorare in team.</h2>
        <h2 class="u-text-r-m u-textCenter u-textWeight-400 u-color-50  u-textWeight-600 u-margin-top-xl categorykits-desc ideare hidden">I kit utili per definire il nuovo concept di servizio e i requisiti per la sua progettazione. </h2>
        <h2 class="u-text-r-m u-textCenter u-textWeight-400 u-color-50  u-textWeight-600 u-margin-top-xl categorykits-desc capire hidden">I kit utili per l’analisi dell’attuale esperienza d’uso di un servizio e del sistema di attori coinvolti.</h2>
        <h2 class="u-text-r-m u-textCenter u-textWeight-400 u-color-50  u-textWeight-600 u-margin-top-xl categorykits-desc comuni hidden">Il kit dedicato alla realizzazione del sito web di un comune.</h2>
        <h2 class="u-text-r-m u-textCenter u-textWeight-400 u-color-50  u-textWeight-600 u-margin-top-xl categorykits-desc scuole hidden">Il kit dedicato alla realizzazione del sito web di una scuola.</h2>
      </div>
      <hr class="u-border-left-none u-border-right-none u-border-bottom-xs u-border-top-none u-color-grey-30 u-margin-r-bottom u-margin-top-xxl" />
      <div class="u-margin-top-xl  u-margin-bottom-xl Grid Grid--withGutter Grid--equalHeight Grid--fill ">
       {%- for item in modelli  -%}
        <div class="RelatedKits-cell Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of3 u-lg-size1of3 u-flex {{item.kitcategory|slugify}}">
          <article class="u-sizeFull u-padding-r-all u-text-r-xl u-flex u-flexWrap u-flexAlignSelfStretch u-color-white u-backgroundBlendModeMultiply" style="background-color: {{ item.backgroundColor }}; background-image: url({{ item.carousel[0].img | default: item.backgroundImage }}); background-size: 200%;">
            <div class="u-flexAlignSelfStart">
              <h2 class="u-text-r-m u-textUppercase u-padding-top-l u-padding-bottom-l ">{{item.kitcategory}}</h2>
              <h1 class="u-text-r-l u-padding-bottom-l ">
                <a href="{{item.url | relative_url}}" class="u-color-white u-textClean">
                  <span>{{item.title}}</span>
                </a>
              </h1>
              <h3 class="u-text-r-m u-textWeight-400">{{item.subtitle}}</h3>
            </div>
          </article>
        </div>
        {%- endfor -%}
      </div>
    </section>
  </div>
</article>
