---
layout: default
---

{% include setlang.html %}
{% assign kits = site.kits | where: 'lang', active_lang | sort: title %}

<div class="super-breadcrumb">
  <div class="u-layout-wide u-layoutCenter u-padding-r-top u-color-white u-border-bottom-xxs u-padding-r-bottom">

    <!-- header -->
    <div class="Grid Grid--alignCenter u-padding-all-l u-margin-top-xxl u-margin-bottom-xxl">
      <div class="Grid-cell u-lg-size4of12 u-md-size4of12">
        <h1 class="u-text-h1">{{page.header.title}}</h1>
        <div class="u-text-r-m">
          {{page.header.description}}
        </div>
        <div class="u-margin-top-xxl u-margin-bottom-m">
        <ul>
          {% for link in page.header.links %}
            <li class="u-margin-bottom-xs u-textWeight-600 u-inlineBlock u-md-block u-lg-block u-text-r-xxs u-color-grey-ui-kit u-special-list-r u-padding-left-xxs u-padding-right-xl u-padding-right-xxl">{{link}}</li>
          {% endfor %}
        </ul>
        </div>
      </div>
      <div class="Grid-cell u-md-before1of12 u-lg-before1of12 u-md-size3of12 u-lg-size3of12">
        <img class="u-sizeFull " alt="Le cinque fasi del progetto tra cui iterare: organizzare; comprendere; progettare; realizzare; validare." src="{{page.header.image}}"/>
      </div>
    </div>

  </div>
</div>

{% include super_breadcrumb.html kitCategory=null showAll=false %}

<article class="">

    {%- for fase in page.fasi -%}
    <div id="{{ fase.slug }}" class="fase u-padding-top-xxl u-padding-bottom-xxl">

      <div class="u-layout-wide u-layoutCenter u-padding-all-l">

        <!-- fase header -->
        <div class="Grid Grid--withGutter u-padding-bottom-m u-margin-top-l">
          <div class="Grid-cell u-md-size3of12 u-lg-size3of12 u-textCenter">
            <img class="u-sizeFull" style="height:14rem" alt="" src="{{fase.thumbLarge}}"/>
          </div>
          <div class="Grid-cell u-lg-size6of12 u-md-size6of12">
            <h2 class="u-text-r-xl u-textWeight-600 u-color-grey-ui-kit u-margin-bottom-xs">{{fase.title}}</h2>
            <div class="u-text-r-m Prose u-layout-prose u-color-grey-ui-kit">
              {{fase.subtitle}}
            </div>
          </div>
        </div>

        <!-- kits in fase, grid -->
        {% assign kits_di_fase = site.kits | where: 'kitcategory', fase.slug | sort: title %}
        <div class="u-margin-top-xl Grid Grid--withGutter Grid--equalHeight Grid--fill u-margin-bottom-l">
          <!-- single kit card -->
          {%- for item in kits_di_fase  -%}
            <div class="Grid-cell u-sizeFull u-sm-size1of3 u-md-size1of4 u-lg-size1of4 u-flex u-margin-bottom-l {{item.kitcategory|slugify}}">
              <article class="kitCard u-sizeFull u-text-r-s u-flex u-flexWrap u-flexAlignSelfStretch u-borderShadow-m u-borderRadius-m u-background-white">
                <div class="u-flexAlignSelfStart u-sizeFull">
                  {% if item.backgroundImage %}
                    <!-- card img -->
                    <img class="u-sizeFull u-padding-top-m u-padding-bottom-m" style="height: 20rem" aria-labelledby="kitCardTitle" alt="{{item.title}}" src="{{ item.backgroundImage }}"/>
                  {% endif %}
                  <!-- card content -->
                  <div class="u-padding-right-l u-padding-left-l u-padding-top-s u-padding-bottom-m" style="border-top:1px solid #D8D8D8">
                    <h3 class="u-text-r-xs u-padding-bottom-s u-font-weight-bold">
                      <a class="u-textClean u-color-50" href="{{item.url | relative_url}}">
                        <span id="kitCardTitle">{{item.title}}</span>
                      </a>
                    </h3>
                    <div class="Prose u-text-r-xxs u-textWeight-400 u-color-grey-ui-kit">{{item.subtitle}}</div>
                  </div>
                </div>
              </article>
            </div>
          {%- endfor -%}
        </div>

      </div>
    </div>
    {%- endfor -%}

</article>
