---
layout: default
---

{% include setlang.html %}
{% assign kits = site.kits | where: 'lang', active_lang | sort: title %}
{% assign kit_categories = "|" | split: '|' %}

{%- for kit in kits -%}
  {%- unless kit_categories contains kit.kitcategory -%}
      {%- assign kit_categories = kit_categories | push: kit.kitcategory -%}
  {%- endunless -%}
{%- endfor -%}

{% include super_breadcrumb.html kitCategory=null showAll=false %}

<article itemscope itemtype="http://schema.org/BlogPosting" class="u-color-grey-ui-kit a-text-semi-bold u-nbfc processNew">

  <div class="u-layout-wide u-layoutCenter u-padding-r-top u-margin-bottom-xxl">

    {%- for category in kit_categories -%}
    <div id="{{ category }}" class="">
    <h2>{{ category }}</h2>

    {% assign kitsCat = site.kits | where: 'kitcategory', category | sort: title %}
    <div class="u-margin-top-xl  u-margin-bottom-xl Grid Grid--withGutter Grid--equalHeight Grid--fill ">
      {%- for item in kitsCat  -%}
        <div class="Grid-cell u-sizeFull u-sm-size1of3 u-md-size1of4 u-lg-size1of4 u-flex u-margin-bottom-l {{item.kitcategory|slugify}}">
          <article class="u-sizeFull u-padding-r-all u-text-r-s u-flex u-flexWrap u-flexAlignSelfStretch">
            <div class="u-flexAlignSelfStart u-sizeFull">
              <div style="height:15rem; width:100%; background-color: #439af1; background-image: url(/assets/images/kits/carousel/17_Scuole_Slide_01.png); background-size: 100%; background-position:center;"></div>
              <h3 class="u-text-r-m u-padding-bottom-l ">
                <a href="{{item.url | relative_url}}">
                  <span>{{item.title}}</span>
                </a>
              </h3>
              <div class="u-text-r-xs u-textWeight-400">{{item.subtitle}}</div>
            </div>
          </article>
        </div>
      {%- endfor -%}
    </div>

  </div>
  {%- endfor -%}

  </div>

</article>
