---
layout: default
---

{% include setlang.html %}

<div class="u-background-white u-layout-r-withGutter u-padding-top-xxl project-title-wrapper">
  <div class="project-shadow2">{{ page.title }}</div>
  {% if page.description %}<div class="project-shadow1 u-sizeFull u-md-size7of12 u-lg-size7of12">{{ page.description }}</div>{% endif %}
  <div class="u-text-r-l u-textWeight-300 u-color-50 u-margin-top-l u-lineHeight-l u-sizeFull u-md-size7of12 u-lg-size7of12">
    {% if page.comingsoon %}
      <span class="u-inlineBlock u-textWeight-600 u-padding-top-xxs u-padding-bottom-xxs u-padding-r-right u-padding-r-left
        u-borderRadius-xl u-background-grey-20 u-color-50 u-text-xxs">
      {{ t.coming_soon }}</span>
    {% endif %}
    <span class="u-cf">
      <strong class="u-textWeight-600">Il progetto</strong></span>
  </div>
</div>

<div class="u-background-white u-layout-r-withGutter  u-padding-bottom-xxl u-posRelative u-zindex-30">
  <div class="Grid">

    <div class="Grid-cell u-sizeFull u-md-size7of12 u-lg-size7of12">
      <h1 class="u-text-r-l u-textWeight-300 u-color-50 u-margin-top-l u-lineHeight-l u-sizeFull">
        {% if page.comingsoon %}
          <span class="u-inlineBlock u-textWeight-600 u-padding-top-xxs u-padding-bottom-xxs u-padding-r-right u-padding-r-left
            u-borderRadius-xl u-background-grey-20 u-color-50 u-text-xxs">
          {{ t.coming_soon }}</span>
        {% endif %}
          <span class="u-cf u-text-r-xxl u-color-50 u-textWeight-600 u-lineHeight-s"><strong>{{ page.title }}</strong></span>
        </h1>
      <div class="u-layout-prose u-text-r-xs">
      {% if page.description %}<h2 class="u-textWeight-300 u-text-r-l u-margin-r-bottom u-margin-r-top  u-color-grey-50">{{ page.description }}</h2>{% endif %}
      <div class="Prose Project">
        {{ content }}
      </div>
      </div>
    </div>

    {% capture toc %}{{ content | toc_only }}{% endcapture %}
    {% include sideblock.html title=page.subtitle title=page.title content=toc  %}

    {% comment %}
      {% capture pills %}{% include pills.html items=page.pills  %}{% endcapture %}
      {% include sideblock.html title=page.subtitle content=pills %}
    {% endcomment %}


  </div>
</div>
