---
layout: default
lang: it
---

{% include setlang.html %}
{% assign posts = site.medium_feed |  where_exp:"item",
"item.medium_tags contains page.category" | where: "medium_detected_lang", page.lang | sort: "medium_firstpublished_at" | reverse %}

<div class="u-background-50 u-layout-r-withGutter u-padding-bottom-xxl u-padding-top-xxl">
  <h1 class="u-text-r-l u-textWeight-300 u-color-white u-margin-top-l u-lineHeight-l">
    {{ t.news_title }} <span class="u-color-20">/ {{page.category}}</span></h1>
</div>

<hr class="Separator-room u-background-50" />
<hr class="Separator Separator--up u-background-grey-15" />

<div class="u-background-grey-15 u-layout-r-withGutter u-padding-r-top u-padding-bottom-xxl u-posRelative u-zindex-30">
  <div class="Grid">

    <div class="Grid-cell u-sizeFull u-md-size7of12 u-lg-size7of12">
      {% for post in posts %}

        {% assign _excerpt = post.medium_subtitle | strip_html %}
        {% assign _url = post.medium_url %}
        {% assign _date = post.medium_firstpublished_at | divided_by: 1000 | date: t.formatDate %}

        <div class="u-margin-bottom-xxl u-border-bottom-xxs u-padding-bottom-xl u-color-grey-30">
        {% include card.html
          date = _date
          author = post.medium_author
          author_link = post.medium_author_link
          title = post.medium_title
          link = _url
          text = _excerpt
          hasImage = true
          image = post.medium_preview_image_url
          alt = post.medium_title
          categories = post.medium_tagsarray
          flat = true
          classes = 'u-background-grey-15'
          target = '_blank'
          %}
        </div>

      {% endfor %}

      {% comment %}
      <div>
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="u-color-50">{{ t.paginator_previous_page }}</a>
        {% else %}
          <span class="u-color-grey-20">{{ t.paginator_previous_page }}</span>
        {% endif %}
        <span>{{ t.paginator_page }}: {{ paginator.page }} {{ t.on_ }} {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="u-color-50">{{ t.paginator_next_page }}</a>
        {% else %}
          <span>{{ t.next_page }}</span>
        {% endif %}
      </div>
      {% endcomment %}

    </div>

    {% capture pills %} {% include pills.html items = site.medium_all_tags small = true %} {% endcapture %}

    {% include sideblock.html title = t.news_nav_title content = pills %}

  </div>
</div>
