
@import "../../scss/bootstrap-breakpoints";

.highlight {
	&.highlight-light {
		background-color: var(--color-light);
	}
	&.highlight-medium {
		background-color: var(--color-medium);
	}
	&.highlight-dark {
		background-color: var(--color-dark);
		color: var(--hl-dark-theme-color);
	}
	.text-container {
		padding: var(--hl-y-padding-mob) var(--hl-x-padding-mob);
		h2,
		h3,
		h4 {
			font-size: var(--hl-title-font-size);
		}
		p.sub-title {
			font-size: var(--hl-sub-title-font-size);
		}
		.h-text {
			p {
				margin: 0;
			}
		}
		.buttons-wrapper {
			margin-top: var(--hl-button-distance-mob);
		}
	}
	img {
		&.main-image {
			object-fit: cover;
		}
	}
}
//mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(sm) {
	.highlight {
		.img-container {
			margin-left: calc(var(--bs-gutter-x) * 0.5 * -1);
			margin-right: calc(var(--bs-gutter-x) * 0.5 * -1);
			img {
				width: calc(100% + var(--bs-gutter-x));
			}
		}
		.text-container {
			.buttons-wrapper {
				.btn {
					display: block;
					&:not(:last-child) {
						margin-bottom: var(--hl-button-y-margin-mob);
					}
				}
			}
		}
	}
}
//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {
	.highlight {
		.text-container {
			.buttons-wrapper {
				margin-top: var(--hl-button-distance-desk);
				.btn {
					margin-right: var(--hl-button-x-margin-desk);
					margin-bottom: var(--hl-button-x-margin-desk);
				}
			}
		}
	}
}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {
	.highlight {
		.ratio-1x1 {
			--bs-aspect-ratio : 40%
		}
	}
}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {
	.highlight {

		.img-container {
			--bs-aspect-ratio: none;
			width: 25%;
			flex-shrink: 0;
		}
		.text-container {
			padding: var(--hl-y-padding-desk) var(--hl-x-padding-desk);
		}
		&.highlight-big {
			.img-container {
				width: 50%;
			}
		}
	}
}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {
}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {
}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}