<section class="HomeBlk2 u-posRelative">

  <img src="{{ '/assets/images/blk2/balloons.svg' | relative_url }}" alt="immagine di palloncini" style="position: absolute; top: 20%; left: 15%"
    class="u-hidden u-md-inline u-lg-inline" />
  <img src="{{ '/assets/images/blk2/kite.svg' | relative_url }}" alt="immagine di kite" style="position: absolute; top: 20%; right: 10%"
    class="u-hidden u-md-inline u-lg-inline" />
  <img src="{{ '/assets/images/blk2/plane.svg' | relative_url }}" alt="immagine di aereo" style="position: absolute; top: 45%; left: 20%"
    class="u-hidden u-md-inline u-lg-inline" />
  <img src="{{ '/assets/images/blk2/robot-flying.svg' | relative_url }}" alt="immagine di robot" style="position: absolute; bottom: 20%; left: 10%"
    class="u-hidden u-md-inline u-lg-inline" />
  <img src="{{ '/assets/images/blk2/robot_8.svg' | relative_url }}" alt="immagine di robot" style="position: absolute; bottom: 25%; right: 10%"
    class="u-hidden u-md-inline u-lg-inline" />

  <div class="HomeBlk2-stars"></div>
  <div class="HomeBlk2-stars2"></div>
  <div class="HomeBlk2-stars3"></div>
  <div class="HomeBlk2-title u-xs-padding-top-none u-padding-top-xxl u-textCenter u-color-white u-padding-bottom-l">
    <h2 class="u-text-r-xl u-textWeight-400 u-padding-r-top">
      Unisciti alla squadra !
    </h2>
    <p class="Prose u-padding-bottom-xxl u-padding-r-top u-color-white">Sei un professionista del design o della Pubblica Amministrazione?<br>
      Prendi parte alla community e contribuisci alla diffusione dell’approccio<br>human-centered nella costruzione di servizi digitali.
    </p>

    <div class="u-margin-top-xl u-margin-bottom-xxl">
      <a href="/come-partecipo" class="Button Button--link Button--round u-borderShadow-xl u-background-white
        u-linkClean u-color-50 u-text-r-xs u-textWeight-700 u-padding-r-all">Scopri come partecipare</a>
    </div>
  </div>

  <div class="u-textCenter u-xs-margin-top-none u-xs-padding-top-none u-margin-top-xxl u-padding-top-xxl" style="margin-bottom: -4px">
    <img src="{{ '/assets/images/blk2/robot_1.svg' | relative_url }}" alt="immagine di robot" class="u-padding-r-left u-hidden u-md-inline u-lg-inline" />
    <img src="{{ '/assets/images/blk2/robot_3.svg' | relative_url }}" alt="immagine di robot" class="u-padding-r-left u-hidden u-md-inline u-lg-inline" />
    <img src="{{ '/assets/images/blk2/robot_4.svg' | relative_url }}" alt="immagine di robot" class="u-padding-r-left u-hidden u-md-inline u-lg-inline" />
    <img src="{{ '/assets/images/blk2/robot_5.svg' | relative_url }}" alt="immagine di robot" class="u-padding-r-left u-hidden u-md-inline u-lg-inline" />
    <img src="{{ '/assets/images/blk2/robot_6.svg' | relative_url }}" alt="immagine di robot" class="u-padding-r-left" />
    <img src="{{ '/assets/images/blk2/robot_7.svg' | relative_url }}" alt="immagine di robot" class="u-padding-r-left" />
    <img src="{{ '/assets/images/blk2/robot_8.svg' | relative_url }}" alt="immagine di robot" class="u-padding-r-left" />
  </div>

</section>
