<section class="u-layout-r-withGutter u-background-white u-padding-top-xxl u-padding-bottom-xxl u-margin-bottom-xxl u-margin-top-xxl">
  <div class="u-layout-wide u-layoutCenter">
    <div class="Grid">
      <div class="Hero-Title Grid-cell u-sm-before2of12 u-sm-size8of12 u-md-size1of2 u-lg-size1of2">
        <div class="Hero-Title-inner">
          <h1 class="u-text-h1 u-color-grey-ui-kit u-margin-bottom-l">{{ t.hero_title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
          {{ t.hero_description | markdownify }}
        </div>
      </div>
      <div class="Grid-cell Grid-cell u-md-size5of12 u-lg-size5of12 u-lg-before1of12 u-md-before1of12">
        <div>
          <div class="plane u-margin-0auto u-block u-margin-top-xxl u-padding-all-xxl">
            <img role="presentation" alt="Aeroplano di carta, verso il futuro." src="{{ '/assets/images/blk1/plane.svg' |relative_url }}" style="width:100%;max-width:320px;height:auto">
          </div>
          <div class="u-inlineBlock" style="margin-top: -4rem;">
            <p class="u-textWeight-400 u-lineHeight-xl u-text-r-xxs u-color-grey-ui-kit u-padding-bottom-xl">
              Lasciaci la tua email e ti aggiorneremo sulle prossime iniziative di Designers
              Italia e Developers Italia

              <a href="/privacy-policy#mailing-list">(leggi l’informativa)</a>
            </p>

            {% include newsletter.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
