<section id="i-modelli" class="u-layout-r-withGutter u-padding-top-xxl u-padding-r-bottom" style="background: #FAFAFA">
  <div class="u-layout-wide u-layoutCenter u-padding-top-m">
    {%- unless include.notitle -%}
    <h2 class="u-text-r-xxl u-textWeight-700 u-color-grey-ui-kit u-textCenter">
      {{ t.home_modelli_title }}
    </h2>
    <p class="u-margin-0auto u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-m u-textWeight-400 u-color-grey-ui-kit u-padding-top-s u-textCenter">
      {{ t.home_modelli_subtitle }}
    </p>
    {%- endunless -%}

    <!-- kits in fase, grid -->
    {% assign kits_di_fase = site.modelli %}
    <div class="u-margin-top-xl Grid Grid--withGutter Grid--alignCenter Grid--equalHeight Grid--fill u-margin-bottom-l u-padding-top-m">
      <!-- single kit card -->
      {%- for item in kits_di_fase  -%}
        <div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of2 u-lg-size1of2 u-flex u-margin-bottom-l {{item.kitcategory|slugify}}">
          <article class="kitCard u-sizeFull u-text-r-s u-flex u-flexWrap u-flexAlignSelfStretch u-borderShadow-m u-borderRadius-m u-background-white"
          {% if item.disabled == true %} style="filter: grayscale(100%); opacity:.6" {% endif %}
          >
            <div class="u-flexAlignSelfStart u-sizeFull">
              {% if item.image %}
                <!-- card img -->
                <img class="u-sizeFull" aria-labelledby="kitCardTitle" alt="{{item.title}}" src="{{ item.image }}"/>
              {% endif %}
              <!-- card content -->
              <div class="u-padding-r-left u-padding-r-right u-padding-top-s u-padding-bottom-m" >
                <h3 class="u-text-r-s u-padding-bottom-s u-font-weight-bold">
                  {% if item.disabled == true %}
                    <span id="kitCardTitle">{{item.title}}</span>
                  {% else %}
                  <a class="u-textClean u-color-50" href="{{item.url | relative_url}}">
                    <span id="kitCardTitle">{{item.title}}</span>
                  </a>
                  {% endif %}
                </h3>
                <div class="Prose u-text-r-xxs u-textWeight-400 u-color-grey-ui-kit" style="max-width:480px">{{item.subtitle}}</div>
              </div>
            </div>
          </article>
        </div>
      {%- endfor -%}
    </div>

  </div>


  <div class="u-layout-wide u-layoutCenter u-padding-bottom-xxl u-padding-top-xs u-textCenter">
    <a href="/modello/comuni" class="u-inlineBlock u-textClean u-borderRadius-s u-background-teal-60 u-color-grey-ui-kit u-padding-r-all u-borderShadow-m">
        <span class="u-text-r-xs u-textUppercase u-textWeight-700 ">{{ t.home_modelli_button }}</span>
      </a>
  </div>


</section>
