<section class="HomeBlk4 u-padding-top-xxl u-padding-bottom-xxl u-xs-padding-bottom-none u-xs-padding-top-none">
  <div class="Grid Grid--alignMiddle u-padding-top-xxl u-padding-bottom-l u-xs-padding-bottom-none u-xs-padding-top-none">
    <div class="Grid-cell u-md-size1of2 u-lg-size1of2 u-flex u-flexAlignItemsEnd u-flexJustifyCenter">
      <img src="{{ '/assets/images/blk4/brick-mini.svg' | relative_url }}" class="u-margin-top-xxl "/>
    </div>
    <div class="Grid-cell u-md-size1of2 u-lg-size1of2 u-padding-top-l u-xs-padding-top-none
      u-padding-bottom-l u-xs-padding-bottom-none u-flexJustifyCenter u-md-flexJustifyStart u-lg-flexJustifyStart u-flex">
      <div class="u-padding-r-all u-xs-padding-top-none">
        <p class="Pill Pill--xxs u-background-40 u-color-white u-textWeight-600 u-text-r-xxs u-padding-r-right">l'iniziativa</p>
        <h2 class="u-textUppercase u-color-white u-text-r-xxl u-padding-top-m">UI Kit</h2>
        <p class="u-text-r-xl u-color-white u-padding-top-s u-textWeight-300">I <em>mattoni</em> delle interfacce</p>
        <p class="u-text-r-xs u-color-white u-padding-top-s u-textWeight-340 u-padding-bottom-xxl">
            aggiungi e completa la collezione di pattern</p>
        <button class="Button u-borderRadius-m Button--info u-margin-bottom-xxl">
        <span class="u-inlineBlock u-color-50 u-padding-all-xxs u-text-r-xxs u-textWeight-600 u-textCenter">per saperne di più</span></button>
      </div>
    </div>
  </div>
</section>
