<section class="block-design-kit u-layout-r-withGutter u-padding-top-xxl u-padding-r-bottom">

  <div class="u-layout-wide u-layoutCenter u-padding-top-m">

    {% unless include.notitle %}
    <h2 class="u-text-r-xxl u-textWeight-700 u-color-grey-50 u-textCenter">{{ t.home_designkit_title }}</h2>
    <p class="u-margin-0auto u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-m u-textWeight-400 u-color-grey-50 u-padding-top-s u-padding-r-bottom u-textCenter">{{ t.home_designkit_subtitle }}</p>
    <p class="u-text-r-xs u-textWeight-400 u-color-50 u-padding-top-xxs u-padding-r-bottom u-textCenter">{{ t.home_designkit_action }}</p>
    {% endunless %}

    <div class="Grid Grid--alignCenter Grid--alignMiddle Grid--equalHeight u-padding-top-xxl">
      <div class="u-sizeFull u-hidden u-sm-block u-md-block u-lg-block u-sm-size4of12 u-md-size4of12 u-lg-size4of12 u-textRight">
        <div class="u-inlineBlock u-textLeft">
        {% include kits_list.html kitcategory='capire' %}
        </div>
      </div>
      <div class="u-sizeFull u-sm-size4of12 u-md-size4of12 u-lg-size4of12 u-textCenter">
        <img src="/assets/images/blk8/user-centered-2x.png" alt="User" width="300" height="300" class="u-sm-hidden u-md-hidden u-lg-hidden" >
      </div>
      <div class="u-sizeFull u-hidden u-sm-block u-md-block u-lg-block u-sm-size4of12 u-md-size4of12 u-lg-size4of12">
        {% include kits_list.html kitcategory='ideare' %}
      </div>
    </div>
    <div class="u-hidden u-sm-block u-md-block u-lg-block u-padding-top-xxl">
      <div class="Grid Grid--alignCenter Grid--alignMiddle Grid--equalHeight">
        <div class="u-sizeFull u-sm-size6of12 u-md-size4of12 u-lg-size5of12 u-textCenter">
          <div class="u-inlineBlock u-textLeft">
          {% include kits_list.html kitcategory='fare' layout='two-cols' %}
          </div>
        </div>
      </div>
    </div>
    <div class="u-sm-hidden u-md-hidden u-lg-hidden">
        <hr class="u-border-left-none u-border-right-none u-border-bottom-xxs u-border-top-none u-color-grey-30 u-margin-r-bottom u-margin-top-l" />
        <div class="Grid Grid--alignMiddle Grid--equalHeight">
          <div class="u-size3of8 u-textCenter">
            <img src="/assets/images/blk8/ico-ideare.png" alt="Ideare">
            <h2 class="u-text-r-l u-textWeight-700 u-color-teal-60 u-textCenter u-margin-top-xs u-textUppercase">Ideare</h2>
          </div>
          <div class="u-size5of8">
            {% include kits_list.html kitcategory='ideare' %}
          </div>
        </div>

        <hr class="u-border-left-none u-border-right-none u-border-bottom-xxs u-border-top-none u-color-grey-30 u-margin-r-bottom u-margin-top-l" />
        <div class="Grid Grid--alignMiddle Grid--equalHeight">
          <div class="u-size3of8 u-textCenter">
            <img src="/assets/images/blk8/ico-capire.png" alt="Capire">
            <h2 class="u-text-r-l u-textWeight-700 u-color-teal-60 u-textCenter u-margin-top-xs u-textUppercase">Capire</h2>
          </div>
          <div class="u-size5of8">
            {% include kits_list.html kitcategory='capire' %}
          </div>
        </div>

        <hr class="u-border-left-none u-border-right-none u-border-bottom-xxs u-border-top-none u-color-grey-30 u-margin-r-bottom u-margin-top-l" />
        <div class="Grid Grid--alignMiddle Grid--equalHeight">
          <div class="u-size3of8 u-textCenter">
            <img src="/assets/images/blk8/ico-fare.png" alt="Fare">
            <h2 class="u-text-r-l u-textWeight-700 u-color-teal-60 u-textCenter u-margin-top-xs u-textUppercase">Fare</h2>
          </div>
          <div class="u-size5of8">
            {% include kits_list.html kitcategory='fare' %}
          </div>
        </div>
    </div>

  </div>

  <div class="u-layout-wide u-layoutCenter u-padding-top-m u-padding-bottom-m u-textCenter">
    <a href="/kit" class="u-inlineBlock u-linkClean u-borderRadius-s u-background-teal-30 u-padding-r-all u-borderShadow-m" style="min-width: 16em">
        <span class="u-color-white u-text-r-xs u-textUppercase u-textWeight-700 u-padding-right-xxl u-padding-left-xxl">{{ t.home_designkit_button }}</span>
      </a>
  </div>
</section>
