<section id="i-modelli" class="u-layout-r-withGutter u-padding-top-xxl u-padding-r-bottom" style="background: #FAFAFA">
  <div class="u-layout-wide u-layoutCenter u-padding-top-m">
    {%- unless include.notitle -%}
    <h2 class="u-text-r-xxl u-textWeight-700 u-color-grey-ui-kit u-textCenter">
      {{ t.home_modelli_title }}
    </h2>
    <p class="u-margin-0auto u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-m u-textWeight-400 u-color-grey-ui-kit u-padding-top-s u-textCenter">
      {{ t.home_modelli_subtitle }}
    </p>
    {%- endunless -%}
    {% include modelli.html layoutClass='u-margin-top-xl' headingClass='u-block u-text-h3 u-border-bottom-xxs u-padding-bottom-s' %}
  </div>
  <div class="u-layout-wide u-layoutCenter u-padding-bottom-xxl u-padding-top-xs u-textCenter">
    <a href="/modelli" class="u-inlineBlock u-textClean u-borderRadius-s u-background-teal-60 u-color-grey-ui-kit u-padding-r-all u-borderShadow-m" style="min-width: 16em">
        <span class="u-text-r-xs u-textUppercase u-textWeight-700 u-padding-right-xxl u-padding-left-xxl">{{ t.home_modelli_button }}</span>
      </a>
  </div>
</section>
