<section id="i-design-kit" class="super-breadcrumb u-padding-all-xs u-padding-top-xxl u-padding-r-bottom">
  <div class="u-layout-wide u-layoutCenter u-padding-top-m">
    {%- unless include.notitle -%}
    <h2 class="u-text-r-xxl u-textWeight-700 u-color-white u-textCenter">{{ t.home_designkit_title }}</h2>
    <p class="u-margin-0auto u-sizeFull u-md-size1of2 u-lg-size1of2 u-text-r-m u-textWeight-400 u-color-white u-padding-top-s u-padding-r-bottom u-textCenter">{{ t.home_designkit_subtitle }}</p>
    {%- endunless -%}
    <div class="Grid Grid--alignCenter Grid--equalHeight  u-padding-all-xs u-padding-top-s u-padding-bottom-xxl">
      <div class="Grid-cell u-md-size3of12 u-lg-size3of12 u-padding-top-m" style="max-width:360px">
        <img class="u-sizeFull " alt="" src="{{page.imageBlockKitHome}}"/>
      </div>
    </div>
    <div class="u-layout-wide u-layoutCenter u-padding-bottom-xxl u-padding-top-s u-textCenter">
      <a href="/kit" class="u-inlineBlock u-textClean u-borderRadius-s u-background-teal-60 u-color-grey-ui-kit u-padding-r-all u-borderShadow-m">
          <span class="u-text-r-xs u-textUppercase u-textWeight-700 ">{{ t.home_designkit_button }}</span>
        </a>
    </div>
  </div>
</section>
