<section class="u-layout-r-withGutter u-background-white u-padding-top-xxl u-padding-bottom-xxl u-margin-bottom-xxl u-margin-top-xxl">
  <div class="u-layout-wide u-layoutCenter u-padding-top-m">
    <div class="Grid">
      <div class="Hero-Title Grid-cell u-md-size1of2 u-lg-size1of2">
        <div class="Hero-Title-inner">
          <h1 class="u-color-grey-light-ui-kit u-margin-bottom-l">{{ t.hero_title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
          {{ t.hero_description | markdownify }}
        </div>
      </div>
      <div class="Grid-cell u-md-size1of2 u-lg-size1of2">
        <div class="u-textCenter">
          <div class="plane u-margin-0auto u-block u-margin-top-xxl">
            <img role="presentation" src="{{ '/assets/images/blk1/plane.svg' |relative_url }}">
          </div>
          <div class="u-inlineBlock" style="margin-top: -4rem;">
            <h3
              class="u-text-r-xxs u-color-grey-light-ui-kit u-textLeft u-padding-all-xs u-textUppercase u-textWeight-400">
              Scopri e utilizza</h3>
            <a class="u-margin-all-xs u-inlineBlock u-textClean u-textCenter u-borderRadius-s u-background-teal-60 u-color-grey-ui-kit u-padding-r-all u-borderShadow-m"
               href="#i-modelli"
               style="width: 15rem">
              <span class="u-text-r-xxs u-textUppercase u-textWeight-700">I modelli</span>
            </a>
            <a class="u-margin-all-xs u-inlineBlock u-textClean u-textCenter u-borderRadius-s u-background-teal-60 u-color-grey-ui-kit u-padding-r-all u-borderShadow-m"
               href="#i-design-kit"
               style="width: 15rem">
              <span class="u-text-r-xxs u-textUppercase u-textWeight-700">I design kit</span>
            </a>
            <a class="u-margin-all-xs u-inlineBlock u-textClean u-textCenter u-borderRadius-s u-background-teal-60 u-color-grey-ui-kit u-padding-r-all u-borderShadow-m"
               href="#le-linee-guida"
               style="width: 15rem">
              <span class="u-text-r-xxs u-textUppercase u-textWeight-700">Le linee guida</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
