<section class="HomeBlk2 u-posRelative">

  <img alt="" class="u-hidden u-md-inline u-lg-inline" role="presentation"
       src="{{ '/assets/images/blk2/balloons.svg' | relative_url }}" style="position: absolute; top: 20%; left: 15%">
  <img alt="" class="u-hidden u-md-inline u-lg-inline" role="presentation"
       src="{{ '/assets/images/blk2/kite.svg' | relative_url }}" style="position: absolute; top: 20%; right: 10%">
  <img alt="" class="u-hidden u-md-inline u-lg-inline" role="presentation"
       src="{{ '/assets/images/blk2/plane.svg' | relative_url }}" style="position: absolute; top: 45%; left: 20%">
  <img alt="" class="u-hidden u-md-inline u-lg-inline" role="presentation"
       src="{{ '/assets/images/blk2/robot-flying.svg' | relative_url }}" style="position: absolute; bottom: 20%; left: 10%">
  <img alt="" class="u-hidden u-md-inline u-lg-inline" role="presentation"
       src="{{ '/assets/images/blk2/robot_8.svg' | relative_url }}" style="position: absolute; bottom: 25%; right: 10%">
  <div class="HomeBlk2-stars"></div>
  <div class="HomeBlk2-stars2"></div>
  <div class="HomeBlk2-stars3"></div>
  <div class="HomeBlk2-title u-xs-padding-top-none u-padding-top-xxl u-padding-bottom-l">
    <div class="u-layout-wide u-layoutCenter u-padding-top-m">
      <div class="u-sizeFill u-textCenter u-color-white">
        <h2 class="u-text-r-xl u-textWeight-400 u-padding-r-top">Le notizie</h2>
      </div>

      <div class="Grid Grid--withGutter u-padding-all-l guides-grid u-posRelative">
        {%- if site.medium_feed -%}
        {%- assign posts = site.medium_feed | where: "medium_detected_lang", page.lang | sort: "medium_firstpublished_at"
        | reverse -%}
        {%- for post in posts -%}
        {%- if post.id contains "bd486dff2a6d" -%}
        {% assign _date = post.medium_firstpublished_at | divided_by: 1000 | date: t.formatDate %}
        {% assign _excerpt = post.medium_subtitle | strip_html %}
        {% assign _url = post.medium_url %}
        <div class="notizie-inline Grid-cell u-lg-size2of4 u-margin-top-s">
          {% include card.html
            date_prepend = "Storia "
            date = _date
            title = post.medium_title
            alt = post.medium_title
            link = _url
            text = "Pubblicati i risultati della ricerca dedicata a progettisti e sviluppatori dei servizi pubblici digitali"
            link_text = "Storia su Medium"
            hasImage = true
            hasSocial = false
            rowImage = true
            image = post.medium_preview_image_url
            target = "_blank"
            classes = "u-background-grey-15"
          %}
        </div>
        {%- endif -%}
        {%- endfor -%}
        {%- endif -%}

        {% comment %}
        This part is in use until we'll be using proper posts
        {% endcomment %}

        <div class="notizie-post Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of4 u-margin-top-s">
          {% include card.html
          date_prepend = "Articolo "
          date = "19/03/2021"
          title = "Designers Italia alla Milano Digital Week"
          text = "Guarda la registrazione dell’intervento sul tema Progettare servizi pubblici digitali più equi e sostenibili"
          link = "https://www.youtube.com/watch?v=DlLTpVBCX8k"
          link_text = "Video su YouTube"
          hasSocial = false
          target = '_blank'
          classes = "u-background-grey-15"
          %}
        </div>

        <div class="notizie-post Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of4 u-margin-top-s">
          {% include card.html
          date_prepend = "Storia "
          date = "16/03/2021"
          title = "Dietro le quinte del sito MITD"
          text = "Come abbiamo riprogettato il sito del Ministro per l’innovazione tecnologica e la transizione digitale"
          link = "https://medium.com/designers-italia/dietro-le-quinte-del-sito-mitd-dalla-ricerca-alla-pubblicazione-online-2a-parte-da691f8dc063"
          link_text = "Storia su Medium"
          hasSocial = false
          target = '_blank'
          classes = "u-background-grey-15"
          %}
        </div>

        {% comment %}
        This part will be in use when we'll be using proper posts
        {% for post in site.posts limit: 2 %}
        {%- assign _excerpt = post.excerpt | markdownify | remove: '<p>' | remove: '</p>' -%}
        <div class="notizie-post Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of4 u-margin-top-s">
          {% include card.html
            date_prepend = "Articolo "
            date = post.date
            title = post.title
            alt = post.title
            text = _excerpt
            link = post.url
            classes = 'u-background-grey-15'
          %}
        </div>
        {% endfor %}
        {% endcomment %}

      </div>
      {% comment %}
      <div class="u-margin-top-xl u-margin-bottom-xxl">
        <a class="Button Button--link Button--round u-borderShadow-xl u-background-white u-textClean u-color-50 u-text-r-xs u-textWeight-700 u-padding-r-all"
           href="/partecipa">Vedi tutte</a>
      </div>
      {% endcomment %}
    </div>
  </div>
  <div class="u-textCenter u-xs-margin-top-none u-xs-padding-top-none u-padding-top-xxl"
       style="margin-bottom: -4px">
    <img alt="" class="u-padding-r-left u-hidden u-md-inline u-lg-inline" role="presentation"
         src="{{ '/assets/images/blk2/robot_1.svg' | relative_url }}">
    <img alt="" class="u-padding-r-left u-hidden u-md-inline u-lg-inline" role="presentation"
         src="{{ '/assets/images/blk2/robot_3.svg' | relative_url }}">
    <img alt="" class="u-padding-r-left u-hidden u-md-inline u-lg-inline" role="presentation"
         src="{{ '/assets/images/blk2/robot_4.svg' | relative_url }}">
    <img alt="" class="u-padding-r-left u-hidden u-md-inline u-lg-inline" role="presentation"
         src="{{ '/assets/images/blk2/robot_5.svg' | relative_url }}">
    <img alt="" class="u-padding-r-left" role="presentation"
         src="{{ '/assets/images/blk2/robot_6.svg' | relative_url }}">
    <img alt="" class="u-padding-r-left" role="presentation"
         src="{{ '/assets/images/blk2/robot_7.svg' | relative_url }}">
    <img alt="" class="u-padding-r-left" role="presentation"
         src="{{ '/assets/images/blk2/robot_8.svg' | relative_url }}">
  </div>

</section>
