<section class="u-background-white u-padding-top-xxl u-xs-padding-top-none u-layout-r-withGutter">

  <!-- unnecessary decorative elements -->
  <div class="Grid u-layout-wide u-layoutCenter u-padding-top-l u-hidden u-lg-flex u-md-flex">
    <div class="Grid-cell u-md-size8of12 u-lg-size8of12 u-md-before1of12 u-lg-before1of12">

      <!-- mouse -->
      <svg width="56px" height="34px" viewBox="0 0 56 34" style="margin-bottom: -5px; margin-left: 5px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="HomeBlk1-Mouse">
            <g id="x-home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                <g id="y-home---1280up" transform="translate(-217.000000, -416.000000)" stroke="#0063CB">
                    <g id="mechanic-mouse-group" transform="translate(218.000000, 417.000000)">
                        <path d="M2.84217094e-14,17 C2.84217094e-14,17 0,22.8783169 0,27 C0,31.1216831 1.83336043,32 6,32 L54,32 C54,32 49.2679418,26.7597227 43,22" id="pancia"></path>
                        <path d="M36,17 C31.850617,14.4608818 27.1153674,13 24,13 C14,13 6,22 6,32" id="schiena"></path>
                        <path d="M43,22 C43,19.2385763 40.7614237,17 38,17 C35.2385763,17 33,19.2385763 33,22 C33,24.7614237 35.2385763,27 38,27" id="orecchio"></path>
                        <rect id="carica" x="15" y="0" width="15" height="6.25" rx="3.125"></rect>
                        <path d="M22.5,6.5 L22.5,12.5415946" id="albero"></path>
                    </g>
                </g>
            </g>
      </svg>

      <div style="border-top: 1em solid #06c">
        <div style="border-left: 1em solid #06c; height: 12em; float: left" class="u-hidden u-md-block u-lg-block"></div>
        <div style="border-right: 1em solid #06c; height: 3em; float: right" class="u-hidden u-md-block u-lg-block"></div>
      </div>
    </div>
  </div>

  <div class="Grid u-layout-wide u-layoutCenter u-padding-top-xxl u-xs-padding-top-none">
    <div class="HomeBlk1-hero Grid-cell u-sm-size10of12 u-md-size10of12 u-lg-size8of12 u-lg-before2of12">
      <h2 class="HomeBlk1-heroTitle u-text-r-xxl u-textWeight-300 u-color-teal-60 u-lineHeight-m">
        {{ t.home_hero }}<br>
        <span class="u-color-50 u-text-r-xl u-padding-top-m">{{ t.home_hero_sub }}</span>
      </h2>
    </div>
  </div>

  <div class="Grid u-layout-wide u-layoutCenter">

    <div class="HomeBlk1-plane Grid-cell u-md-size5of12 u-lg-size5of12 u-md-flex u-lg-flex">
      <img src="{{ '/assets/images/blk1/plane-shaded.svg' |relative_url }}" alt="" />
    </div>

    <div class="Grid-cell u-sm-size6of12 u-md-size4of12 u-lg-size4of12">
      <div class="u-padding-r-all">
        <h3 class="u-text-r-xxs u-textWeight-300 u-color-grey-50 u-margin-top-l u-padding-r-bottom u-lineHeight-l">
            {{ t.home_newsletter_title }}</h3>
            {% include newsletter.html %}
      </div>
    </div>

    <div class="Grid-cell u-sm-size6of12 u-md-size3of12 u-lg-size3of12">
      <div class="u-padding-r-all u-margin-r-left u-xs-margin-left-none u-xs-padding-top-none">

        <h3 class="u-text-r-xxs u-textWeight-300 u-color-grey-50 u-margin-top-l u-lineHeight-l">
            {{ t.home_medium_text }}</h3>

        <div class="HomeBlk1-medium u-padding-r-top">
          <a href="{{ page.link_to_medium }}" class="u-linkClean u-inlineBlock u-background-teal-30 u-color-white u-textWeight-600 u-padding-right-l
              u-textUppercase u-borderRadius-s u-padding-r-top u-padding-r-bottom u-borderShadow-xl">
            <span class="Icon Icon-medium u-padding-r-right u-padding-r-left u-text-r-xs"></span> {{ t.home_medium_label }}
          </a>
        </div>

      </div>
    </div>

    <div class="Grid-cell u-md-size6of12 u-lg-size5of12 u-md-before5of12 u-lg-before5of12">
      <div class="HomeBlk1-desc u-layout-prose">
        <p class="Prose u-textSecondary u-text-r-xxs u-lg-size10of12 u-md-size10of12">{{ t.home_description }}</p>
      </div>
    </div>


  </div>

</section>
