<section class="u-background-white u-padding-top-xxl u-xs-padding-top-none u-xs-padding-bottom-none u-layout-r-withGutter
  section__designkit u-padding-bottom-xxl">
    <header class="u-padding-top-xxl u-padding-bottom-l u-xs-padding-bottom-none">
            <div class="show-in-small u-textCenter"><img alt=""  src="{{ '/assets/images/toolbox.svg' | relative_url }}" ></div>
            <h2 class="u-text-r-xxl u-textWeight-700 u-color-grey-50 u-textCenter">Design KIT</h2>
            <p class="u-text-r-xl u-textWeight-300 u-color-grey-50 u-padding-top-s u-padding-bottom-s u-textCenter">
              Il design system della Pubblica Amministrazione</p>
            <p class="u-text-r-xs u-textCenter">Risorse condivise per progettare, realizzare e migliorare i servizi digitali.</p>
    </header>

    <div class="section__designkit__grid show-group-1 u-padding-r-top u-margin-r-top">
      <div class="Grid">
            <!-- intestazione -->
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 sdkit__head  hide-in-small">
        <div class="sdkit__toolbox" ><img alt=""  src="{{ '/assets/images/toolbox.svg' | relative_url }}" ></div>
      </div>
      <div data-grid-accordion="show-group-1" class="Grid-cell u-md-size1of5 u-lg-size1of5 sdkit__head sdkit__mainhead g1">
        <div><div><img alt=""  src="{{ '/assets/images/puzzle.svg' | relative_url }}" class="hide-in-small">
        <div class="mainhead-ico-small show-in-small">
        <img alt="Service-design"  src="{{ '/assets/images/puzzle-mini.svg' | relative_url }}" >
        </div>
        <a href="/service-design" class="u-color-teal-65 u-linkClean u-textWeight-400">Service design</a></div></div>
      </div>
      <div data-grid-accordion="show-group-2" class="Grid-cell u-md-size1of5 u-lg-size1of5 sdkit__head sdkit__mainhead g2">
        <div ><div><img alt=""  src="{{ '/assets/images/group.svg' | relative_url }}" class="hide-in-small" >
        <div class="mainhead-ico-small show-in-small"><img alt=""  src="{{ '/assets/images/group-mini.svg' | relative_url }}"></div>
        <a href="/user-research" class="u-color-teal-65 u-linkClean u-textWeight-400">User Research</a></div></div>
      </div>
      <div data-grid-accordion="show-group-3" class="Grid-cell u-md-size1of5 u-lg-size1of5 sdkit__head sdkit__mainhead g3">
        <div><div><img alt=""  src="{{ '/assets/images/crayons.svg' | relative_url }}" class="hide-in-small" >
        <div class="mainhead-ico-small show-in-small"><img alt=""  src="{{ '/assets/images/crayons-mini.svg' | relative_url }}" ></div>
        <a href="/user-interface" class="u-color-teal-65 u-linkClean u-textWeight-400">User Interface</a></div></div>
      </div>
      <div data-grid-accordion="show-group-4" class="Grid-cell u-md-size1of5 u-lg-size1of5 sdkit__head sdkit__mainhead g4">
        <div><div><img alt=""  src="{{ '/assets/images/cube.svg' | relative_url }}" class="hide-in-small" >
        <div class="mainhead-ico-small show-in-small"><img alt=""  src="{{ '/assets/images/cube-mini.svg' | relative_url }}" ></div>
        <a href="/content-design" class="u-color-teal-65 u-linkClean u-textWeight-400">Content Design</a></div></div>
      </div>
      <!--/intestazione-->
      <!-- body -->

      <hr class="Grid-cell u-sizeFull sdkit__hr" />

      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 sdkit__head order-2 group-1 group-2 group-3 group-4">
        <div class="sdkit__label" ><div><img alt=""  src="{{ '/assets/images/story.svg' | relative_url }}" >guide</div></div>
      </div>
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 order-3-group-1" id="service-design">
        <h3 class="u-hiddenVisually">guide service design</h3>
        <ul class="sdkit__list">
            <li><a class="u-text-r-xs" href="https://design-italia.readthedocs.io/it/stable/doc/service-design/accessibilita.html">
              L'accessibilit&agrave; dei siti web</a></li>
            <li><a href="https://design-italia.readthedocs.io/it/stable/doc/service-design/normativa.html" class="u-text-r-xs">
              Riferimenti normativi per i siti web PA 2017</a></li>
            <li><a href="https://design-italia.readthedocs.io/it/stable/doc/service-design/design-management.html" class="u-text-r-xs">
              Design management</a></li>
        </ul>
      </div>
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 order-3-group-2" id="user-research">
        <h3 class="u-hiddenVisually">guide user research</h3>
        <div >
            <ul class="sdkit__list">
                <li><a href="https://design-italia.readthedocs.io/it/stable/doc/user-research/usabilita.html" class="u-text-r-xs">
                  Usabilit&agrave;</a></li>
                <li><a href="https://design-italia.readthedocs.io/it/stable/doc/user-research/ricerche-qualitative.html" class="u-text-r-xs">
                  Sezione qualitative</a></li>
                <li><a href="https://design-italia.readthedocs.io/it/stable/doc/user-research/web-analytics.html" class="u-text-r-xs">
                  Web Analytics</a></li>
            </ul>
        </div>
      </div>
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 order-3-group-3" id="user-interface">
        <h3 class="u-hiddenVisually">guide user interface</h3>
        <div><ul class="sdkit__list">
                <li><a href="https://design-italia.readthedocs.io/it/stable/doc/user-interface.html" class="u-text-r-xs">
                  Linee Guida Design PA</a></li>
                <li><a href="#" class="u-text-r-xs">
                  Linee guida mobile ui</a></li>
                </ul>
            </div>
      </div>
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 order-3-group-4" id="content-design">
        <h3 class="u-hiddenVisually">guide content design</h3>
        <div>
            <ul class="sdkit__list">
                <li><a href="https://design-italia.readthedocs.io/it/stable/doc/content-design/architettura-dell-informazione.html" class="u-text-r-xs">Architettura dell'informazione</a></li>
                <li><a href="https://design-italia.readthedocs.io/it/stable/doc/content-design/seo.html" class="u-text-r-xs">
                  Search Engine Optimisation</a></li>
                <li><a href="https://design-italia.readthedocs.io/it/stable/doc/content-design/linguaggio.html" class="u-text-r-xs">
                  Linguaggio</a></li>
            </ul>
        </div>
      </div>

      <hr class="Grid-cell u-sizeFull sdkit__hr" />

      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 sdkit__head order-4 group-1 group-2 group-3 group-4">
        <div  class="sdkit__label" ><div><img alt=""  src="{{ '/assets/images/abacus.svg' | relative_url }}" >checklist </div></div>
      </div>
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 order-5-group-1">
        <h3 class="u-hiddenVisually">checklist service design</h3>
        <div>
            <ul class="sdkit__list">
                <li><a href="{{ site.baseurl }}{% link _checklists/it/cose-da-non-dimenticare-servizio-digitale.md %}" class="u-text-r-xs">
                  Tra tecnologia e design, le cose da non dimenticare mai quando progetti un servizio digitale</a></li>
                <li><a href="#" class="u-text-r-xs u-linkDisabled">Accessibilit&agrave;, cosa controllare?</a></li>
            </ul>
        </div>
      </div>
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 order-5-group-2">
        <h3 class="u-hiddenVisually">checklist user research</h3>
        <div >
            <ul class="sdkit__list">
                <li><a href="{{ site.baseurl }}{% link _checklists/it/servizi-digitali-a-misura.md %}" class="u-text-r-xs">
                  Servizi digitali a misura di cittadino, le domande giuste da farsi</a></li>
                </ul>
        </div>
      </div>
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 order-5-group-3">
        <h3 class="u-hiddenVisually">checklist user interface</h3>
        <div><ul class="sdkit__list">
                <li><a href="{{ site.baseurl }}{% link _checklists/it/siti-a-prova-di-smartphone.md %}" class="u-text-r-xs">Siti web a prova di smartphone, ecco alcune cose che faresti bene a non dimenticare</a></li>
            </ul>
            </div>
      </div>
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 order-5-group-4">
        <h3 class="u-hiddenVisually">checklist content design</h3>
        <div>
            <ul class="sdkit__list">
                <li><a href="#" class="u-text-r-xs u-linkDisabled">Contenuti semplici</a></li>
                <li><a href="{{ site.baseurl }}{% link _checklists/it/seo.md %}" class="u-text-r-xs">Fatti trovare. Arrivano i consigli SEO per i siti pubblici</a></li>
            </ul>
        </div>
      </div>

      <hr class="Grid-cell u-sizeFull sdkit__hr" />

      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 sdkit__head order-6 group-1 group-2 group-3 group-4">
        <div  class="sdkit__label" ><div><img alt=""  src="{{ '/assets/images/lego.svg' | relative_url }}" >bricks</div></div>
      </div>
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 order-7-group-1">
        <h3 class="u-hiddenVisually">materiale service design</h3>
        <div>
            <ul class="sdkit__list">
                <li><a href="#" class="u-text-r-xs u-linkDisabled">Materiali e template per un workshop sul service design</a></li>
            </ul>
        </div>
      </div>
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 order-7-group-2">
        <h3 class="u-hiddenVisually">materiale user research</h3>
        <div >
            <ul class="sdkit__list">
                <li><a href="{{ site.baseurl }}{% link _kits/it/analytics.md %}" class="u-text-r-xs">Modello report analytics</a></li>
                <li><a href="{{ site.baseurl }}{% link _kits/it/personas.md %}" class="u-text-r-xs">Template personas</a></li>
             </ul>
        </div>
      </div>
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 order-7-group-3">
        <h3 class="u-hiddenVisually">materiale user interface</h3>
        <div><ul class="sdkit__list">
                <li><a href="https://italia.github.io/design-web-toolkit/" class="u-text-r-xs">
                  Il web-toolkit: reference implementation delle linee guida di design</a></li>
                <li><a href="{{ page.link_to_uikit }}" class="u-text-r-xs">UI Kit</a></li>
                <li><a href="{{ page.link_to_iconkit }}" class="u-text-r-xs">Icon set</a></li>
            </ul>
            </div>
      </div>
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 order-7-group-4">
        <h3 class="u-hiddenVisually">materiale content design</h3>
        <div>
            <ul class="sdkit__list">
                <li><a href="#" class="u-text-r-xs u-linkDisabled">Kit nav-tree e content list</a></li>
                <li><a href="#" class="u-text-r-xs u-linkDisabled">Kit wireframe interattivo</a></li>
             </ul>
        </div>
      </div>

      <hr class="Grid-cell u-sizeFull sdkit__hr" />

      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 sdkit__head order-8 group-1 group-2 group-3 group-4">
        <div  class="sdkit__label" ><div><img alt=""  src="{{ '/assets/images/conversation.svg' | relative_url }}" >forum</div></div>
      </div>
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5  order-9-group-1">
        <h3 class="u-hiddenVisually">forum service design</h3>
        <div>
            <ul class="sdkit__list">
                <li><a href="https://forum.italia.it/c/design/service" class="u-text-r-xs">design/service</a></li>
            </ul>
        </div>
      </div>
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5  order-9-group-2">
        <h3 class="u-hiddenVisually">forum user research</h3>
        <div >
            <ul class="sdkit__list">
                 <li><a href="https://forum.italia.it/c/design/user-research" class="u-text-r-xs">design/user-research</a></li>
            </ul>
        </div>
      </div>
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5 order-9-group-3">
        <h3 class="u-hiddenVisually">forum user interface</h3>
        <div><ul class="sdkit__list">
                 <li><a href="https://forum.italia.it/c/design/user-interface" class="u-text-r-xs">design/user-interface</a></li>
            </ul>
            </div>
      </div>
      <div class="Grid-cell u-md-size1of5 u-lg-size1of5  order-9-group-4">
        <h3 class="u-hiddenVisually">forum content design</h3>
        <div>
            <ul class="sdkit__list">
                 <li><a href="https://forum.italia.it/c/design/content" class="u-text-r-xs">design/content</a></li>
            </ul>
        </div>
      </div>

      <!--/body-->
    </div>

    </div>

</section>
