<section class="HomeBlk2">
  <div class="HomeBlk2-stars"></div>
  <div class="HomeBlk2-stars2"></div>
  <div class="HomeBlk2-stars3"></div>
  <div class="HomeBlk2-title u-xs-padding-top-none u-padding-top-xxl u-textCenter u-color-white">
    <h1 class="u-text-r-xl u-textWeight-400 u-padding-r-top">
      Unisciti alla squadra !
    </h2>
    <p class="Prose u-padding-bottom-xxl u-padding-r-top u-color-white">Se hai progettato dei servizi digitali pubblici e vuoi condividerne il design<br>
      con la community, sei benvenuto nel <strong class="u-text-r-xs">team</strong> che abbiamo creato su <strong class="u-text-r-xs">behance</strong>
    </p>
    <p class="u-text-r-xxl u-textWeight-700 u-margin-top-xxl">be.net/italia</p>
    <p class="u-margin-top-xxs"><span class="u-textSmallCaps u-textWeight-600 u-text-r-xs">powered by</span>
      <span class="u-textWeight-700 u-text-r-s">Bēhance</span></p>
    <div class="u-margin-top-xl u-margin-bottom-xxl">
      <a class="Button Button--link Button--round u-borderShadow-xl u-background-white u-color-50 u-text-r-m u-textWeight-700">B<span class="u-textLowercase">ē</span>
        <span class="u-textSmallCaps u-textWeight-600 u-text-r-xxs u-textWeight-400">entra nel team</span></a>
    </div>
  </div>
</section>
