<section class="u-layout-r-withGutter u-background-white u-padding-top-xxl u-padding-bottom-xxl u-margin-bottom-xxl u-margin-top-xxl">
  <div class="u-layout-wide u-layoutCenter">
    <div class="Grid">
      <div class="Hero-Title Grid-cell u-sm-before2of12 u-sm-size8of12 u-md-size1of2 u-lg-size1of2">
        <div class="Hero-Title-inner">
          <h1 class="u-text-h1 u-color-grey-ui-kit u-margin-bottom-l">{{ t.hero_title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
          {{ t.hero_description | markdownify }}
        </div>
      </div>
      <div class="Grid-cell Grid-cell u-md-size5of12 u-lg-size5of12 u-lg-before1of12 u-md-before1of12">
        <div class="u-textCenter">
          <div class="plane u-margin-0auto u-block u-margin-top-xxl u-padding-all-xxl">
            <img role="presentation" alt="Aeroplano di carta, verso il futuro." src="{{ '/assets/images/blk1/plane.svg' |relative_url }}" style="width:100%;max-width:320px;height:auto">
          </div>
          <div class="u-inlineBlock" style="margin-top: -4rem;">
            <h3
              class="u-text-r-xxs u-color-grey-ui-kit u-textLeft u-padding-all-xs u-textWeight-600">
              Scopri</h3>
            <a class="u-margin-all-xxs u-inlineBlock u-textClean u-textCenter u-borderRadius-s u-background-teal-60 u-color-grey-ui-kit u-padding-all-s u-padding-right-l u-padding-left-l u-text-r-xxs u-borderShadow-m"
               href="#le-linee-guida">
              <span class="u-text-r-xxs u-textUppercase u-textWeight-700">Linee guida e manuale</span>
            </a>
            <a class="u-margin-all-xxs u-inlineBlock u-textClean u-textCenter u-borderRadius-s u-background-teal-60 u-color-grey-ui-kit u-padding-all-s u-padding-right-l u-padding-left-l u-padding-bottom-s u-text-r-xxs u-borderShadow-m"
               href="#i-design-kit">
              <span class="u-text-r-xxs u-textUppercase u-textWeight-700">Kit</span>
            </a>
            <a class="u-margin-all-xxs u-inlineBlock u-textClean u-textCenter u-borderRadius-s u-background-teal-60 u-color-grey-ui-kit u-padding-all-s u-padding-right-l u-padding-left-l u-padding-bottom-s u-text-r-xxs u-borderShadow-m"
               href="#i-modelli">
              <span class="u-text-r-xxs u-textUppercase u-textWeight-700">Modelli</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
