<section class="HomeBlk2 u-posRelative">

  <img alt="" class="u-hidden u-md-inline u-lg-inline" role="presentation"
       src="{{ '/assets/images/blk2/balloons.svg' | relative_url }}" style="position: absolute; top: 20%; left: 15%">
  <img alt="" class="u-hidden u-md-inline u-lg-inline" role="presentation"
       src="{{ '/assets/images/blk2/kite.svg' | relative_url }}" style="position: absolute; top: 20%; right: 10%">
  <img alt="" class="u-hidden u-md-inline u-lg-inline" role="presentation"
       src="{{ '/assets/images/blk2/plane.svg' | relative_url }}" style="position: absolute; top: 45%; left: 20%">
  <img alt="" class="u-hidden u-md-inline u-lg-inline" role="presentation"
       src="{{ '/assets/images/blk2/robot-flying.svg' | relative_url }}" style="position: absolute; bottom: 20%; left: 10%">
  <img alt="" class="u-hidden u-md-inline u-lg-inline" role="presentation"
       src="{{ '/assets/images/blk2/robot_8.svg' | relative_url }}" style="position: absolute; bottom: 25%; right: 10%">
  <div class="HomeBlk2-stars"></div>
  <div class="HomeBlk2-stars2"></div>
  <div class="HomeBlk2-stars3"></div>
  <div class="HomeBlk2-title u-xs-padding-top-none u-padding-top-xxl u-padding-bottom-l">
    <div class="u-layout-wide u-layoutCenter u-padding-top-m">
      <div class="u-sizeFill u-textCenter u-color-white">
        <h2 class="u-text-r-xxl u-textWeight-700 u-padding-r-top">Le notizie</h2>
      </div>

      <div class="Grid Grid--withGutter u-padding-all-l guides-grid u-posRelative">
        {%- if site.medium_feed -%}
        {%- assign posts = site.medium_feed | where: "medium_detected_lang", page.lang | sort: "medium_firstpublished_at"
        | reverse -%}
        {%- assign showThisMediumPost = site.data.medium_posts.idForHome -%}
        {%- assign mediumPost = posts[0] -%}
        {%- if showThisMediumPost != nil -%}
          {%- for findMediumPost in posts -%}
            {%- if findMediumPost.medium_post_id == showThisMediumPost -%}
              {%- assign mediumPost = findMediumPost -%}
            {% endif -%}
          {%- endfor -%}
        {%- endif -%}

        {% assign _date = mediumPost.medium_firstpublished_at | divided_by: 1000 | date: t.formatDate %}
        {% assign _excerpt = mediumPost.medium_subtitle | strip_html %}
        {% assign mediumSubtitle = mediumPost.medium_subtitle | strip_html | truncatewords: 13 %}

        {% assign _url = mediumPost.medium_url %}
        <div class="notizie-inline Grid-cell u-lg-size2of4 u-margin-top-s {% if showThisMediumPost != nil %} u-posRelative{% endif %}">
          {% include card.html
            date_prepend = "Storia "
            date = _date
            title = mediumPost.medium_title
            alt = mediumPost.medium_title
            link = _url
            text = mediumSubtitle
            link_text = "Continua su Medium"
            hasImage = true
            hasSocial = false
            rowImage = true
            image = mediumPost.medium_preview_image_url
            target = "_blank"
            classes = "u-background-grey-15"
            flatTitle = true
          %}
        </div>

        {%- endif -%}
        {% assign pinnedPosts = site.posts | where: "pinned", true %}
        {% for post in pinnedPosts limit: 2 %}
        {% assign pinnedPostsCount = pinnedPostsCount | plus: 1 %}
        {%- assign _excerpt = post.excerpt | markdownify | remove: '<p>' | remove: '</p>' -%}
        {%- assign showCategories = post.categories | where: post.homeHideCategories, false -%}
        <div class="notizie-post Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of4 u-margin-top-s u-posRelative">
          {% include card.html
            date_prepend = post.date_prepend
            date = post.date
            title = post.title
            subtitle = post.subtitle
            alt = post.title
            link = post.url
            homeBottomLink = post.homeBottomLink
            classes = 'u-background-grey-15'
            categories = showCategories
          %}
        </div>
        {% endfor %}
        {% assign normalPosts = site.posts | where: "pinned", false %}
        {% assign normalPostsToShow =  2 | minus: pinnedPostsCount %}
        {%- if normalPostsToShow > 0 -%}
        {% for post in normalPosts limit: normalPostsToShow %}
        <div class="notizie-post Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of4 u-margin-top-s">
          {% include card.html
            date_prepend = post.date_prepend
            date = post.date
            title = post.title
            subtitle = post.subtitle
            alt = post.title
            link = post.url
            homeBottomLink = post.homeBottomLink
            classes = 'u-background-grey-15'
            categories = showCategories
          %}
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="u-margin-top-xl u-margin-bottom-xxl u-textCenter">
        <a class="u-background-teal-60 u-color-grey-ui-kit u-padding-top-s u-padding-bottom-s u-text-r-xxs u-textClean u-textUppercase u-textWeight-700 u-inlineBlock u-padding-left-xxl u-padding-right-xxl u-borderRadius-s u-borderShadow-m u-margin-right-m u-margin-bottom-m"
           href="/notizie">Esplora le notizie</a>
      </div>
    </div>
  </div>
  <div class="u-textCenter u-xs-margin-top-none u-xs-padding-top-none u-padding-top-xxl"
       style="margin-bottom: -4px">
    <img alt="" class="u-padding-r-left u-hidden u-md-inline u-lg-inline" role="presentation"
         src="{{ '/assets/images/blk2/robot_1.svg' | relative_url }}">
    <img alt="" class="u-padding-r-left u-hidden u-md-inline u-lg-inline" role="presentation"
         src="{{ '/assets/images/blk2/robot_3.svg' | relative_url }}">
    <img alt="" class="u-padding-r-left u-hidden u-md-inline u-lg-inline" role="presentation"
         src="{{ '/assets/images/blk2/robot_4.svg' | relative_url }}">
    <img alt="" class="u-padding-r-left u-hidden u-md-inline u-lg-inline" role="presentation"
         src="{{ '/assets/images/blk2/robot_5.svg' | relative_url }}">
    <img alt="" class="u-padding-r-left" role="presentation"
         src="{{ '/assets/images/blk2/robot_6.svg' | relative_url }}">
    <img alt="" class="u-padding-r-left" role="presentation"
         src="{{ '/assets/images/blk2/robot_7.svg' | relative_url }}">
    <img alt="" class="u-padding-r-left" role="presentation"
         src="{{ '/assets/images/blk2/robot_8.svg' | relative_url }}">
  </div>

</section>
