@keyframes swinging {
  0% {
    transform-origin: top right;
    transform: rotate(0deg);
  }
  15% {
    transform-origin: top right;
    transform: rotate(-40deg);
  }
  30% {
    transform-origin: top right;
    transform: rotate(-20deg);
  }
  45% {
    transform-origin: top right;
    transform: rotate(-35deg);
  }
  60% {
    transform-origin: top right;
    transform: rotate(-25deg);
  }
  75% {
    transform-origin: top right;
    transform: rotate(-30deg);
  }
  to {
    transform-origin: top right;
    transform: rotate(-32deg);
  }
}

.logo:hover {
  animation: swinging 4s ease-in-out forwards;
}
