// $enable-smooth-scroll: false; // xxx forced to disable default BI behaviour testing

// :root {
//   scroll-behavior: auto !important;
// }

p {
  max-width: 75ch;
}

.design-system .text-image-cta .content img {
  border: 1px solid hsl(210, 4%, 78%);
}

div.chips-list-wrapper {
  ul.chips-list {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.5;
  }
}

.it-footer-main {
  .chip.chip-primary {
    border-color: var(--kangaroo-negative-element-color);
    &:active {
      border-color: var(--kangaroo-negative-element-color);
    }
    &:hover {
      background-color: var(--color-primary-active);
    }
    .chip-label {
      color: var(--kangaroo-negative-element-color)
    }
  }
  .btn-dropdown {
    color: var(--kangaroo-negative-element-color)
  }
}

@include media-breakpoint-up(lg) {
  .design-system {
    #main.col-lg-9 {
      width:80%;
    }
    .menu-column.col-lg-3 {
      width:20%;
    }
  }
}

@include media-breakpoint-down(sm) {
  .vjs-remaining-time {
    display: none;
  }

  .vjs-picture-in-picture-control {
    display: none !important;
  }

  .vjs-control-bar {
    overflow: hidden;
  }

  .video-js .vjs-control {
    width: 3.5em;
  }
}