$enable-smooth-scroll: false; // xxx forced to disable default BI behaviour testing

:root {
  scroll-behavior: auto !important;
}

p, .content ul {
  max-width: 75ch;
}

p code {
  background-color: $color-background-muted;
  padding: 2px 4px;
  border-radius: $border-radius;
}

.design-system .text-image-cta .content img {
  border: 1px solid hsl(210, 4%, 78%);
}

div.chips-list-wrapper {
  ul.chips-list {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.5;
  }
}

.it-footer-main {
  .chip.chip-primary {
    border-color: var(--kangaroo-negative-element-color);
    color: var(--kangaroo-negative-element-color);
    &:active {
      border-color: var(--kangaroo-negative-element-color);
    }
    &:hover {
      background-color: var(--color-primary-active);
    }
    .chip-label {
      color: var(--kangaroo-negative-element-color)
    }
  }
  .btn-dropdown {
    color: var(--kangaroo-negative-element-color)
  }
}

@include media-breakpoint-up(lg) {
  .design-system {
    #main.col-lg-9 {
      width:80%;
    }
    .menu-column.col-lg-3 {
      width:20%;
    }
  }
}

[id] {
 @media (min-width: #{map-get($grid-breakpoints, lg)}) {
   scroll-margin-top: $header-center-max-height;
 }
 scroll-margin-top: $header-center-max-height-mob + 48;
}

// special chips with numeric rounded-pill badge inside ("argomenti")
.chips-list-wrapper {
  .chips-list {
    .chip-simple {
      span.badge {
        &.rounded-pill {
          transform: translateY(-1px);
        }
      }

      &:hover {
        span.badge {
          &.rounded-pill {
            &.bg-primary {
              background-color: white !important;
              color: var(--primary-color);
            }
          }
        }
      }
    }
  }
}