$enable-smooth-scroll: false; // xxx forced to disable default BI behaviour xxx testing
:root {
  scroll-behavior: auto !important;
}

p {
  max-width:75ch;
}

div.chips-list-wrapper {
  ul.chips-list {
    list-style-type: none;
    padding-left: 0;
  }
}
