
//mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(sm) {

}
//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {

}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {

}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {
	.px-lg-6 {
    padding-left: calc(var(--spacer) * 20) !important;
    padding-right: calc(var(--spacer) * 20) !important;
  }
  .py-lg-6 {
    padding-top: calc(var(--spacer) * 20) !important;
    padding-bottom: calc(var(--spacer) * 20) !important;
  }
  .px-lg-7 {
    padding-left: calc(var(--spacer) * 24) !important;
    padding-right: calc(var(--spacer) * 24) !important;
  }
  .py-lg-7 {
    padding-top: calc(var(--spacer) * 24) !important;
    padding-bottom: calc(var(--spacer) * 24) !important;
  }
}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {

}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {
}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}
