:root {
	//-spacing
	--spacer: 4px;
	//-colors
	--color-primary: #0066CC;
	--color-secondary: #365066;
   	--color-accent: #089994;
	--bs-light-rgb: 242,247,252;
	--bs-medium-rgb: 191,223,255;
	--bs-dark-rgb: 23,50,77;
	//-tags
	--tag-bg-color: #5C6F82;
	--tag-color: #FFF;
	--tag-radius: 4px;
	--tag-x-padding:16px;
	--tag-y-padding:4px;
	--tag-font-weight:600;
	--tag-font-size:0.7777777777777778rem;
	//-highlights
	--hl-x-padding-mob: 45px;
	--hl-y-padding-mob: 65px;
	--hl-x-padding-desk: 96px;
	--hl-y-padding-desk: 135px;
	--hl-title-font-size: 1.7777777777777777rem;
	--hl-sub-title-font-size: 1.3333333333333333rem;
	--hl-button-distance-mob: 20px;
	--hl-button-distance-desk: 40px;
	--hl-button-y-margin-mob: 8px;
	--hl-button-x-margin-desk: 16px;
	--hl-dark-theme-color: #FFF;
	//-card
	--card-shadow-color: 0,0,0;
	--card-box-shadow: 0px 16px 48px 0px rgba(var(--card-shadow-color), 0.15);
	--card-title-size: 1.5555555555555556rem;
	--card-text-mb: 20px;
	--card-p-size:0.8888888888888888rem;
	--card-title-fw: 600;
	--card-author-size: 0.7777777777777778rem;
	--card-footer-mt:32px;
	--card-date-overlay-height:72px;
	--card-date-overlay-width:80px;
	--card-date-overlay-bg:#F2F7FC;
	--card-date-overlay-day-font-size:1.3333333333333333rem;
	--card-date-overlay-month-font-size:0.7777777777777778rem;
	--card-date-overlay-border-radius: 4px;
	--card-date-overlay-border-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
	--card-date-overlay-distance: 24px;
	--card-icon-overlay-height:56px;
	--card-icon-overlay-width:56px;
	--card-icon-overlay-bg:#F2F7FC;
	--card-icon-overlay-border-radius: 4px;
	--card-icon-overlay-border-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
	--card-icon-overlay-distance: 24px;
	--card-icon-img-size:128px;
	--card-icon-img-border-bottom:1px solid #C5C7C9;
	--card-icon-img-y-padding:42px;
	//-chips
	--chip-font-size: 0.7777777777777778rem;
	--chip-secondary-border-color: rgba(212, 212, 212, 1);
	--chip-x-padding: 24px;
	//-simple-cta
	--simple-cta-color: var(--color-primary);
	--simple-cta-size: 0.7777777777777778rem;
	--simple-cta-mb: 20px;
  //-breadcrumbs
  --breadcrumbs-bg-primary-color: #FFF;
  //-hero
  --hero-bg-primary-color: #FFF;
  --hero-subtitle-size: 1.33rem;
  --hero-bottom-text-mt: 2.22rem;
  --hero-pretext-color:var(--color-secondary);
  //-footer
  --footer-title-font-size:1rem;
}
