:root {
	//-spacing
	--spacer: 4px;
	//-colors
	--color-primary: #0066CC;
	--color-light: #F2F7FC;
	--color-medium: #BFDFFF;
	--color-dark: #17324D;
  --color-accent: #089994;
	//-tags
	--tag-bg-color: #5C6F82;
	--tag-color: #FFF;
	--tag-radius: 4px;
	--tag-x-padding:16px;
	--tag-y-padding:4px;
	--tag-font-weight:600;
	--tag-font-size:0.7777777777777778rem;
	//-highlights
	--hl-x-padding-mob: 45px;
	--hl-y-padding-mob: 65px;
	--hl-x-padding-desk: 96px;
	--hl-y-padding-desk: 135px;
	--hl-title-font-size: 1.7777777777777777rem;
	--hl-sub-title-font-size: 1.3333333333333333rem;
	--hl-button-distance-mob: 20px;
	--hl-button-distance-desk: 40px;
	--hl-button-y-margin-mob: 8px;
	--hl-button-x-margin-desk: 16px;
	--hl-dark-theme-color: #FFF;
}
