:root {
	//-spacing
	--spacer: 4px;
  	//-fonts
  	--font-serif:"Lora", Georgia, serif;
	//-colors
	--color-primary: #0066CC;
  	--color-primary-active: #003366;
	--color-secondary: #2F475E; //color-text-secondary
  	--color-hover: #004d99; //color-text-primary-hover
  	--color-accent: #089994;
  	--color-primary-light:#BFDFFF;
	--bs-light-rgb: 242,247,252;
	--bs-medium-rgb: 191,223,255;
	--bs-dark-rgb: 23,50,77;
	//-tags
	--tag-bg-color: #5C6F82;
	--tag-color: #FFF;
	--tag-radius: 4px;
	--tag-x-padding:16px;
	--tag-y-padding:4px;
	--tag-font-weight:600;
	--tag-font-size:0.7777777777777778rem;
	//-highlights
	--hl-x-padding-mob: 45px;
	--hl-y-padding-mob: 65px;
	--hl-x-padding-desk: 96px;
	--hl-y-padding-desk: 135px;
	--hl-title-font-size: 1.7777777777777777rem;
	--hl-sub-title-font-size: 1.3333333333333333rem;
	--hl-button-distance-mob: 20px;
	--hl-button-distance-desk: 40px;
	--hl-button-y-margin-mob: 8px;
	--hl-button-x-margin-desk: 16px;
	--hl-dark-theme-color: #FFF;
	//-card
	--card-shadow-color: 0,0,0;
	--card-box-shadow: 0px 16px 48px 0px rgba(var(--card-shadow-color), 0.15);
	--card-title-size: 1.5555555555555556rem;
	--card-title-lh: 1.1428571428571428;
	--card-title-size-small: 1rem;
	--card-title-size-big: 1.7777777777777777rem;
	--card-title-lh-small: 1.333333333333333;
	--card-text-mb: 20px;
	--card-p-size:0.8888888888888888rem;
	--card-title-fw: 600;
	--card-more-info-size: 0.7777777777777778rem;
	--card-footer-mt:32px;
  	--card-image-bg:#fff;
	--card-date-overlay-height:72px;
	--card-date-overlay-width:80px;
	--card-date-overlay-bg:#F2F7FC;
	--card-date-overlay-day-font-size:1.3333333333333333rem;
	--card-date-overlay-month-font-size:0.7777777777777778rem;
	--card-date-overlay-border-radius: 4px;
	--card-date-overlay-border-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
	--card-date-overlay-distance: 24px;
	--card-icon-overlay-height:56px;
	--card-icon-overlay-width:56px;
	--card-icon-overlay-bg:#F2F7FC;
	--card-icon-overlay-border-radius: 4px;
	--card-icon-overlay-border-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
	--card-icon-overlay-distance: 24px;
	--card-icon-img-size:128px;
	--card-icon-img-border-bottom:1px solid #C5C7C9;
	--card-icon-img-y-padding:42px;
  	--card-image-negative-margin: 24px;
	//-chips
	--chip-font-size: 0.7777777777777778rem;
	--chip-secondary-border-color: rgba(212, 212, 212, 1);
	--chip-x-padding: 24px;
	//-simple-cta
	--simple-cta-color: var(--color-primary);
  	--simple-cta-color-hover: #0052a3;
	--simple-cta-size: 0.7777777777777778rem;
	//-breadcrumbs
	--breadcrumbs-bg-primary-color: #FFF;
	//-hero
	--hero-bg-primary-color: #FFF;
	--hero-subtitle-size: 1.33rem;
	--hero-bottom-text-mt: 2.22rem;
	--hero-pretext-color:var(--color-secondary);
	--hero-kangaroo-zone-border-top:1px solid #C5C7C9;
	//-footer
	--footer-title-font-size:1rem;
	--footer-utilities-border-top: 1px solid #FFF;
	--footer-bg-color:#004D99;
	--footer-small-bg-color: #003366;

	//kangaroo
	--kangaroo-title-font-size:0.83rem;
	--kangaroo-negative-element-color: #FFF;
	//section editorial
	--section-editorial-y-padding:48px;
	--section-editorial-y-padding-desk:96px;
	--section-editorial-intro-text-size: 1.333333333333rem;

	//-search-main
	--search-main-border: 1px solid #C5C7C9;
	--search-main-radius: 8px;
	--search-main-padding-top:42px;
	//-testimonials
	--testimonials-icon-size: 128px;
	--testimonials-icon-inside-size: 50px;
}
