@import "../../scss/bootstrap-breakpoints";
.section-editorial {
  padding-top: var(--section-editorial-y-padding);
  padding-bottom: var(--section-editorial-y-padding);
  h2.mb-0 + .text-image-cta {
    margin-top: 48px;
  }
  .text-container {
    p {
      font-size: var(--section-editorial-intro-text-size);
    }
    & + .text-image-cta {
      p img {
        margin-top: 0;
      }
    }
  }
  .sidebar-wrapper .sidebar-linklist-wrapper .link-list-wrapper ul li a:not(.active) {
    font-weight: normal;
  }
  .sidebar-wrapper.affix-top {
    top: 42px;
  }
  &.bg-primary-light {
    background-color: var(--color-primary-light);
  }

}
//Mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(sm) {

}
//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {

}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {

}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {
  .section-editorial {
    padding-top: var(--section-editorial-y-padding-desk);
    padding-bottom: var(--section-editorial-y-padding-desk);
  }
}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {
}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {
}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}
