
@import "../../scss/bootstrap-breakpoints";

.numbers {
  .icon {
    fill: var(--color-accent);
    flex-shrink: 0;
  }
  .number {
    color: var(--color-accent);
    line-height: 1;
  }
  .label {
    line-height: 1.3;
  }
}

.section-editorial {
  .numbers-wrapper {
    margin-bottom: calc(var(--spacer) * 8);
  }
}

//Mobile only ------------------------------------------------------------------------------------------
@include media-breakpoint-down(xs) {
  .numbers {
    .icon {
      width: 42px;
      height: 42px;
    }
  }
}
//Small tablet ------------------------------------------------------------------------------------------
@include media-breakpoint-up(sm) {
  .numbers {
    width: 50%;
 }
}

//Tablet portrait ---------------------------------------------------------------------------------------
@include media-breakpoint-up(md) {

}

//Tablet landscape --------------------------------------------------------------------------------------
@include media-breakpoint-up(lg) {
  .numbers-wrapper {
    &.inline-numbers {
      .numbers {
        width: 25%;
      }
    }
  }
}

//Laptop ------------------------------------------------------------------------------------------------
@include media-breakpoint-up(xl) {
}

//Desktop -----------------------------------------------------------------------------------------------
@include media-breakpoint-up(xxl) {
}

//Hover states ------------------------------------------------------------------------------------------
@media (hover: hover) {
}

//Transitions (A11y reduced motion disabled) ------------------------------------------------------------
@media screen and (prefers-reduced-motion: no-preference) {
}
